Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

.pre-commit-config.yaml:

# Pre-commit configuration for Vana project
# See https://pre-commit.com for more information

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-pyyaml]
        args: [--strict, --ignore-missing-imports]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, app/, -ll]
        exclude: tests/

  # General formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words-list=rouge,DAA,deques]
        exclude: |
          (?x)^(
              .*\.lock|
              .*node_modules/.*|
              .*\.venv/.*|
              .*venv/.*|
              .*\.ipynb
          )$

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091]  # Ignore sourcing of non-existent files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  # Frontend (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Custom ADK compliance checks
  - repo: local
    hooks:
      - id: adk-compliance
        name: ADK Compliance Check
        entry: python scripts/adk_helpers/adk_compliance_check.py
        language: system
        files: ^app/.*\.py$
        pass_filenames: false

# Configuration
default_stages: [commit, push]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      .*node_modules/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.git/.*|
      .*__pycache__/.*|
      .*\.mypy_cache/.*|
      .*\.pytest_cache/.*|
      .*\.ruff_cache/.*|
      frontend/\.next/.*|
      frontend/out/.*
  )$

Update .github/workflows/test-gcp-auth.yml
  .github/workflows/test-gcp-auth.yml
Due: none

Update Dockerfile.local
  Dockerfile.local
Due: none

fix: update local-build workflow to use Docker Compose v2 CLI syntax
  .github/workflows/local-build.yml
Due: none

Update docs/UI_FIX_MASTER_PLAN.md
  docs/UI_FIX_MASTER_PLAN.md
Due: none

Update docs/truth-verification-implementation-guide.md
  docs/truth-verification-implementation-guide.md
Due: none

fix: add verification folder to match truth-verification-implementation-guide references
  frontend/verification/.gitkeep
Due: none

Update scripts/verify-components.js
  scripts/verify-components.js
Due: none

Update scripts/truth-verify.js
  scripts/truth-verify.js
Due: none

Update scripts/verify-performance.js
  scripts/verify-performance.js
Due: none

Update frontend/src/components/canvas/canvas-export-dialog.tsx
  frontend/src/components/canvas/canvas-export-dialog.tsx
Due: eslint, typescript-check

Update frontend/package.json
  frontend/package.json
Due: none

Update docs/ui-pattern-research-report.md
  docs/ui-pattern-research-report.md
Due: none

fix: make performance verification URL configurable via environment variables
  scripts/verify-performance.js
Due: none

fix: resolve critical JSON syntax errors in frontend/package.json
  frontend/package.json
Due: none

fix: resolve critical security vulnerabilities in chat interface SSE handlers
  frontend/src/components/chat/chat-interface.tsx
Due: eslint, typescript-check

fix: resolve CI blocking issues in PR #155
  app/auth/google_cloud.py
  pyproject.toml
Due: adk-compliance

feat: redesign UI to match Gemini interface
  frontend/playwright.config.ts
  frontend/postcss.config.mjs
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/layout/app-layout.tsx
  frontend/src/components/providers/theme-provider.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/icons.tsx
  frontend/src/components/ui/toggle-group.tsx
  frontend/src/components/ui/toggle.tsx
  frontend/tailwind.config.ts
  frontend/tests/UI_TEST_PLAN.md
Due: eslint, typescript-check

chore: add test configuration and archive documentation
  frontend/archive/docs/UI-AUDIT.md
  frontend/archive/docs/UI_COMPONENT_COMPLIANCE_REPORT.md
  frontend/archive/reports/UI_TEST_RESULTS_REPORT.md
  frontend/archive/reports/VISUAL_VALIDATION_REPORT.md
  frontend/archive/scripts/frontend-fix.sh
  frontend/archive/scripts/kill-ports.sh
  frontend/archive/scripts/start-dev.sh
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/next.config.ts
  frontend/package.json
  tests/e2e/visual-validation.spec.ts
Due: eslint, typescript-check

chore: update dependencies and archive environment files
  archive/.env.production
  archive/docs/ENVIRONMENT.md
  package-lock.json
  package.json
  uv.lock
Due: none

chore: remove frontend package-lock.json (using root lock file)
  frontend/package-lock.json
Due: none

fix: add mobile sidebar trigger and default open state
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Due: eslint, typescript-check

fix: implement CodeRabbit suggestions for better cross-browser support
  frontend/src/app/globals.css
Due: none

fix: convert PostCSS config to CommonJS format
  frontend/postcss.config.js
  frontend/postcss.config.mjs
Due: eslint
