Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

.pre-commit-config.yaml:

# Pre-commit configuration for Vana project
# See https://pre-commit.com for more information

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-pyyaml]
        args: [--strict, --ignore-missing-imports]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, app/, -ll]
        exclude: tests/

  # General formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words-list=rouge,DAA,deques]
        exclude: |
          (?x)^(
              .*\.lock|
              .*node_modules/.*|
              .*\.venv/.*|
              .*venv/.*|
              .*\.ipynb
          )$

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091]  # Ignore sourcing of non-existent files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  # Frontend (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Custom ADK compliance checks
  - repo: local
    hooks:
      - id: adk-compliance
        name: ADK Compliance Check
        entry: python scripts/adk_helpers/adk_compliance_check.py
        language: system
        files: ^app/.*\.py$
        pass_filenames: false

# Configuration
default_stages: [commit, push]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      .*node_modules/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.git/.*|
      .*__pycache__/.*|
      .*\.mypy_cache/.*|
      .*\.pytest_cache/.*|
      .*\.ruff_cache/.*|
      frontend/\.next/.*|
      frontend/out/.*
  )$

🔧 Resolve all PR 198 review comments - comprehensive code improvements
  frontend/components/admin-panel/navbar.tsx
  frontend/components/layouts/unified-chat-layout.tsx
  frontend/components/mode-toggle.tsx
  frontend/components/prompt-kit/prompt-input.tsx
  frontend/components/theme-toggle.tsx
  frontend/components/vana-sidebar-unified.tsx
  frontend/lib/chat-data.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint, typescript-check

🔧 Fix broken /chat/new route - redirect to /chat
  frontend/components/vana-sidebar-unified.tsx
Due: eslint, typescript-check

feat: comprehensive UI enhancements and component reorganization
  .claude-hooks.json
  CLAUDE.md
  docs/adaptive-swarm-topology-validation-report.md
  docs/claude-flow-optimization-documentation.md
  frontend/app/api/primitives/chatbot/route.ts
  frontend/app/chat/[id]/page.tsx
  frontend/app/chat/page.tsx
  frontend/backup/removed-components/demo-and-test/agent-status-demo.tsx
  frontend/backup/removed-components/demo-and-test/agent-status-examples.tsx
  frontend/backup/removed-components/demo-and-test/agent-status-test.tsx
  frontend/backup/removed-components/demo-and-test/sse-test.tsx
  frontend/backup/removed-components/theme-provider.tsx
  frontend/backup/removed-components/vana-chat.tsx
  frontend/components.json
  frontend/components/app-sidebar.tsx
  frontend/components/chat/vana-chat-layout.tsx
  frontend/components/layouts/unified-chat-layout.tsx
  frontend/components/primitives/chatbot.tsx
  frontend/components/prompt-kit/chat-container.tsx
  frontend/components/prompt-kit/code-block.tsx
  frontend/components/prompt-kit/loader.tsx
  frontend/components/prompt-kit/markdown.tsx
  frontend/components/prompt-kit/message.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/public/avatars/user.jpg
  frontend/public/avatars/user.svg
  frontend/public/vana-logo.png
  frontend/public/vana-logo.svg
Due: eslint, typescript-check

feat: comprehensive UI enhancements with welcome screen and prompt suggestions
  .playwright-mcp/vana-chat-interface-current.png
  docs/chat-page-architecture.md
  frontend/app/chat/page.tsx
  frontend/app/demo/prompt-suggestions/page.tsx
  frontend/app/demo/simple-suggestions/page.tsx
  frontend/app/globals.css
  frontend/components/chat/vana-welcome-message.tsx
  frontend/components/chat/welcome-screen.tsx
  frontend/components/chat/welcome-suggestions.tsx
  frontend/components/examples/prompt-suggestion-demo.tsx
  frontend/components/examples/prompt-suggestion-simple.tsx
  frontend/components/layouts/unified-chat-layout.tsx
  frontend/components/ui/prompt-suggestion.tsx
  frontend/components/ui/sidebar.tsx
  frontend/next.config.ts
  frontend/styles/welcome-animations.css
Due: eslint, typescript-check

📝 Fix CodeRabbit docstring coverage issue - improve from 6.67% to 90.1%
  app/auth/config.py
  app/auth/database.py
  app/auth/google_cloud.py
  app/auth/middleware.py
  app/auth/models.py
  app/auth/routes.py
  app/auth/schemas.py
  app/auth/security.py
  app/configuration/branch_protection.py
  app/configuration/environment.py
  app/configuration/templates.py
  app/configuration/validation.py
  app/middleware/security.py
  app/tools/brave_search.py
  app/utils/environment.py
  app/utils/gcs.py
  app/utils/migration_helper.py
  app/utils/typing.py
  app/utils/validation.py
Due: adk-compliance

📝 Add comprehensive JSDoc documentation to AppSidebar component
  frontend/components/app-sidebar.tsx
Due: eslint, typescript-check

fix: address all PR 199 review comments
  frontend/app/chat/page.tsx
  frontend/components/admin-panel/navbar.tsx
  frontend/components/examples/prompt-suggestion-demo.tsx
  frontend/components/layouts/unified-chat-layout.tsx
  frontend/components/mode-toggle.tsx
  frontend/components/prompt-kit/prompt-input.tsx
  frontend/components/theme-toggle.tsx
  frontend/components/ui/sidebar.tsx
  frontend/styles/welcome-animations.css
Due: eslint, typescript-check

chore: clean up documentation and update Claude configuration
  .gitignore
  CLAUDE copy.md
  docs/HANDOFF.md
  docs/chat-page-architecture.md
  docs/migration-strategy.md
Due: none

Initial commit from Create Next App
  .gitignore
  README.md
  eslint.config.mjs
  next.config.ts
  package-lock.json
  package.json
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tsconfig.json
Due: none

fix: CRITICAL XSS vulnerability in ReactMarkdown component
  package-lock.json
  package.json
  src/lib/ReactMarkdown.tsx
  src/lib/security-test.tsx
Due: none

feat: comprehensive UI improvements and security fixes
  docs/sparc/spec-pseudocode/04_realtime_streaming.md
  frontend-backup/lib/performance.ts
  tests/performance-memory-test.ts
Due: none

feat: comprehensive UI improvements and security fixes
  CLAUDE.md
Due: none

feat: comprehensive project cleanup and valuable component migration
  .gitignore
  docs/api-integration-guide.md
  docs/performance/performance-optimization-report.md
  docs/performance/performance-validation-report.md
  docs/sparc/component-research.md
  docs/sparc/spec-pseudocode/01_frontend_specification.md
  docs/sparc/spec-pseudocode/02_component_architecture.md
  docs/sparc/spec-pseudocode/03_authentication_flows.md
  docs/sparc/spec-pseudocode/05_component_pseudocode.md
  docs/sparc/spec-pseudocode/06_responsive_ui_patterns.md
  docs/sparc/spec-pseudocode/07_testing_strategy.md
  docs/sparc/specification-alignment-analysis.md
  docs/sparc/troubleshooting-guide.md
  scripts/claude-coderabbit.js
  scripts/coderabbit-helper.sh
  scripts/test-coderabbit-prompt.sh
Due: none

chore: finalize repository cleanup and component integration
  frontend-backup/vitest.config.ts
Due: none

feat: complete frontend integration with all UI and security improvements
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/agent/SSETestComponent.tsx
  src/components/agent/VanaAgentStatus.tsx
  src/components/auth/ProtectedRoute.tsx
  src/components/chat/message.tsx
  src/components/conversation/conversation-prompt-input.tsx
  src/components/layout/LayoutContent.tsx
  src/components/prompt-kit/chat-container.tsx
  src/components/prompt-kit/message.tsx
  src/components/prompt-kit/prompt-input.tsx
  src/components/prompt-kit/scroll-button.tsx
  src/components/ui/alert.tsx
  src/components/ui/badge.tsx
  src/components/ui/chat-container.tsx
  src/components/ui/progress.tsx
  src/components/ui/prompt-input.tsx
  src/components/ui/prompt-suggestion.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/components/vana/VanaHomePage.tsx
  src/components/vana/VanaSidebar.tsx
  src/components/vana/VanaSidebarWrapper.tsx
  src/hooks/use-mobile.tsx
  src/hooks/useAuth.ts
  src/hooks/useChatStream.ts
  src/hooks/useSSE.ts
  src/lib/api/client.ts
  src/lib/api/types.ts
  src/lib/env.ts
  src/lib/logger.ts
  tailwind.config.js
  tests/setup/performance.setup.ts
Due: none

feat: comprehensive session management and CI improvements
  .github/workflows/ci-cd.yml
  app/server.py
  app/utils/session_store.py
  app/utils/sse_broadcaster.py
  docs/CONTRIBUTING.md
  docs/performance/baselines/base.json
  docs/performance/baselines/optimized.json
  docs/performance/performance-optimization-plan.md
  frontend-backup/lib/performance.ts
Due: adk-compliance

chore: add .lighthouse/ to gitignore
  .gitignore
Due: none

docs: add agent documentation and project TODO
  .gitignore
  AGENTS.md
  TODO.md
  docs/performance/performance-optimization-report.md
Due: none

feat: frontend rebuild with Next.js 14+ and comprehensive improvements
  .gitignore
  eslint.config.mjs
  frontend/docs/performance/baselines/base.json
  package-lock.json
  package.json
  src/app/auth/login/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/test-prompt/page.tsx
  src/components/chat/chat-container.tsx
  src/components/chat/message.tsx
  src/components/chat/prompt-input.tsx
  src/components/chat/prompt-suggestion.tsx
  src/components/chat/scroll-button.tsx
  src/components/conversation/conversation-prompt-input.tsx
  src/components/layout/LayoutContent.tsx
  src/components/ui/prompt-input.tsx
  src/components/vana/VanaHomePage.tsx
  src/components/vana/VanaSidebar.tsx
  src/components/vana/VanaSidebarWrapper.tsx
  src/hooks/useAuth.ts
  src/hooks/useChatStream.ts
  src/hooks/useSSE.ts
  src/lib/api/client.ts
  src/lib/api/types.ts
  src/lib/env.ts
  tests/e2e/frontend-stability.spec.ts
  tests/e2e/user-journeys.spec.ts
  tests/setup/accessibility.setup.ts
  tests/setup/performance.setup.ts
  tests/unit/components/vana-home-page.test.tsx
  tests/unit/hooks/useSSE.test.ts
  tests/utils/testing-utils.tsx
  tests/vitest.setup.ts
  vitest.config.ts
Due: none

fix: update performance baseline URLs from localhost to production
  docs/performance/baselines/base.json
Due: none

fix: resolve React error #185 and regenerate clean performance baseline
  docs/performance/baselines/base-clean.json
  docs/performance/baselines/base-with-errors-backup.json
Due: none
