Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

vana-naming-check:
  name: VANA Tool Naming Convention Check
  entry: python scripts/lint/check_vana_naming.py
  language: python
  pass_filenames: true

vana-poetry-only:
  name: Prevent pip usage (Poetry only)
  entry: pip install|pip3 install
  language: pygrep

vana-tool-registration:
  name: VANA Tool Registration Pattern Check
  entry: python scripts/lint/check_tool_registration.py
  language: python
  pass_filenames: true

vana-hardcoded-paths:
  name: Check for hardcoded paths
  entry: (/Users/nick/|C:\\Users\\|/home/nick/)
  language: pygrep

🔧 Phase 2.2: Standardize import order (E402) - 11 files fixed
  agents/vana/team_original.py
  dashboard/testing/run_dashboard_tests.py
  lib/mcp_server/server.py
  poetry.lock
  pyproject.toml
  scripts/memory_diagnostic.py
  tests/agentic_validation/local_function_tests.py
  tests/coordination/coordination_benchmarks.py
  tests/eval/agent_evaluator.py
  tests/eval/run_evaluation.py
  tests/run_all_tests.py
  tests/validate_framework.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🔧 Phase 2.3: Whitespace cleanup (W291/W293/W391/W292) - 316 issues fixed
  agents/vana/team_original.py
  dashboard/testing/run_dashboard_tests.py
  memory/__init__.py
  poetry.lock
  pyproject.toml
  scripts/memory_diagnostic.py
  smart_system_validation.py
  tests/agentic_validation/local_function_tests.py
  tests/coordination/coordination_benchmarks.py
  tests/eval/agent_evaluator.py
  tests/eval/run_evaluation.py
  tests/run_all_tests.py
  tests/validate_framework.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Phase 2.4: Line length fixes - 89 issues fixed, 59% total reduction achieved
  agents/memory/specialist_memory_manager.py
  agents/vana/team_original.py
  dashboard/components/adk_memory_dashboard.py
  dashboard/testing/run_dashboard_tests.py
  lib/_tools/specialist_tools.py
  poetry.lock
  pyproject.toml
  scripts/memory_diagnostic.py
  scripts/run_optimized_search.py
  smart_system_validation.py
  tests/agentic_validation/local_function_tests.py
  tests/coordination/coordination_benchmarks.py
  tests/eval/agent_evaluator.py
  tests/eval/run_evaluation.py
  tests/run_all_tests.py
  tests/validate_framework.py
  tools/monitoring/circuit_breaker.py
  tools/resilience/circuit_breaker.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🔧 CRITICAL FIX: Restore dependencies and fix main.py function call
  main.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/HANDOFF_CODE_QUALITY_PHASE_2_COMPLETE_2025_06_14.md
  poetry.lock
  pyproject.toml
Due: vana-poetry-only, vana-hardcoded-paths

🔧 Phase 3.1: Remove unused variables (F841) - 44 issues fixed
  agents/code_execution/specialist.py
  agents/specialists/agent_tools.py
  agents/workflows/iterative_refinement_workflow.py
  dashboard/components/system_health.py
  dashboard/monitoring/adk_memory_monitor.py
  lib/_shared_libraries/task_router.py
  lib/_shared_libraries/vana_optimizer.py
  lib/_tools/agent_tools.py
  lib/_tools/standardized_system_tools.py
  scripts/expand_knowledge_base.py
  scripts/initialize_memory.py
  scripts/validate_adk_memory_config.py
  setup_vana_environment.py
  tests/discovery/system_discovery_framework.py
  tests/e2e/scenarios/basic_conversation.py
  tests/e2e/scenarios/memory_retrieval.py
  tests/eval/agent_evaluator.py
  tests/eval/performance_benchmarks.py
  tests/performance/performance_suite.py
  tests/validate_framework.py
  tools/document_processing/migration_utils.py
  tools/enhanced_hybrid_search.py
  tools/resilience/circuit_breaker.py
  validate_vana_setup.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🔧 Phase 3.2: Improve error handling (E722) - 3 issues fixed
  tools/adk_wrapper.py
  tools/document_processing/document_validator.py
Due: vana-poetry-only, vana-hardcoded-paths

🔧 Phase 3.3: Fix undefined logger issues (F821) - 4 issues fixed
  scripts/evaluate_search_quality.py
  scripts/process_document_diffs.py
Due: vana-poetry-only, vana-hardcoded-paths

📋 PHASE 3 COMPLETE + REMOTE AGENT TASK ASSIGNMENTS
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/HANDOFF_CODE_QUALITY_PHASE_3_COMPLETE_2025_06_14.md
  memory-bank/01-active/QUICK_TASK_SUMMARY_FOR_REMOTE_AGENTS.md
  memory-bank/01-active/REMOTE_AGENT_TASK_ASSIGNMENTS_2025_06_14.md
Due: none

🎉 INTEGRATE AGENT 1 WORK: Apply automated whitespace fixes + f-string optimization
  lib/_tools/orchestrated_specialist_tools.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🔧 Agent 2: Tools and utilities cleanup - 6 issues fixed
  tools/adk_wrapper.py
  tools/document_processing/semantic_chunker.py
  tools/knowledge_graph/knowledge_graph_manager.py
  tools/memory/agent_integration.py
  tools/memory/ragie_client.py
  tools/vector_search/vector_search_client.py
Due: vana-poetry-only, vana-hardcoded-paths

PR Review Complete: Agent 2 Scope Completion Required
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/AGENTS_2_3_4_UPDATED_INSTRUCTIONS.md
  memory-bank/01-active/AGENT_1_INTEGRATION_COMPLETE_2025_06_14.md
  memory-bank/01-active/AGENT_2_SCOPE_COMPLETION_REQUEST.md
  memory-bank/01-active/PR_63_REVIEW_AGENT_2_UNDERPERFORMANCE.md
  memory-bank/01-active/QUICK_TASK_SUMMARY_FOR_REMOTE_AGENTS.md
Due: none

🔧 Agent 2: Complete Tools & Utilities Cleanup - Full Scope Execution
  tools/memory/agent_integration.py
Due: vana-poetry-only, vana-hardcoded-paths

🔧 Agent 4: Complete Agents & Dashboard Cleanup - 107 Issues Fixed
  after_agent4_cleanup.txt
  agents/code_execution/specialist.py
  agents/data_science/specialist.py
  agents/orchestration/hierarchical_task_manager.py
  agents/specialists/agent_tools.py
  agents/specialists/architecture_specialist.py
  agents/specialists/devops_specialist.py
  agents/specialists/qa_specialist.py
  agents/specialists/ui_specialist.py
  agents/vana/team.py
  agents/vana/team_minimal.py
  agents/vana/team_original.py
  agents/vana/team_simple.py
  agents/workflows/iterative_refinement_workflow.py
  agents/workflows/parallel_analysis_workflow.py
  agents/workflows/project_development_workflow.py
  before_agent4_cleanup.txt
  dashboard/api/adk_memory_api.py
  dashboard/flask_app.py
  dashboard/routes/api_routes.py
  dashboard/routes/vector_search_routes.py
  dashboard/testing/run_dashboard_tests.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

📋 Systematic Code Quality Project Complete - Final Documentation
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/AGENT_3_SCOPE_COMPLETION_REQUEST.md
  memory-bank/01-active/AGENT_4_SCOPE_COMPLETION_REQUEST.md
  memory-bank/04-completed/AGENT_2_TOOLS_UTILITIES_CLEANUP_COMPLETE.md
  memory-bank/04-completed/AGENT_3_SCRIPTS_TESTING_CLEANUP_COMPLETE.md
  memory-bank/04-completed/AGENT_4_AGENTS_DASHBOARD_CLEANUP_COMPLETE.md
  memory-bank/04-completed/SYSTEMATIC_CODE_QUALITY_PROJECT_COMPLETE.md
Due: none

📋 Project Handoff Complete - Remaining Items Analysis
  memory-bank/01-active/PROJECT_HANDOFF_REMAINING_ITEMS.md
Due: none

Task #6: Deploy latest code quality improvements and begin agent testing
  .taskmaster/docs/validation-testing-prd.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/tasks.json
  deployment/cloudbuild-dev.yaml
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/VALIDATION_TESTING_PHASE_INITIATED.md
  tests/benchmarks/__init__.py
  tests/results/performance/baseline_measurement_1749919528.json
  tests/results/validation/agent_discovery_validation_1749919772.json
  tests/results/validation/deployment_pipeline_validation_1749920283.json
  tests/results/validation/environment_setup_1749919343.json
  tests/results/validation/tool_integration_validation_1749920480.json
  tests/validation/agent_discovery_validation.py
  tests/validation/baseline_performance_measurement.py
  tests/validation/configs/monitoring_config.json
  tests/validation/configs/validation_config.json
  tests/validation/deployment_pipeline_validation.py
  tests/validation/performance_baselines.json
  tests/validation/tool_integration_validation.py
  tests/validation/validation_environment.py
Due: vana-poetry-only, vana-hardcoded-paths

CRITICAL FIX: Restore VANA agent discovery functionality
  agents/vana/__init__.py
  memory-bank/00-core/progress.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

CRITICAL FIX: Restore tool imports for VANA agent discovery
  lib/_tools/__init__.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Path conditions:
  vana-naming-check: any of: ^(lib/_tools/.*\.py|agents/.*\.py)$
  vana-poetry-only: any of: \.(py|sh)$, but not: ^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$
  vana-tool-registration: any of: ^(lib/_tools/.*\.py|agents/.*\.py)$
  vana-hardcoded-paths: any of: \.(py|sh)$, but not: ^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$
