Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

adk-compliance:
  name: ADK Compliance Check
  entry: python scripts/adk_helpers/adk_compliance_check.py
  language: system
  pass_filenames: false

fix: resolve P1 accessibility issues from code review
  frontend/src/components/ui/prompt-input.tsx
  frontend/src/components/vana/VanaHomePage.tsx
  frontend/src/components/vana/VanaSidebar.tsx
Due: eslint, typescript-check

feat: comprehensive UI/UX improvements - navigation, transitions, themes, settings
  frontend/next.config.js
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/components/settings/SettingsModal.tsx
  frontend/src/components/vana/VanaSidebar.tsx
  frontend/src/hooks/useThemePreset.ts
  frontend/src/lib/themes.ts
Due: eslint, typescript-check

feat: comprehensive UI/UX improvements - navigation, transitions, themes, settings (#232)
  frontend/next.config.js
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/components/settings/SettingsModal.tsx
  frontend/src/components/vana/VanaSidebar.tsx
  frontend/src/hooks/useThemePreset.ts
  frontend/src/lib/themes.ts
Due: eslint, typescript-check

feat: implement official ADK dispatcher pattern with multi-agent routing
  adk.yaml
  agents/vana/agent.py
  agents/vana/generalist.py
  app/agent.py
  app/agents/__init__.py
  app/agents/generalist.py
Due: adk-compliance

feat: Add comprehensive dispatcher tests and documentation
  CLAUDE.md
  GEMINI.md
  agents/vana/agent.py
  app/agent.py
  app/agents/generalist.py
  docs/dispatcher_test_execution_guide.md
  docs/dispatcher_test_plan.md
  tests/integration/test_dispatcher_integration.py
  tests/integration/test_dispatcher_regression.py
  tests/performance/test_dispatcher_performance.py
  tests/unit/test_dispatcher.py
  tests/unit/test_dispatcher_README.md
Due: adk-compliance

feat: Comprehensive security hardening with HttpOnly cookies, CSRF protection, and input validation
  .gitignore
  CLAUDE.md
  app/auth/cookie_routes.py
  app/middleware/__init__.py
  app/middleware/csrf_middleware.py
  app/middleware/input_validation_middleware.py
  app/middleware/rate_limit_middleware.py
  app/server.py
  app/utils/input_validation.py
  docs/security/CRIT-008-HttpOnly-Cookie-Security.md
  docs/security/csrf-protection.md
  docs/security/input-validation-enhancements.md
  docs/security/redos-protection-fix.md
  frontend/src/app/api/auth/sync-cookies/route.ts
  frontend/src/components/agent/SSETestComponent.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/auth-cookies.ts
  frontend/src/lib/csrf.ts
  tests/auth/test_cookie_security.py
  tests/middleware/__init__.py
  tests/middleware/test_csrf_middleware.py
  tests/middleware/test_input_validation_middleware.py
  tests/middleware/test_rate_limit_middleware.py
  tests/middleware/test_security_headers_middleware.py
  tests/unit/auth/test_cookie_samesite.py
  tests/unit/test_input_validation_security.py
  tests/unit/test_redos_protection.py
Due: eslint, typescript-check, adk-compliance

fix: comprehensive SSE stream reliability and UX improvements
  .gitignore
  app/routes/adk_routes.py
  app/utils/rate_limiter.py
  frontend/src/app/page.tsx
  frontend/src/components/ui/prompt-input.tsx
  frontend/src/hooks/chat/message-handlers.ts
  frontend/src/hooks/chat/sse-event-handlers.ts
  frontend/src/hooks/useChatStream.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/themes.ts
Due: eslint, typescript-check, adk-compliance

fix: comprehensive security and reliability improvements (#238)
  app/routes/adk_routes.py
  app/utils/rate_limiter.py
  frontend/src/app/page.tsx
  frontend/src/components/ui/file-upload.tsx
  frontend/src/hooks/chat/sse-event-handlers.ts
  frontend/src/hooks/useChatStream.ts
  frontend/src/hooks/useSSE.ts
Due: eslint, typescript-check, adk-compliance

debug: add strategic logging to diagnose SSE stream hang
  app/routes/adk_routes.py
  docs/frontend-review.md
Due: adk-compliance

fix: resolve UI stuck on "Thinking..." - React memo and SSE event handling
  frontend/src/hooks/chat/sse-event-handlers.ts
  frontend/src/hooks/useChatStream.ts
Due: eslint, typescript-check

fix: add AgentTool wrappers to dispatcher for proper agent routing
  agents/vana/agent.py
Due: none

fix: comprehensive SSE stream reliability and agent routing improvements
  .gitignore
  agents/vana/agent.py
  app/routes/adk_routes.py
  app/utils/rate_limiter.py
  docs/frontend-review.md
  frontend/src/app/page.tsx
  frontend/src/components/ui/file-upload.tsx
  frontend/src/components/ui/prompt-input.tsx
  frontend/src/hooks/chat/message-handlers.ts
  frontend/src/hooks/chat/sse-event-handlers.ts
  frontend/src/hooks/useChatStream.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/themes.ts
Due: eslint, typescript-check, adk-compliance

fix: comprehensive SSE reliability, security, and performance improvements
  app/routes/adk_routes.py
  app/utils/sse_broadcaster.py
  docs/fixes/P0-002-ADK-Event-Extraction-Fix.md
  docs/fixes/P1-001-circular-buffer-diagram.md
  docs/fixes/P1-002-SSE-Termination-Fix.md
  docs/fixes/P1-008-CSRF-Protection-Summary.md
  docs/security/SSE-Authentication-Security.md
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/sse/[...route]/route.ts
  frontend/src/hooks/chat/adk-content-extraction.ts
  frontend/src/hooks/chat/message-handlers.ts
  frontend/src/hooks/chat/sse-connection-helpers.ts
  frontend/src/hooks/chat/sse-event-handlers.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/csrf-server.ts
Due: eslint, typescript-check, adk-compliance

test: add comprehensive test suites for SSE, ADK extraction, and security
  frontend/src/app/api/sse/__tests__/auth-security-logic.test.ts
  frontend/src/app/api/sse/__tests__/auth-security.test.ts
  frontend/src/app/api/sse/__tests__/csrf-protection.test.ts
  frontend/src/hooks/__tests__/sse-lifecycle.test.ts
  frontend/src/hooks/__tests__/useSSE-memory.test.ts
  frontend/src/hooks/chat/__tests__/adk-content-extraction.test.ts
  frontend/src/lib/__tests__/csrf-server.test.ts
Due: eslint, typescript-check

feat: implement ADK Phase 1 peer transfer capability
  CLAUDE.md
  CONSENSUS_REPORT.md
  DOCUMENTATION_REVIEW_REPORT.md
  FOLLOW_UP_SSE_DOCUMENTATION_FIX.md
  MASTER_ARCHIVAL_EXECUTION_PLAN.md
  SSE_SESSION_PERSISTENCE_ANALYSIS.md
  STORAGE_ARCHITECTURE_ANALYSIS.md
  TEST_ARCHIVE_ANALYSIS_REPORT.md
  agents/vana/agent.py
  agents/vana/enhanced_callbacks.py
  agents/vana/generalist.py
  docs/adk/phase1/AGENT-HANDOFF-GUIDE.md
  docs/adk/phase1/DEPLOYMENT-GUIDE.md
  docs/adk/phase1/GAP-ANALYSIS.md
  docs/adk/phase1/IMPLEMENTATION-PLAN.md
  docs/adk/phase1/MIGRATION-SUMMARY.md
  docs/adk/phase1/README.md
  docs/adk/phase1/RESOLUTION-SUMMARY.md
  docs/adk/phase1/START-HERE.md
  docs/adk/phase1/TEST-RESULTS.md
  docs/adk/phase1/ULTRATHINK-IMPLEMENTATION.md
  docs/adk/phase1/VERIFICATION-COMPLETE.md
  frontend/src/lib/themes.ts
  pyproject.toml
  tests/integration/test_peer_transfer.py
  uv.lock
Due: eslint, typescript-check

fix(sse): resolve race condition in multi-agent chat streaming
  frontend/src/hooks/chat/message-handlers.ts
  frontend/tests/integration/sse-race-condition.test.tsx
Due: eslint, typescript-check

fix(tests): migrate peer transfer tests to current ADK Runner API
  INTEGRATION-SUMMARY.md
  tests/integration/PEER_TRANSFER_TEST_STATUS.md
  tests/integration/test_peer_transfer.py
Due: none

chore: organize workspace - archive integration docs and ignore reference materials
  .gitignore
Due: none

docs: reorganize documentation and improve test structure
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/UI-FIXES-INTEGRATION-GUIDE.md
  docs/architecture/LONG_TERM_MEMORY_ARCHITECTURE.md
  docs/architecture/session-persistence-comparison.md
  docs/architecture/sse-session-persistence-decision.md
  docs/architecture/system-architecture-review.md
  docs/architecture/technical-diagrams.md
  docs/fixes/P0-002-ADK-Event-Extraction-Fix.md
  docs/fixes/P1-001-circular-buffer-diagram.md
  docs/fixes/P1-002-SSE-Termination-Fix.md
  docs/fixes/P1-008-CSRF-Protection-Summary.md
  docs/frontend-review.md
  docs/security/CRIT-008-HttpOnly-Cookie-Security.md
  docs/security/csrf-protection.md
  docs/security/redos-protection-fix.md
  frontend/frontend/docs/performance/baselines/base.json
  frontend/tailwind.config.js.v3.backup
  frontend/tests/performance/CRIT-004-profiler-test.tsx
  frontend/tests/performance/react-optimization-tests.tsx
  frontend/tests/unit/components/array-safety.test.tsx
Due: eslint, typescript-check

docs: add comprehensive ADK reference documentation and examples
  docs/adk/refs/AGENT-BAKEOFF-ADDITIONS.md
  docs/adk/refs/QUICK-START.md
  docs/adk/refs/README.md
  docs/adk/refs/SUMMARY.md
Due: none

docs: add ADK alignment and security hardening plans
  .gitignore
  CLAUDE.md
  docs/plans/multi_agent_adk_alignment_plan.md
  docs/plans/security_hardening_tasks.md
  pyproject.toml
  uv.lock
Due: none

feat: Implement Phase 0 & Phase 1 ADK canonical streaming alignment
  CLAUDE.md
  app/config.py
  app/models.py
  app/routes/adk_routes.py
  app/services/event_bus.py
  docs/plans/phase_1_completion_summary.md
  frontend/src/lib/env.ts
  tests/integration/test_adk_run_sse_passthrough.py
Due: eslint, typescript-check, adk-compliance

fix: Preserve SSE event delimiters in streaming proxy (P1)
  app/routes/adk_routes.py
  tests/integration/test_adk_run_sse_passthrough.py
Due: adk-compliance

fix(P0-002,P0-003): Resolve duplicate/tripled chat responses
  app/routes/adk_routes.py
  frontend/src/hooks/chat/adk-content-extraction.ts
Due: eslint, typescript-check, adk-compliance

feat(Phase 3): SSE connection state management and ADK event support
  app/utils/sse_broadcaster.py
  frontend/src/app/api/sse/[...route]/route.ts
  frontend/src/hooks/chat/sse-connection-helpers.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/api/types.ts
Due: eslint, typescript-check, adk-compliance

feat(Phase 2 + P0-004): Session persistence + SSE race condition fix
  app/utils/session_store.py
  docs/fixes/sse_authentication_workaround.md
  docs/plans/multi_agent_adk_alignment_plan.md
  docs/validation/DEPLOYMENT_CHECKLIST.md
  docs/validation/README.md
  docs/validation/adk_alignment_compliance_audit.md
  docs/validation/phase2_session_store_architecture_review.md
  docs/validation/screenshots/01_homepage_before_chat.png
  docs/validation/screenshots/02_message_typed.png
  docs/validation/screenshots/03_chat_response_streaming.png
  docs/validation/screenshots/sse_fix_verification.png
  docs/validation/screenshots/sse_timeout_error.png
  docs/validation/session_summary_2025_10_18.md
  docs/validation/sparc_orchestrator_session_2025_10_18_phase2.md
  frontend/src/hooks/chat/message-handlers.ts
  tests/unit/test_session_store.py
Due: eslint, typescript-check, adk-compliance

feat(Phase 3 WIP + Critical Fix): ADK parser infrastructure + async task deadlock fix
  docs/fixes/async-task-execution-fix.md
  docs/plans/phase3_frontend_architecture.md
  docs/plans/phase3_implementation_checklist.md
  docs/specs/adk_alignment_requirements.md
  docs/specs/phase_3_frontend_sse_specification.md
  docs/specs/phase_3_quick_reference.md
  frontend/src/lib/streaming/adk/README.md
  frontend/src/lib/streaming/adk/content-extractor.ts
  frontend/src/lib/streaming/adk/index.ts
  frontend/src/lib/streaming/adk/parser.ts
  frontend/src/lib/streaming/adk/types.ts
  tests/test_register_task_fix.py
Due: eslint, typescript-check

fix: Apply CodeRabbit review fixes - type hints, schema alignment, logic errors
  app/utils/sse_broadcaster.py
  docs/plans/phase3_frontend_architecture.md
  docs/plans/phase3_implementation_checklist.md
  docs/validation/adk_alignment_compliance_audit.md
  scripts/add_test_type_hints.py
  tests/integration/test_adk_run_sse_passthrough.py
  tests/test_register_task_fix.py
Due: adk-compliance

feat(Phase 3.1): ADK event parser infrastructure + SSE buffer improvements
  app/utils/sse_broadcaster.py
  docs/debug/sse-timeout-fix-summary.md
  docs/reviews/phase3-1-peer-review.md
  docs/validation/AGENT_HANDOFF_PROMPT.md
  frontend/src/lib/streaming/adk/__tests__/content-extractor.test.ts
  frontend/src/lib/streaming/adk/__tests__/parser.test.ts
  frontend/src/lib/streaming/adk/__tests__/validator.test.ts
  frontend/src/lib/streaming/adk/content-extractor.ts
  frontend/src/lib/streaming/adk/index.ts
  frontend/src/lib/streaming/adk/parser.ts
  frontend/src/lib/streaming/adk/types.ts
  frontend/src/lib/streaming/adk/validator.ts
  tests/integration/test_sse_basic_validation.py
  tests/integration/test_sse_comprehensive.py
Due: eslint, typescript-check, adk-compliance

feat(Phase 3.2): Event handlers + store extensions with peer review consensus
  docs/plans/multi_agent_adk_alignment_plan.md
  docs/reviews/phase3-2-integration-review.md
  frontend/src/hooks/chat/event-handlers/adk-event-handler.ts
  frontend/src/hooks/chat/event-handlers/index.ts
  frontend/src/hooks/chat/event-handlers/legacy-event-handler.ts
  frontend/src/hooks/chat/optimized-store.ts
  frontend/src/hooks/chat/store.ts
  frontend/src/hooks/chat/types.ts
  frontend/src/lib/api/types.ts
Due: eslint, typescript-check

docs(Phase 3): Add comprehensive agent handoff documentation
  docs/plans/multi_agent_adk_alignment_plan.md
  docs/reports/browser_verification_phase3.md
  docs/validation/AGENT_HANDOFF_PHASE3.md
Due: none

docs(Phase 3): Complete Phase 3 Frontend SSE Overhaul - 100% verified
  docs/plans/multi_agent_adk_alignment_plan.md
  docs/validation/adk_dev_ui_verification.png
  docs/validation/phase3_canonical_mode_verification.md
Due: none

docs(Phase 3.3): Add canonical ADK streaming specification and execution plan
  docs/api/canonical_adk_streaming_spec.md
  docs/plans/phase3_3_execution_plan.md
Due: none

docs(Phase 3.3): SPARC orchestration - Complete ADK alignment architecture
  docs/plans/multi_agent_adk_alignment_plan.md
  docs/plans/phase3_3_architectural_solution.md
  docs/plans/phase3_3_implementation_roadmap.md
Due: none

feat(Phase 3.3): Activate canonical ADK streaming mode
  frontend/src/hooks/chat/message-handlers.ts
  frontend/src/hooks/useSSE.ts
Due: eslint, typescript-check

docs(Phase 3.3): Add comprehensive peer review and approval
  docs/plans/phase3_3_approval_summary.md
  docs/plans/phase3_3_peer_review_report.md
Due: none

fix(Phase 3.3): Complete browser E2E testing with CSRF and response normalization fixes
  app/middleware/csrf_middleware.py
  app/models.py
  app/routes/adk_routes.py
  docs/fixes/phase3_3_architecture_violations_fix.md
  docs/fixes/phase3_3_complete_root_cause.md
  docs/fixes/phase3_3_empty_post_body_fix.md
  docs/fixes/phase3_3_final_analysis.md
  docs/fixes/phase3_3_sessions_route_fix.md
  docs/fixes/sessions_route_validation.md
  docs/plans/VERIFY_PHASE_3_3_FIX.sh
  docs/plans/adk_session_lifecycle_architecture.md
  docs/plans/frontend_sse_architecture_analysis.md
  docs/plans/frontend_sse_technical_spec.md
  docs/plans/phase3_3_execution_plan.md
  docs/plans/phase3_3_orchestrator_findings.md
  docs/plans/phase3_3_revised_implementation_plan.md
  docs/reviews/phase3_3_debugging_session_review.md
  frontend/src/app/api/csrf/route.ts
  frontend/src/app/api/sessions/route.ts
  frontend/src/app/api/sse/run_sse/route.ts
  frontend/src/app/page.tsx
  frontend/src/hooks/chat/message-handlers.ts
  frontend/src/hooks/chat/optimized-store.ts
  frontend/src/hooks/chat/store.ts
  frontend/src/hooks/chat/types.ts
  frontend/src/hooks/useChatStream.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.ts
Due: eslint, typescript-check, adk-compliance

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  adk-compliance: any of: ^app/.*\.py$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
