Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

.pre-commit-config.yaml:

# Pre-commit configuration for Vana project
# See https://pre-commit.com for more information

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-pyyaml]
        args: [--strict, --ignore-missing-imports]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, app/, -ll]
        exclude: tests/

  # General formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words-list=rouge,DAA,deques]
        exclude: |
          (?x)^(
              .*\.lock|
              .*node_modules/.*|
              .*\.venv/.*|
              .*venv/.*|
              .*\.ipynb
          )$

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091]  # Ignore sourcing of non-existent files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  # Frontend (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Custom ADK compliance checks
  - repo: local
    hooks:
      - id: adk-compliance
        name: ADK Compliance Check
        entry: python scripts/adk_helpers/adk_compliance_check.py
        language: system
        files: ^app/.*\.py$
        pass_filenames: false

# Configuration
default_stages: [commit, push]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      .*node_modules/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.git/.*|
      .*__pycache__/.*|
      .*\.mypy_cache/.*|
      .*\.pytest_cache/.*|
      .*\.ruff_cache/.*|
      frontend/\.next/.*|
      frontend/out/.*
  )$

fix: Resolve production-critical issues from CodeRabbit PR #190 review
  .env.local.template
  CLAUDE.md
  app/.env.local.template
  app/config.py
  app/middleware/security.py
  app/models.py
  app/server.py
  app/utils/environment.py
  frontend/__tests__/auth/auth-components.test.tsx
  frontend/__tests__/auth/auth-context.test.tsx
  frontend/__tests__/auth/auth-guard-integration.test.tsx
  frontend/__tests__/auth/auth-hooks.test.tsx
  frontend/__tests__/constants/test-config.ts
  frontend/__tests__/e2e/auth-flow.spec.ts
  frontend/__tests__/e2e/backend-integration-flow.spec.ts
  frontend/__tests__/integration/auth-integration.test.ts
  frontend/__tests__/integration/backend-integration-suite.test.ts
  frontend/__tests__/integration/components-integration.test.tsx
  frontend/__tests__/mocks/backend-handlers.ts
  frontend/__tests__/mocks/handlers.ts
  frontend/__tests__/utils/auth-test-utils.ts
  frontend/__tests__/utils/test-helpers.ts
  frontend/components/auth/auth-guard.tsx
  frontend/hooks/auth-hooks.ts
  frontend/lib/api-client.ts
  frontend/lib/enhanced-api-client.ts
  frontend/tests/e2e/vana-e2e-flow.spec.ts
  frontend/types/auth.ts
  frontend/types/backend.ts
  tests/unit/test_models_import.py
Due: eslint, typescript-check, adk-compliance

feat: Complete PR190 CodeRabbit security validation with comprehensive testing
  tests/final_pr190_security_report.json
  tests/final_pr190_security_report.py
  tests/pr190_security_summary.md
  tests/pr190_validation_results.json
  tests/run_pr190_validation.py
  tests/test_accessibility_validator.py
  tests/test_pr190_security_validation.py
  tests/test_pr190_validation.py
Due: none

fix: Address PR190 CodeRabbit high priority accessibility and AuthGuard issues
  frontend/components/auth/auth-guard.tsx
  frontend/components/auth/user-menu.tsx
  frontend/components/research/research-chat-interface.tsx
  frontend/components/research/research-progress-panel.tsx
  frontend/components/theme-toggle.tsx
  frontend/components/vana-sidebar.tsx
  frontend/contexts/auth-context.tsx
  frontend/hooks/use-auth-stabilization.ts
  frontend/hooks/use-debounced-storage.ts
  tests/AUTH_TESTING_GUIDE.md
  tests/PR190_VALIDATION_REPORT.md
  tests/accessibility/accessibility-chat-buttons.test.tsx
  tests/accessibility/accessibility-validator.ts
  tests/accessibility/reports/accessibility-report-1757616565721.md
  tests/accessibility/reports/accessibility-report-1757616583313.md
  tests/accessibility/reports/accessibility-report-1757616598423.md
  tests/accessibility/run-accessibility-tests.ts
  tests/accessibility/validate-accessibility.js
  tests/auth-guard-integration-scenarios.test.tsx
  tests/auth-guard-redirect-loop-prevention.test.tsx
  tests/pr190_corrected_validation_results.json
  tests/run-auth-tests.js
  tests/test_pr190_validation_corrected.py
  tests/use-auth-stabilization.test.ts
Due: eslint, typescript-check

chore: Add remaining PR190 validation files and minor updates
  app/server.py
  frontend/components/chat/chat-input.tsx
  tests/pr190_standalone_validation_results.json
  tests/test_pr190_validation_standalone.py
Due: eslint, typescript-check, adk-compliance

feat: migrate CI/CD to cost-optimized Digital Ocean with full TypeScript coverage
  docker-compose.prod.yml
  docs/migration-strategy.md
  migration-backup/20250911-164400/.gitkeep
  migration-backup/20250911-164400/ci-cd-optimized.yml
  migration-backup/20250911-164400/ci-cd.yml
  migration-backup/20250911-164400/claude-code-review.yml
  migration-backup/20250911-164400/claude.yml
  migration-backup/20250911-164400/cleanup.yml
  migration-backup/20250911-164400/security-scan.yml
  scripts/deploy.sh
  scripts/migrate-to-do.sh
Due: none

feat: add optional failure notification workflow
  .github/workflows/ci-cd.yml
  .github/workflows/notify-on-failure.yml
Due: none

Handle missing optional dependencies
  app/__init__.py
  app/config.py
  app/research_agents.py
  app/server.py
  app/utils/gcs.py
  app/utils/session_backup.py
  app/utils/tracing.py
  app/utils/typing.py
Due: adk-compliance

fix: resolve network errors and SSE connection issues
  app/server.py
  frontend/debug-circuit-breaker-console.js
Due: eslint, adk-compliance

fix: resolve OpenRouter console errors and enable multi-agent research
  app/research_agents.py
Due: adk-compliance

feat: Comprehensive SSE Error Resolution & Multi-Agent Research Enhancement
  debug-sse-validation.js
  frontend/components/chat/chat-messages.tsx
  frontend/contexts/chat-context.tsx
  frontend/lib/research-sse-service.ts
  frontend/types/api.ts
Due: eslint, typescript-check

fix: resolve PR 194 feedback - agent chat streaming improvements
  debug-sse-validation.js
  frontend/components/chat/chat-messages.tsx
  frontend/contexts/chat-context.tsx
  frontend/lib/research-sse-service.ts
  frontend/types/api.ts
Due: eslint, typescript-check

fix: show agent progress in chat even without partial_results
  frontend/contexts/chat-context.tsx
Due: eslint, typescript-check

🎯 Fix Research Completion Display & Document UX Architecture
  frontend/contexts/chat-context.tsx
  frontend/hooks/use-research-sse.ts
  frontend/lib/research-sse-service.ts
Due: eslint, typescript-check

🛠️ Address Critical CodeRabbit PR #195 Feedback Issues
  frontend/components/research/agent-status-display.tsx
  frontend/components/research/research-progress-panel.tsx
  frontend/hooks/use-research-sse.ts
  frontend/lib/api-client.ts
  frontend/lib/research-sse-service.ts
Due: eslint, typescript-check

🚀 Complete SSE Research Enhancement & Critical Issue Resolution
  frontend/BUILD_OPTIMIZATION_REPORT.md
  frontend/app/canvas/page.tsx
  frontend/app/chat/page.tsx
  frontend/components/auth/auth-guard.tsx
  frontend/components/auth/register-form.tsx
  frontend/components/auth/user-menu.tsx
  frontend/components/canvas/markdown-canvas.tsx
  frontend/components/chat/chat-messages.tsx
  frontend/components/chat/vana-chat.tsx
  frontend/components/research/connection-fallback.tsx
  frontend/components/research/research-progress-panel.tsx
  frontend/components/ui/activity-feed.tsx
  frontend/components/ui/onboarding-flow.tsx
  frontend/contexts/auth-context.tsx
  frontend/eslint.config.mjs
  frontend/lib/progressive-enhancement.ts
  frontend/lib/research-sse-service.ts
  frontend/next.config.ts
  frontend/types/auth.ts
  frontend/types/research.ts
  frontend/types/ui.ts
Due: eslint, typescript-check

🔒 CRITICAL: CodeRabbit Security Fixes & Multi-Agent Research Enhancements
  frontend/components/auth/user-menu.tsx
  frontend/contexts/auth-context.tsx
  frontend/hooks/auth-hooks.ts
  frontend/hooks/use-auth-stabilization.ts
  frontend/hooks/use-research-sse.ts
  frontend/lib/api-client.ts
  frontend/lib/auth-service.ts
  frontend/lib/auth.ts
  frontend/lib/enhanced-api-client.ts
  frontend/lib/security-headers.ts
  frontend/next.config.ts
  frontend/scripts/test-csp-security.js
  frontend/types/api.ts
  frontend/types/auth.ts
Due: eslint, typescript-check

🔧 feat: Enhanced Research Agent API & Server Improvements
  app/research_agents.py
  app/server.py
Due: adk-compliance

🧪 test: Comprehensive Test Infrastructure & QA Framework
  frontend/__tests__/Gemini_Generated_Image_3qb8op3qb8op3qb8.png
  frontend/__tests__/integration/manual-prompt-kit-test.js
  frontend/__tests__/integration/prompt-kit-integration.test.tsx
  frontend/__tests__/integration/prompt-kit-test-report.md
  frontend/__tests__/integration/responsestream-sse.test.tsx
  frontend/__tests__/utils/auth-test-utils.tsx
  frontend/__tests__/utils/test-helpers.ts
  frontend/__tests__/utils/test-providers.tsx
  frontend/debug-css.spec.ts
  frontend/debug-height.spec.ts
  frontend/debug-layout-simple.spec.ts
  frontend/debug-layout.spec.ts
  frontend/debug.playwright.config.ts
  frontend/tests/agent-cards-layout-test.spec.ts
  frontend/tests/agent-status-cards-integration.spec.ts
  frontend/tests/comprehensive-qa-report.md
  frontend/tests/comprehensive-workflow-test-report.md
  frontend/tests/css-layout-analyzer.js
  frontend/tests/debug-workflow-test.js
  frontend/tests/desktop-qa-test.js
  frontend/tests/e2e-user-workflow.spec.ts
  frontend/tests/integration-workflow.spec.ts
  frontend/tests/loading-state-lifecycle-test-report.md
  frontend/tests/manual-responsive-test-report.md
  frontend/tests/manual-workflow-test.js
  frontend/tests/mobile-qa-test.js
  frontend/tests/performance-workflow.spec.ts
  frontend/tests/playwright-responsive-test.js
  frontend/tests/responsive-layout.spec.ts
  frontend/tests/responsive-qa-test-plan.md
  frontend/tests/simple-responsive-check.spec.ts
  frontend/tests/tablet-qa-test.js
  frontend/tests/test-summary.md
  frontend/tests/visual-regression.spec.ts
Due: eslint, typescript-check

⚙️ config: Enhanced Dependencies & Core Library Infrastructure
  frontend/components/layouts/unified-chat-layout.tsx
  frontend/components/prompt-kit/prompt-input.tsx
  frontend/components/sidebar/nav-user.tsx
  frontend/components/sidebar/sidebar-chat-history.tsx
  frontend/components/sidebar/team-switcher.tsx
  frontend/hooks/use-enhanced-research-sse.ts
  frontend/hooks/use-response-stream-sse.ts
  frontend/hooks/use-streaming-response.ts
  frontend/lib/feature-flags.ts
  frontend/lib/progressive-enhancement.ts
  frontend/lib/prompt-kit-sse-adapter.ts
  frontend/lib/research-sse-service.ts
  frontend/lib/response-stream-adapter.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: eslint, typescript-check

🗂️ chore: Development Assets & Component Backup System
  debug-height-full.png
  debug-height-viewport.png
  debug-layout.png
  frontend/app/agent-cards.css
  frontend/backup/removed-components/agent-status-sidebar.tsx
  frontend/backup/removed-components/sidebar-chat-history.tsx
  frontend/backup/removed-components/vana-chat-layout.tsx
  frontend/components/vana-sidebar-unified.tsx
Due: eslint, typescript-check

🗑️ remove: Deprecated vana-sidebar component
  frontend/components/vana-sidebar.tsx
Due: eslint, typescript-check

feat: reorganize sidebar navigation with Platform section
  frontend/components/vana-sidebar-unified.tsx
Due: eslint, typescript-check

feat(frontend): comprehensive sidebar improvements and theme switcher
  frontend/components/admin-panel/admin-panel-layout.tsx
  frontend/components/layouts/unified-chat-layout.tsx
  frontend/components/sidebar/nav-user.tsx
  frontend/components/ui/sidebar.tsx
  frontend/components/vana-sidebar-unified.tsx
Due: eslint, typescript-check
