Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

adk-compliance:
  name: ADK Compliance Check
  entry: python scripts/adk_helpers/adk_compliance_check.py
  language: system
  pass_filenames: false

feat: Phase 2 CI/CD Infrastructure Fixes - Production Ready
  .github/workflows/dependency-check.yml
  .github/workflows/pre-commit-validation.yml
  .github/workflows/security-scan.yml
  pyproject.toml
  scripts/fix-claude-permissions.sh
  tests/hooks/automation/run-hook-tests.sh
  tests/integration/run_hook_validation_tests.sh
  tests/run-e2e-tests.sh
  uv.lock
Due: none

feat: Add core hook infrastructure scripts for PR #83
  scripts/ci-hook-installer.sh
  scripts/cicd-hook-monitor.sh
  scripts/demo_safety_system.py
  scripts/install-git-hooks.sh
  scripts/validate_safety_system.py
Due: none

feat: Extract 15 core infrastructure files from PR #79
  src/core/__init__.py
  src/core/hook_alerting_system.py
  src/core/hook_safety_config.py
  src/core/hook_safety_system.py
  src/core/safety_system_cli.py
  src/hooks/__init__.py
  src/hooks/config/__init__.py
  src/hooks/config/hook_config.py
  src/hooks/feedback/__init__.py
  src/hooks/feedback/realtime_feedback.py
  src/hooks/orchestrator.py
  src/hooks/validators/__init__.py
  src/hooks/validators/context_sanitizer.py
  src/hooks/validators/security_scanner.py
  src/hooks/validators/shell_validator.py
  src/shell-validator/Makefile
  src/shell-validator/README.md
  src/shell-validator/cli.py
  src/shell-validator/config.json
  src/shell-validator/demo/bad-script.sh
  src/shell-validator/demo/good-script.sh
  src/shell-validator/git_hooks.py
  src/shell-validator/requirements.txt
  src/shell-validator/shell_validator.py
  src/shell-validator/test_script.sh
  src/utils/__init__.py
  src/utils/context_sanitizer.py
  src/utils/pipeline_hooks.py
Due: none

docs: Extract and integrate comprehensive Git hook documentation from PR #79
  docs/git-hooks-integration-guide.md
  docs/git-hooks/01-installation-guide.md
  docs/git-hooks/02-user-guide.md
  docs/git-hooks/03-technical-reference.md
  docs/git-hooks/04-visual-guides.md
  docs/git-hooks/05-configuration-examples.md
  docs/git-hooks/06-developer-experience.md
  docs/git-hooks/07-faq-troubleshooting.md
  docs/git-hooks/08-performance-testing.md
  docs/git-hooks/README.md
  docs/hooks-expert-guide.md
Due: none

fix: Resolve CI/CD validation issues for PR #83
  scripts/ci-hook-installer.sh
  scripts/cicd-hook-monitor.sh
  src/utils/context_sanitizer.py
Due: none

feat: Implement advanced hook automation and testing infrastructure
  .github/workflows/automated-fixes.yml
  .github/workflows/cache-optimization.yml
  .github/workflows/cicd-hook-automation.yml
  .github/workflows/edge-case-validation.yml
  .github/workflows/git-hooks-automation.yml
  .github/workflows/hook-validation-ci.yml
  .github/workflows/security-hardening.yml
  app/config/__init__.py
  app/config/branch_protection.py
  app/config/environment.py
  app/config/templates.py
  app/config/validation.py
  app/enhanced_callbacks.py
  app/monitoring/__init__.py
  app/monitoring/alerting.py
  app/monitoring/cache_optimizer.py
  app/monitoring/dashboard.py
  app/monitoring/metrics_collector.py
  tests/hooks/git/git_integration_test_runner.py
  tests/hooks/git/git_performance_benchmarks.py
  tests/hooks/git/git_test_automation.py
  tests/hooks/git/run_git_hook_tests.sh
  tests/integration/test_pr84_enhancements.py
Due: adk-compliance

feat: Phase 2 CI/CD Infrastructure - Complete 4-Agent Swarm Implementation
  .github/workflows/automated-fixes.yml
  .github/workflows/cache-optimization.yml
  .github/workflows/cicd-hook-automation.yml
  .github/workflows/edge-case-validation.yml
  .github/workflows/git-hooks-automation.yml
  .github/workflows/hook-validation-ci.yml
  .github/workflows/security-hardening.yml
  app/config/__init__.py
  app/config/branch_protection.py
  app/config/environment.py
  app/config/templates.py
  app/config/validation.py
  app/enhanced_callbacks.py
  app/monitoring/__init__.py
  app/monitoring/alerting.py
  app/monitoring/cache_optimizer.py
  app/monitoring/dashboard.py
  app/monitoring/metrics_collector.py
  tests/hooks/git/git_integration_test_runner.py
  tests/hooks/git/git_performance_benchmarks.py
  tests/hooks/git/git_test_automation.py
  tests/hooks/git/run_git_hook_tests.sh
  tests/integration/test_pr84_enhancements.py
Due: adk-compliance

fix: Resolve critical configuration import issues
  app/config.py
  app/configuration/__init__.py
  app/configuration/branch_protection.py
  app/configuration/environment.py
  app/configuration/templates.py
  app/configuration/validation.py
  tests/integration/test_adk_integration.py
  tests/integration/test_pr84_enhancements.py
  tests/test_integration_full.py
Due: adk-compliance

fix: Apply CodeRabbit corrections for configuration path updates
  tests/integration/test_adk_integration.py
  tests/integration/test_pr84_enhancements.py
  tests/test_integration_full.py
Due: none

🔧 Fix: Resolve Critical Configuration Import Issues (#85)
  app/config.py
  app/configuration/__init__.py
  app/configuration/branch_protection.py
  app/configuration/environment.py
  app/configuration/templates.py
  app/configuration/validation.py
  tests/integration/test_adk_integration.py
  tests/integration/test_pr84_enhancements.py
  tests/test_integration_full.py
Due: adk-compliance

🚨 Phase 1 Crisis Response: Complete GitHub Actions Stabilization
  .github/workflows/automated-fixes.yml.disabled
  .github/workflows/cache-optimization.yml.disabled
  .github/workflows/cicd-hook-automation.yml.disabled
  .github/workflows/dependency-check.yml
  .github/workflows/edge-case-validation.yml.disabled
  .github/workflows/git-hooks-automation.yml.disabled
  .github/workflows/hook-validation-ci.yml.disabled
  .github/workflows/main-ci.yml
  .github/workflows/pre-commit-validation.yml.disabled
  .github/workflows/security-hardening.yml.disabled
  .github/workflows/security-scan.yml
  app/configuration/__init__.py
  app/configuration/branch_protection.py
  app/configuration/environment.py
  app/configuration/templates.py
  app/configuration/validation.py
  app/enhanced_callbacks.py
  app/monitoring/__init__.py
  app/monitoring/alerting.py
  app/monitoring/cache_optimizer.py
  app/monitoring/dashboard.py
  app/monitoring/metrics_collector.py
  pyproject.toml
  tests/hooks/git/git_integration_test_runner.py
  tests/hooks/git/git_performance_benchmarks.py
  tests/hooks/git/git_test_automation.py
  tests/integration/test_adk_integration.py
  tests/integration/test_pr84_enhancements.py
  tests/test_integration_full.py
  uv.lock
Due: adk-compliance

fix: Handle Google Cloud auth errors gracefully in CI smoke tests
  .github/workflows/main-ci.yml
  README.md
Due: none

fix: Correct YAML syntax in main-ci.yml workflow
  .github/workflows/main-ci.yml
Due: none

🔧 Fix: Add pull-requests permission for paths-filter action
  .github/workflows/main-ci.yml
Due: none

🔧 Fix: Apply critical CodeRabbit feedback fixes
  .github/workflows/main-ci.yml
  app/enhanced_callbacks.py
Due: adk-compliance

🔧 Fix: Handle Google Cloud logging errors in CI
  .github/workflows/main-ci.yml
Due: none

🔧 Fix: Remove pip cache from Python setup
  .github/workflows/main-ci.yml
Due: none

🚨 CRISIS RESOLVED: GitHub Actions Phase 1 - Restore Basic Functionality
  .github/workflows/automated-fixes.yml.disabled
  .github/workflows/cache-optimization.yml.disabled
  .github/workflows/cicd-hook-automation.yml.disabled
  .github/workflows/dependency-check.yml
  .github/workflows/edge-case-validation.yml.disabled
  .github/workflows/git-hooks-automation.yml.disabled
  .github/workflows/hook-validation-ci.yml.disabled
  .github/workflows/main-ci.yml
  .github/workflows/pre-commit-validation.yml.disabled
  .github/workflows/security-hardening.yml.disabled
  .github/workflows/security-scan.yml
  README.md
  app/configuration/__init__.py
  app/configuration/branch_protection.py
  app/configuration/environment.py
  app/configuration/templates.py
  app/configuration/validation.py
  app/enhanced_callbacks.py
  app/monitoring/__init__.py
  app/monitoring/alerting.py
  app/monitoring/cache_optimizer.py
  app/monitoring/dashboard.py
  app/monitoring/metrics_collector.py
  pyproject.toml
  tests/hooks/git/git_integration_test_runner.py
  tests/hooks/git/git_performance_benchmarks.py
  tests/hooks/git/git_test_automation.py
  tests/integration/test_adk_integration.py
  tests/integration/test_pr84_enhancements.py
  tests/test_integration_full.py
  uv.lock
Due: adk-compliance

🔧 Fix: Resolve critical TypeScript compilation errors in frontend
  frontend/src/components/agents/agent-activity.tsx
  frontend/src/components/agents/agent-avatar.tsx
  frontend/src/components/agents/agent-capabilities.tsx
  frontend/src/components/agents/agent-selector.tsx
  frontend/src/components/agents/agent-status.tsx
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/canvas/agent-cursors.tsx
  frontend/src/components/chat/agent-avatar.tsx
  frontend/src/types/agents.ts
Due: eslint, typescript-check

enhance: Apply CodeRabbit TypeScript improvements - type safety, performance, memoization
  frontend/src/components/agents/agent-capabilities.tsx
  frontend/src/components/canvas/agent-cursors.tsx
Due: eslint, typescript-check

🔧 Fix: Resolve critical TypeScript compilation errors for Phase 2 CI/CD
  frontend/src/components/agents/agent-activity.tsx
  frontend/src/components/agents/agent-avatar.tsx
  frontend/src/components/agents/agent-capabilities.tsx
  frontend/src/components/agents/agent-selector.tsx
  frontend/src/components/agents/agent-status.tsx
  frontend/src/components/auth/login-form.tsx
  frontend/src/components/canvas/agent-cursors.tsx
  frontend/src/components/chat/agent-avatar.tsx
  frontend/src/types/agents.ts
Due: eslint, typescript-check

fix: Resolve additional TypeScript compilation errors in frontend
  frontend/src/components/agents/index.ts
  frontend/src/components/canvas/agent-cursors.tsx
  frontend/src/components/canvas/canvas-modes.tsx
  frontend/src/components/canvas/canvas-system.tsx
  frontend/src/components/canvas/collaborative-editor.tsx
Due: eslint, typescript-check

🔧 Fix: Format Python code with ruff formatter
  app/configuration/branch_protection.py
  app/configuration/environment.py
  app/configuration/templates.py
  app/configuration/validation.py
  app/enhanced_callbacks.py
  app/monitoring/alerting.py
  app/monitoring/cache_optimizer.py
  app/monitoring/dashboard.py
  app/monitoring/metrics_collector.py
  frontend/package-lock.json
  tests/hooks/git/git_integration_test_runner.py
  tests/hooks/git/git_performance_benchmarks.py
  tests/hooks/git/git_test_automation.py
  tests/integration/test_adk_integration.py
  tests/integration/test_pr84_enhancements.py
Due: adk-compliance

fix: Resolve CI/CD pipeline failures with improved job dependencies and error handling
  .github/workflows/main-ci.yml
Due: none

🚨 Hotfix: Resolve critical CI/CD pipeline failures
  .github/workflows/security-scan.yml
  app/agent.py
  app/configuration/branch_protection.py
  app/configuration/environment.py
  app/configuration/templates.py
  app/configuration/validation.py
  app/enhanced_callbacks.py
  app/models.py
  app/monitoring/alerting.py
  app/monitoring/cache_optimizer.py
  app/monitoring/dashboard.py
  app/monitoring/metrics_collector.py
  app/server.py
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/page.test.tsx
  frontend/src/components/canvas/monaco-editor.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/message-input.tsx
  frontend/src/components/chat/message-list.tsx
  frontend/src/components/chat/sse-debug.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/types/session.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  tests/hooks/git/git_integration_test_runner.py
  tests/hooks/git/git_performance_benchmarks.py
  tests/hooks/git/git_test_automation.py
  tests/integration/test_pr84_enhancements.py
Due: eslint, typescript-check, adk-compliance

🔧 Fix: Apply CodeRabbit approved security and compatibility fixes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/message-input.tsx
  frontend/src/components/chat/message-list.tsx
  tests/hooks/git/git_performance_benchmarks.py
  tests/hooks/git/git_test_automation.py
Due: eslint, typescript-check

fix: Add lint dependency group to CI backend tests
  .github/workflows/main-ci.yml
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  adk-compliance: any of: ^app/.*\.py$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
