Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

adk-compliance:
  name: ADK Compliance Check
  entry: python scripts/adk_helpers/adk_compliance_check.py
  language: system
  pass_filenames: false

docs: add nested git repository structure explanation
  CLAUDE.md
Due: none

docs: Move ADK skill documentation to docs/adk/
  app/agent.py
  app/enhanced_callbacks.py
  app/routes/adk_routes.py
  app/server.py
  docs/adk/ADK_SKILL_QUICK_START.md
  docs/adk/ADK_SKILL_SETUP_GUIDE.md
  docs/adk/START_HERE.md
  frontend/src/app/api/sse/[...route]/route.ts
Due: eslint, typescript-check, adk-compliance

docs: Archive summary reports to archive/reports/
  archive/reports/ADK_SKILL_IMPLEMENTATION_COMPLETE.md
  archive/reports/CLAUDE_AGENT_SKILL_COMPLETE.md
  archive/reports/FINAL_DELIVERY_SUMMARY.md
  archive/reports/GOOGLE_ADK_EXPERT_SKILL_SUMMARY.md
  archive/reports/TASK_COMPLETE_SUMMARY.md
Due: none

docs: Organize root-level documentation into subdirectories
  docs/integration/AUGMENT_CODE_MCP_SETUP.md
  docs/integration/AUGMENT_QUICK_START.md
  docs/integration/AUGMENT_SETUP_VISUAL_GUIDE.md
  docs/integration/CLINE_MCP_INTEGRATION.md
  docs/integration/CLINE_MEMORY_INTEGRATION.md
  docs/integration/FRONTEND_BACKEND_INTEGRATION_ANALYSIS.md
  docs/integration/GEMINI_CLI_MCP_INTEGRATION.md
  docs/integration/GEMINI_CLI_MEMORY_WRAPPER.md
  docs/integration/INTEGRATION_QUICK_REFERENCE.md
  docs/integration/README_AUGMENT_INTEGRATION.md
  docs/memory/AUTOMATED_MEMORY_HOOKS_ANALYSIS.md
  docs/memory/HOOKS_COMPARISON_MATRIX.md
  docs/memory/MEMORY_QUICK_REFERENCE.md
  docs/memory/MEMORY_USAGE_GUIDE.md
  docs/troubleshooting/TROUBLESHOOTING.md
Due: none

fix: Resolve 46 test failures in CSRF and session backup tests
  app/middleware/csrf_middleware.py
  app/utils/session_backup.py
  tests/unit/test_session_backup.py
Due: adk-compliance

test(theme): Add theme guard rails with ESLint rules and validation tests
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/theme-validation.test.ts
Due: eslint, typescript-check

fix: Remove include_contents="none" from plan_generator to restore context
  app/agent.py
Due: adk-compliance

feat(sse): Implement comprehensive SSE error handling and rate limiting
  .gitignore
  README.md
  app/integration/__init__.py
  app/integration/adk_init.py
  app/middleware/session_verification.py
  app/routes/adk_integration_example.py
  app/server.py
  app/services/__init__.py
  app/services/verified_session_service.py
  app/utils/rate_limiter.py
  app/utils/sse_error_handler.py
  docs/architecture/SSE_ERROR_HANDLING_ARCHITECTURE.md
  docs/fixes/session-verification-middleware-fix.md
  docs/quick-reference/SSE_ERROR_HANDLING_QUICK_REF.md
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/components/RateLimitNotice.tsx
  frontend/src/components/agent/VanaAgentStatus.tsx
  frontend/src/components/vana/VanaHomePage.tsx
  frontend/src/hooks/chat/adk-content-extraction.ts
  frontend/src/hooks/chat/sse-event-handlers.ts
  frontend/src/lib/themes.ts
  frontend/tailwind.config.js
  tests/unit/test_sse_error_handler.py
Due: eslint, typescript-check, adk-compliance

fix(frontend): Extract functionResponse content for research plan rendering
  frontend/src/hooks/chat/adk-content-extraction.ts
Due: eslint, typescript-check

refactor(frontend): Improve type safety in ADK content extraction
  frontend/src/hooks/chat/adk-content-extraction.ts
Due: eslint, typescript-check

docs: Add shadcn/prompt-kit documentation and improve type safety
  CLAUDE.md
  docs/prompt-kit/BEST_PRACTICES.md
  docs/prompt-kit/COMPONENTS_CATALOG.md
  docs/prompt-kit/INDEX.md
  docs/prompt-kit/QUICK_REFERENCE.md
  docs/prompt-kit/README.md
  docs/prompt-kit/START_HERE.md
  docs/prompt-kit/prompt-kit-llm-full.md
  docs/shadcn/AI-CHAT-PATTERNS.md
  docs/shadcn/BEST-PRACTICES.md
  docs/shadcn/COMPONENT-REFERENCE.md
  docs/shadcn/README.md
  frontend/src/hooks/chat/adk-content-extraction.ts
  frontend/src/hooks/chat/sse-event-handlers.ts
Due: eslint, typescript-check

refactor: Simplify Message component and deprecate inline markdown rendering
  frontend/src/components/prompt-kit/message.tsx
Due: eslint, typescript-check

refactor: Update imports and remove duplicate prompt-input component
  frontend/src/app/page.tsx
  frontend/src/components/ui/prompt-input.tsx
Due: eslint, typescript-check

refactor: Update frontend components and add integration plan
  docs/plans/image-editor-integration-plan.md
  frontend/src/app/page.tsx
  frontend/src/app/test-prompt/page.tsx
  frontend/src/components/prompt-kit/markdown.tsx
  frontend/src/components/prompt-kit/prompt-input.tsx
  frontend/src/components/vana/VanaHomePage.tsx
Due: eslint, typescript-check

docs: Add comprehensive Agent Web Search implementation plan
  docs/plans/agent-web-search-implementation-plan.md
Due: none

Add files via upload
  Sonnet 4.5 Prompt.txt
Due: none

docs: Add comprehensive handoff document for Agent Web Search
  docs/handoff/agent-web-search-handoff.md
Due: none

docs: Add definitive web search agent architecture
  docs/architecture/EXECUTIVE-SUMMARY.md
  docs/architecture/web-search-agent-architecture-final.md
  docs/architecture/web-search-comparison-matrix.md
Due: none

feat: implement agent web search with dual-mode selection
  app/agent.py
  app/agents/quick_search_agent.py
  app/agents/search_composer_agent.py
  app/agents/search_executor_agent.py
  app/models.py
  app/tools/credibility_scorer.py
  app/utils/query_router.py
  frontend/src/app/page.tsx
  frontend/src/components/search/RelatedSearches.tsx
  frontend/src/components/search/SearchResponseDisplay.tsx
  frontend/src/components/search/SearchResultCard.tsx
  frontend/src/components/search/SearchResults.tsx
  frontend/src/components/search/index.ts
  frontend/src/types/search.ts
Due: eslint, typescript-check, adk-compliance

feat(search): Migrate from Brave Search to Google Search with ADK 1.17.0
  ADK_GOOGLE_SEARCH_UPGRADE.md
  ADK_UPGRADE_PLAN.md
  CLAUDE.md
  GOOGLE_SEARCH_MIGRATION_GUIDE.md
  app/agent.py
  pyproject.toml
  uv.lock
Due: adk-compliance

docs: add comprehensive workflow documentation for Lovable + Claude Code
  ACTUAL_WORKFLOW.md
  CLAUDE.md
  COLLABORATION_WORKFLOW.md
  LOCAL_BACKEND_TESTING.md
  PREVIEW_TESTING_GUIDE.md
  SAFE_DEVELOPMENT_WORKFLOW.md
  WORKFLOW_GUIDE_INDEX.md
Due: none

chore: add Claude agent configurations and update .gitignore
  .claude/agents/ai-engineer.md
  .claude/agents/api-documenter.md
  .claude/agents/backend-architect.md
  .claude/agents/documentation-expert.md
  .claude/agents/error-detective.md
  .claude/agents/frontend-developer.md
  .claude/agents/mcp-expert.md
  .claude/agents/mobile-developer.md
  .claude/agents/python-pro.md
  .claude/agents/task-decomposition-expert.md
  .claude/agents/typescript-pro.md
  .claude/agents/ui-ux-designer.md
  .gitignore
Due: none

docs: add comprehensive next agent instructions
  NEXT_AGENT_PROMPT.md
Due: none

feat: set up dual environment for Claude Code + Lovable AI development
  .gitignore
  DUAL_ENVIRONMENT_SETUP.md
  NEXT_AGENT_PROMPT.md
  public/env-check.html
Due: none

feat: add Claude Code hooks to prevent main commits
  .claude/settings.json
  CLAUDE_CODE_HOOKS.md
Due: none

docs: add setup completion summary
  SETUP_COMPLETE.md
Due: none

fix: resolve image display issues with URL expiry and UI flicker
  src/components/InlineImage.tsx
  src/hooks/useChatMessages.tsx
  src/utils/artifactParser.ts
  supabase/functions/generate-image/index.ts
Due: none

feat: add comprehensive version tracking system
  VERSION_TRACKING.md
  package.json
  scripts/update-version.cjs
  src/App.tsx
  src/components/Settings.tsx
  src/version.ts
Due: none

fix: resolve multiple critical UI and authentication bugs
  src/components/ChatInterface.tsx
  src/components/LoginForm.tsx
  src/components/SignupForm.tsx
  src/pages/Index.tsx
Due: none

chore: update version to 4082124
  src/version.ts
Due: none

refactor: simplify to single Supabase environment
  ARCHIVED_DUAL_ENVIRONMENT_SETUP.md
  CLAUDE.md
  SIMPLIFICATION_COMPLETE.md
  UPDATE_MCP_CONFIG.md
Due: none

fix: resolve image expiration by making user-uploads bucket public
  IMAGE_FIX_REPORT.md
Due: none

feat: implement private user-only storage with signed URLs
  PRIVATE_STORAGE_IMPLEMENTATION.md
  src/components/ChatInterface.tsx
  src/pages/Index.tsx
  supabase/functions/generate-image/index.ts
Due: none

fix: resolve PR #7 critical blockers for private storage implementation
  .playwright-mcp/01-auth-page.png
  .playwright-mcp/02-login-error.png
  IMAGE_FIX_REPORT.md
  PRIVATE_STORAGE_IMPLEMENTATION.md
  package-lock.json
  package.json
  src/components/ChatInterface.tsx
  src/pages/Index.tsx
  src/test/mocks/supabase.ts
  src/test/setup.ts
  src/utils/storage.test.ts
  supabase/functions/generate-image/index.ts
  vitest.config.ts
Due: none

fix: disable publicStorageUrls feature flag for signed URL migration
  src/version.ts
Due: none

fix: resolve chat scrolling issues with proper container hierarchy and mobile touch support
  src/components/ChatInterface.tsx
  src/index.css
  src/pages/Index.tsx
Due: none

feat: Migrate to official prompt-kit components (#18)
  package-lock.json
  package.json
  src/components/ChatInterface.tsx
  src/components/VirtualizedMessageList.tsx
  src/components/ui/chat-container.tsx
  src/components/ui/code-block.tsx
  src/components/ui/markdown.tsx
  src/components/ui/scroll-button.tsx
Due: none

fix: resolve artifact and code block rendering issues
  src/components/ArtifactCard.tsx
  src/components/ChatInterface.tsx
  src/components/VirtualizedMessageList.tsx
  src/pages/Index.tsx
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  adk-compliance: any of: ^app/.*\.py$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
