Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

adk-compliance:
  name: ADK Compliance Check
  entry: python scripts/adk_helpers/adk_compliance_check.py
  language: system
  pass_filenames: false

🔧 Fix: Apply CodeRabbit approved security and compatibility fixes
  .github/workflows/main-ci.yml
  .github/workflows/security-scan.yml
  app/agent.py
  app/configuration/branch_protection.py
  app/configuration/environment.py
  app/configuration/templates.py
  app/configuration/validation.py
  app/enhanced_callbacks.py
  app/models.py
  app/monitoring/alerting.py
  app/monitoring/cache_optimizer.py
  app/monitoring/dashboard.py
  app/monitoring/metrics_collector.py
  app/server.py
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/page.test.tsx
  frontend/src/components/canvas/monaco-editor.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/message-input.tsx
  frontend/src/components/chat/message-list.tsx
  frontend/src/components/chat/sse-debug.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/types/session.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  tests/hooks/git/git_integration_test_runner.py
  tests/hooks/git/git_performance_benchmarks.py
  tests/hooks/git/git_test_automation.py
  tests/integration/test_pr84_enhancements.py
Due: eslint, typescript-check, adk-compliance

Fix: Backend unit test configuration fixes
  .github/workflows/main-ci.yml
  pyproject.toml
  tests/conftest.py
Due: none

Apply CodeRabbit optimization: Simplify uv sync command
  .github/workflows/main-ci.yml
Due: none

🔧 Apply CodeRabbit optimizations: Centralize pytest config and clean up duplicates
  .github/workflows/main-ci.yml
  pyproject.toml
  tests/conftest.py
Due: none

🔧 Fix: Backend unit test configuration fixes
  .github/workflows/main-ci.yml
  pyproject.toml
  tests/conftest.py
Due: none

🔧 Fix: Backend integration test authentication and API compatibility
  tests/integration/test_api_endpoints.py
  tests/integration/test_auth_api.py
Due: none

🔧 Fix: Frontend TypeScript compilation errors
  frontend/src/components/chat/sse-provider.tsx
  frontend/src/hooks/use-sse.ts
Due: eslint, typescript-check

fix: resolve bandit security linting B008 and B904 violations
  app/auth/middleware.py
  app/auth/routes.py
  app/server.py
Due: adk-compliance

fix: address CodeRabbit feedback - complete B904 exception chaining
  app/auth/middleware.py
  app/auth/routes.py
Due: adk-compliance

fix: resolve bandit security linting B008 and B904 violations (#93)
  app/auth/routes.py
  app/server.py
Due: adk-compliance

fix: address CodeRabbit critical security and performance issues
  app/auth/routes.py
  docs/claude-flow-docs/ci-cd/backend-optimization-guide.md
Due: adk-compliance

fix: address CodeRabbit feedback - complete B904 exception chaining
  app/auth/middleware.py
Due: adk-compliance

fix: address CodeRabbit critical security vulnerabilities
  app/auth/routes.py
  app/auth/schemas.py
Due: adk-compliance

fix: address CodeRabbit code quality improvements
  app/auth/routes.py
Due: adk-compliance

fix: address CodeRabbit security vulnerability - verify token ownership before revocation
  app/auth/routes.py
Due: adk-compliance

fix: resolve bandit security linting B008 and B904 violations
  app/auth/middleware.py
Due: adk-compliance

docs: comprehensive documentation updates and nitpick fixes
  app/auth/routes.py
  docs/API.md
  docs/claude-flow-docs/ci-cd/README.md
  docs/claude-flow-docs/ci-cd/backend-optimization-guide.md
  docs/claude-flow-docs/ci-cd/documentation-index.md
  docs/claude-flow-docs/ci-cd/workflow-reference.md
  docs/claude-flow-hooks-api-reference.md
  docs/frontend/sse-architecture.md
  pytest-report.xml
  uv.lock
Due: adk-compliance

feat: enhance UserUpdate schema security with strict field validation
  app/auth/schemas.py
Due: adk-compliance

docs: Comprehensive documentation update for CI/CD optimizations
  CHANGELOG.md
  README.md
  docs/claude-flow-docs/ci-cd/README.md
  docs/claude-flow-docs/ci-cd/backend-optimization-guide.md
  docs/claude-flow-docs/ci-cd/documentation-index.md
  docs/claude-flow-docs/ci-cd/workflow-reference.md
  docs/frontend/sse-architecture.md
  docs/frontend/sse-memory-leak-fix.md
  docs/frontend/sse-quick-reference.md
Due: none

style: improve code formatting in test files
  tests/hooks/git/git_test_automation.py
  tests/integration/test_api_endpoints.py
Due: none

fix: address CodeRabbit actionable feedback - documentation and security improvements
  app/auth/routes.py
  docs/claude-flow-docs/ci-cd/backend-optimization-guide.md
Due: adk-compliance

fix: implement CodeRabbit nitpick improvements for code quality
  app/auth/routes.py
  pyproject.toml
Due: adk-compliance

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  adk-compliance: any of: ^app/.*\.py$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
