Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

vana-naming-check:
  name: VANA Tool Naming Convention Check
  entry: python scripts/lint/check_vana_naming.py
  language: python
  pass_filenames: true

vana-poetry-only:
  name: Prevent pip usage (Poetry only)
  entry: pip install|pip3 install
  language: pygrep

vana-tool-registration:
  name: VANA Tool Registration Pattern Check
  entry: python scripts/lint/check_tool_registration.py
  language: python
  pass_filenames: true

vana-hardcoded-paths:
  name: Check for hardcoded paths
  entry: (/Users/nick/|C:\\Users\\|/home/nick/)
  language: pygrep

🚨 CRITICAL: Comprehensive functional issues analysis
  FUNCTIONAL_ISSUES_ANALYSIS.md
Due: none

FIX: Add missing aiohttp dependency for real coordination tools
  poetry.lock
  pyproject.toml
Due: none

FIX: Add aiohttp to requirements.txt for Cloud Run deployment
  requirements.txt
Due: none

feat: Complete comprehensive system optimization and validation
  .gitignore
  commit_fix.sh
  config/monitoring/monitoring.yaml
  config/security/enhanced_security.yaml
  docs/security/README.md
  lib/_shared_libraries/confidence_scorer.py
  lib/_shared_libraries/intelligent_cache.py
  lib/_shared_libraries/task_router.py
  lib/_tools/mcp_filesystem_tools.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/memory-bank-index.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/CRITICAL_FIX_STATUS_2025-06-14.md
  memory-bank/01-active/agent-handoff-coordination-fix.md
  memory-bank/01-active/next-agent-briefing.md
  performance_optimization_report.json
  scripts/cleanup-local-test.sh
  scripts/initialize_local_mcp.py
  scripts/performance_optimization_validator.py
  scripts/security_remediation.py
  scripts/test-local-docker.sh
  tests/comprehensive/agent_testing_framework.py
  tests/comprehensive/performance_benchmarking.py
  tests/results/comprehensive/agent_testing_results_1749938424.json
  tests/results/performance/performance_benchmarks_1749938514.json
  tests/security/security_audit_framework.py
  tools/embedding_cache.py
  tools/web_search.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🧹 Memory Bank Cleanup + Taskmaster Planning
  .taskmaster/config.json
  .taskmaster/docs/prd.txt
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/MEMORY_BANK_CLEANUP_COMPLETE_2025_06_15.md
  memory-bank/05-archive/ARCHIVED_OUTDATED_CURRENT_HANDOFF_2025_01_11_2025_06_15.md
  memory-bank/05-archive/ARCHIVED_OUTDATED_CURRENT_STATUS_SUMMARY_2025_06_15.md
  memory-bank/05-archive/ARCHIVED_OUTDATED_STRATEGIC_HANDOFF_AGENT_COORDINATION_VS_LITELLM_2025_06_15.md
Due: none

🧹 MEMORY BANK REORGANIZATION COMPLETE
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/memory-bank-index.md
  memory-bank/05-archive/ARCHIVED_HISTORICAL_CONTEXT_EARLY_JUN_2025.md
  memory-bank/05-archive/ARCHIVED_HISTORICAL_CONTEXT_JAN_2025.md
  memory-bank/05-archive/ARCHIVED_HISTORICAL_CONTEXT_MAY_2025.md
  memory-bank/05-archive/ARCHIVED_TASK_COMPLETIONS_JUN_13_2025.md
Due: none

feat: Archive legacy MCP servers infrastructure
  legacy-archive/MCP_SERVERS_ARCHIVAL_NOTICE_2025-06-15.md
  legacy-archive/mcp-servers-archived-2025-06-15/knowledge-graph/config.json
  legacy-archive/mcp-servers-archived-2025-06-15/knowledge-graph/package.json
  legacy-archive/mcp-servers-archived-2025-06-15/n8n-mcp/claude-mcp-config.json
  legacy-archive/mcp-servers-archived-2025-06-15/n8n-mcp/start-mcp-server.sh
  mcp-servers/n8n-mcp/.env.example
  memory-bank/00-core/systemPatterns.md
  memory-bank/00-core/techContext.md
Due: vana-poetry-only, vana-hardcoded-paths

📚 Complete Documentation Modernization & Visual Enhancement
  README.md
  docs/DOCUMENTATION_MODERNIZATION_SUMMARY.md
  docs/README.md
  docs/agents/agent-reference.md
  docs/architecture/system-overview.md
  docs/assets/diagrams/README.md
  docs/assets/diagrams/agent-interactions.md
  docs/assets/diagrams/deployment-architecture.md
  docs/assets/diagrams/system-architecture.md
  docs/assets/diagrams/tool-organization.md
  docs/tools/tool-reference.md
Due: none

🔧 Critical User Documentation Updates - Align with Verified System State
  docs/getting-started/quick-start.md
  docs/guides/api-reference.md
  docs/guides/user-guide.md
  docs/user/getting-started.md
Due: none

🚨 CRITICAL: Documentation Remediation - Correct False Claims
  .taskmaster/config.json
  .taskmaster/docs/documentation-remediation-prd.txt
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  memory-bank/00-core/ACCURATE_SYSTEM_STATUS_2025_06_15.md
  memory-bank/00-core/DOCUMENTATION_REMEDIATION_SUMMARY_2025_06_15.md
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/CRITICAL_FIX_STATUS_2025-06-14.md
  memory-bank/01-active/PROJECT_HANDOFF_REMAINING_ITEMS.md
  memory-bank/01-active/TASK_5_HANDOFF_COORDINATION_TOOLS.md
  memory-bank/01-active/VALIDATION_TESTING_PHASE_INITIATED.md
  memory-bank/01-active/agent-handoff-coordination-fix.md
  memory-bank/01-active/next-agent-briefing.md
  memory-bank/05-archive/ARCHIVED_OUTDATED_TRUE_MCP_IMPLEMENTATION_COMPLETE_2025_06_15.md
Due: none

✅ APPROVED: Documentation Remediation - Correct Extensive False Claims
  .taskmaster/config.json
  .taskmaster/docs/documentation-remediation-prd.txt
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  memory-bank/00-core/ACCURATE_SYSTEM_STATUS_2025_06_15.md
  memory-bank/00-core/DOCUMENTATION_REMEDIATION_SUMMARY_2025_06_15.md
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/CRITICAL_FIX_STATUS_2025-06-14.md
  memory-bank/01-active/PROJECT_HANDOFF_REMAINING_ITEMS.md
  memory-bank/01-active/TASK_5_HANDOFF_COORDINATION_TOOLS.md
  memory-bank/01-active/VALIDATION_TESTING_PHASE_INITIATED.md
  memory-bank/01-active/agent-handoff-coordination-fix.md
  memory-bank/01-active/next-agent-briefing.md
  memory-bank/05-archive/ARCHIVED_OUTDATED_TRUE_MCP_IMPLEMENTATION_COMPLETE_2025_06_15.md
Due: none

🚨 CRITICAL: Deploy coordination tools infrastructure
  .gitignore
  lib/_tools/agent_communication.py
  lib/_tools/agent_discovery.py
  lib/_tools/agent_interface.py
  lib/_tools/capability_matcher.py
  lib/_tools/jsonrpc_client.py
  lib/_tools/jsonrpc_server.py
  lib/_tools/load_balancer.py
  lib/_tools/message_protocol.py
  lib/_tools/message_router.py
  lib/_tools/performance_tracker.py
  lib/_tools/real_coordination_tools.py
  lib/_tools/result_aggregator.py
  lib/_tools/routing_engine.py
  lib/_tools/task_analyzer.py
  lib/_tools/task_classifier.py
  lib/_tools/task_orchestrator.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

📝 Update Memory Bank: Coordination tools implementation progress
  memory-bank/00-core/activeContext.md
Due: none

🚀 COMPLETE: Deploy remaining VANA infrastructure components
  .taskmaster/docs/coordination-tools-implementation-prd.txt
  lib/_tools/workflow_engine.py
  lib/_tools/workflow_templates.py
  lib/logging_config.py
  lib/logging_utils.py
  lib/mcp/config/mcp_servers.json
  lib/performance/coordination_optimizer.py
  lib/performance/database_optimizer.py
  lib/performance/optimizer.py
  lib/sandbox/__init__.py
  lib/sandbox/config/resource_limits.yaml
  lib/sandbox/config/security_policies.yaml
  lib/sandbox/containers/Dockerfile.javascript
  lib/sandbox/containers/Dockerfile.python
  lib/sandbox/containers/Dockerfile.shell
  lib/sandbox/containers/package.json
  lib/sandbox/containers/requirements.txt
  lib/sandbox/core/__init__.py
  lib/sandbox/core/execution_engine.py
  lib/sandbox/core/resource_monitor.py
  lib/sandbox/core/security_manager.py
  lib/sandbox/executors/__init__.py
  lib/sandbox/executors/base_executor.py
  lib/sandbox/executors/javascript_executor.py
  lib/sandbox/executors/python_executor.py
  lib/sandbox/executors/shell_executor.py
  lib/sandbox/scripts/build_containers.py
  memory-bank/00-core/activeContext.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🔧 FIX: Register MCP tools with Google ADK interface
  agents/vana/team.py
  lib/_tools/__init__.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🚨 CRITICAL FIX: Disable hanging coordination tools
  lib/_tools/adk_tools.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

✅ CORRECT SOLUTION: Implement proper ADK agent delegation
  agents/vana/team.py
  lib/_tools/adk_tools.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

✅ Fix delegation functionality - AgentTool pattern working
  agents/vana/team.py
  lib/_tools/adk_tools.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/AGENT_HANDOFF_DELEGATION_FIX_2025_06_16.md
  memory-bank/01-active/DELEGATION_FUNCTIONALITY_SUCCESS_2025_06_16.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

✅ DELEGATION SYSTEM TESTING COMPLETE
  agents/code_execution/specialist.py
  agents/data_science/specialist.py
  agents/memory/__init__.py
  agents/orchestration/__init__.py
  agents/specialists/__init__.py
  agents/test_minimal/__init__.py
  agents/test_output_key/__init__.py
  agents/test_output_key_tools/__init__.py
  agents/test_single_tool/__init__.py
  agents/test_sub_agents/__init__.py
  agents/vana/team.py
  agents/vana_simple/__init__.py
  agents/workflows/__init__.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/memory-bank-index.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/DELEGATION_SYSTEM_TESTING_COMPLETE_2025_06_16.md
  memory-bank/01-active/PRODUCTION_DEPLOYMENT_PRIORITY_2025_06_16.md
  memory-bank/01-active/comprehensive-audit-summary.md
  memory-bank/04-completed/FRONTEND_DISPLAY_ISSUE_RESOLUTION_2025_06_16.md
  poetry.lock
  pyproject.toml
  test_current_status.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Complete comprehensive VANA system audit - All phases validated, issues identified, fix plans created
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/02-phases/COMPREHENSIVE_SYSTEM_AUDIT_REPORT_2025_06_16.md
Due: none

🚨 URGENT: Critical deployment fixes required - vana-dev missing tools
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/00-core/systemPatterns.md
  memory-bank/01-active/ADK_EVALUATION_SUCCESS_REPORT_2025_06_16.md
  memory-bank/01-active/AGENT_COUNT_CLARIFICATION_2025_06_16.md
  memory-bank/01-active/CRITICAL_FIXES_IMMEDIATE_ACTION_PLAN_2025_06_16.md
  memory-bank/01-active/REMEDIATION_PLAN_EXECUTION_2025_06_16.md
  memory-bank/01-active/URGENT_HANDOFF_DEPLOYMENT_FIXES_REQUIRED_2025_06_16.md
  memory-bank/01-active/VANA_DEV_HEALTH_AUDIT_REPORT_2025_06_16.md
  scripts/run_critical_evaluation.py
  tests/eval/test_critical_functionality.py
  tests/results/critical_functionality_report.json
  tests/test_critical_functionality_simple.py
Due: vana-poetry-only, vana-hardcoded-paths

Path conditions:
  vana-naming-check: any of: ^(lib/_tools/.*\.py|agents/.*\.py)$
  vana-poetry-only: any of: \.(py|sh)$, but not: ^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$
  vana-tool-registration: any of: ^(lib/_tools/.*\.py|agents/.*\.py)$
  vana-hardcoded-paths: any of: \.(py|sh)$, but not: ^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$
