Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

vana-naming-check:
  name: VANA Tool Naming Convention Check
  entry: python scripts/lint/check_vana_naming.py
  language: python
  pass_filenames: true

vana-poetry-only:
  name: Prevent pip usage (Poetry only)
  entry: pip install|pip3 install
  language: pygrep

vana-tool-registration:
  name: VANA Tool Registration Pattern Check
  entry: python scripts/lint/check_tool_registration.py
  language: python
  pass_filenames: true

vana-hardcoded-paths:
  name: Check for hardcoded paths
  entry: (/Users/nick/|C:\\Users\\|/home/nick/)
  language: pygrep

docs: Complete Priority 3 quality review and Google ADK compatibility fixes
  agents/workflows/iterative_refinement_workflow.py
  memory-bank/HANDOFF_PRIORITY3_QUALITY_REVIEW_COMPLETE.md
  memory-bank/activeContext.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🔒 CRITICAL: Comprehensive code review resolution - All 12 issues fixed
  config/templates/.env.development
  config/templates/credentials.json.template
  deployment/cloudbuild-dev.yaml
  deployment/cloudbuild.yaml
  deployment/deploy.sh
  memory-bank/HANDOFF_COMPREHENSIVE_CODE_REVIEW_RESOLUTION_COMPLETE.md
  memory-bank/HANDOFF_MEMORY_ARCHITECTURE_COMPLETE.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  pyproject.toml
  pytest.ini
Due: none

cleanup: Remove stranded WebUI code
  .dockerignore
  dashboard/frontend/package.json
  dashboard/frontend/public/index.html
  dashboard/frontend/src/App.js
  dashboard/frontend/src/components/Alerts.js
  dashboard/frontend/src/components/Chat.js
  dashboard/frontend/src/components/HealthStatus.js
  dashboard/frontend/src/components/Login.js
  dashboard/frontend/src/index.js
  deployment/Dockerfile
  lib/webui_routes.py
  main.py
  memory-bank/HANDOFF_FRONTEND_INTEGRATION_DOCKER_BUILD_ISSUE.md
  memory-bank/activeContext.md
Due: vana-poetry-only, vana-hardcoded-paths

fix: Resolve Codex agent issues - Phase 1 complete
  config/environment.py
  lib/_shared_libraries/vector_search_service.py
  main.py
  memory-bank/HANDOFF_CODEX_ISSUES_RESOLUTION_PROGRESS.md
  memory-bank/activeContext.md
Due: vana-poetry-only, vana-hardcoded-paths

fix: Complete Codex issues resolution Phase 2 - all 7 issues resolved
  docs/AGENT_OPTIMIZATION_IMPLEMENTATION_GUIDE.md
  docs/architecture/agents.md
  docs/architecture/overview.md
  fix_syntax_errors.py
  fix_team_syntax.py
  memory-bank/HANDOFF_CODEX_ISSUES_RESOLUTION_PHASE2_COMPLETE.md
  memory-bank/HANDOFF_DOCUMENT_IMPORT_IN_PROGRESS.md
  memory-bank/HANDOFF_MCP_OPTIMIZATION_DEPLOYMENT_ISSUE.md
  memory-bank/activeContext.md
  memory-bank/agent-configuration-debug-handoff.md
  memory-bank/git-corruption-handoff.md
  memory-bank/progress.md
  memory-bank/tool-import-debugging-handoff.md
  scripts/fix_vector_search_permissions.py
  tests/automated/fixed_document_import.py
  tests/automated/real_puppeteer_validator.py
Due: vana-poetry-only, vana-hardcoded-paths

fix: Use correct Cloud Build substitution variable
  deployment/cloudbuild-dev.yaml
Due: none

docs: Complete comprehensive documentation overhaul
  DOCUMENTATION_UPDATE_SUMMARY.md
  README.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/projectbrief.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
Due: none

Add orchestrators, schemas, guardrails
  agents/orchestrators/__init__.py
  agents/orchestrators/development_orchestrator.py
  agents/orchestrators/travel_orchestrator.py
  agents/vana/team.py
  agents/workflows/iterative_refinement_workflow.py
  agents/workflows/parallel_analysis_workflow.py
  agents/workflows/project_development_workflow.py
  agents/workflows/schemas.py
  docs/architecture/orchestrators.md
  lib/_shared_libraries/coordination_manager.py
  lib/_tools/__init__.py
  lib/_tools/adk_tools.py
  lib/_tools/tool_breadcrumbs.py
  main.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

chore: improve orchestrators and guardrails
  agents/orchestrators/__init__.py
  agents/orchestrators/development_orchestrator.py
  agents/orchestrators/travel_orchestrator.py
  agents/vana/team.py
  agents/workflows/iterative_refinement_workflow.py
  agents/workflows/parallel_analysis_workflow.py
  agents/workflows/project_development_workflow.py
  agents/workflows/schemas.py
  docs/architecture/orchestrators.md
  lib/_shared_libraries/coordination_manager.py
  lib/_tools/__init__.py
  lib/_tools/adk_tools.py
  lib/_tools/tool_breadcrumbs.py
  lib/_tools/tool_wrappers.py
  main.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

docs: document VANA_MODEL_NAME in README
  README.md
Due: none

Add safe_tool wrapper with logging and tests
  lib/_tools/tool_wrappers.py
  tests/test_tool_wrappers.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

feat: add tool breadcrumbs for debugging and observability
  lib/_tools/tool_breadcrumbs.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

feat: add workflow schemas for structured data validation
  agents/workflows/schemas.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

feat: add security guardrails for enhanced protection
  main.py
Due: vana-poetry-only, vana-hardcoded-paths

fix: commit pending changes from integration process
  memory-bank/activeContext.md
  tests/test_long_running_tools.py
  tools/security/__init__.py
Due: vana-poetry-only, vana-hardcoded-paths

fix: Complete project ID audit and deployment configuration
  current-service-config.yaml
  deployment/cloudbuild-dev.yaml
  deployment/cloudbuild.yaml
  main.py
  memory-bank/activeContext.md
Due: vana-poetry-only, vana-hardcoded-paths

fix: Resolve container startup failure and pytest errors
  .gcloudignore
  CODEX_SETUP_OPTIMIZATION_SUMMARY.md
  vana_codex_setup_simple.sh
Due: vana-poetry-only, vana-hardcoded-paths

feat: comprehensive testing framework development
  HANDOFF_COMPREHENSIVE_TESTING_FRAMEWORK.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  tests/automated/infrastructure_validation.py
  tests/automated/master_test_runner.py
  tests/automated/orchestration_validation.py
  tests/comprehensive_post_merge_validation_plan.md
  tests/comprehensive_system_evaluation_plan.md
  tests/discovery/system_discovery_framework.py
  tests/results/comprehensive_validation_execution_summary.md
  tests/results/validation_execution_report.md
  tests/run_validation.sh
  vana_codex_setup_fixed.sh
Due: vana-poetry-only, vana-hardcoded-paths

docs: update and sync documentation
  README.md
  dashboard/monitoring/README.md
  docs/README.md
  docs/architecture/overview.md
  docs/deployment/cloud-deployment.md
  docs/deployment/security-guide.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/guides/api-reference.md
  docs/guides/developer-guide.md
  docs/guides/monitoring.md
  docs/guides/user-guide.md
Due: none

docs: align agent counts with code
  README.md
  dashboard/monitoring/README.md
  docs/README.md
  docs/architecture/agents.md
  docs/architecture/overview.md
  docs/deployment/cloud-deployment.md
  docs/deployment/security-guide.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/guides/api-reference.md
  docs/guides/developer-guide.md
  docs/guides/monitoring.md
  docs/guides/user-guide.md
Due: none

feat: Implement comprehensive ADK-style testing framework
  ADK_EVALUATION_FRAMEWORK_FINAL_SUMMARY.md
  COMPREHENSIVE_TESTING_FRAMEWORK_COMPLETE.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  pyproject.toml
  tests/discovery/system_discovery_framework.py
  tests/eval/agent_evaluator.py
  tests/eval/config.py
  tests/eval/performance_benchmarks.py
  tests/eval/run_evaluation.py
  tests/eval/test_evaluation.py
  tests/integration/test_agent_coordination.py
  tests/unit/test_vana_agent.py
Due: vana-poetry-only, vana-hardcoded-paths

Path conditions:
  vana-naming-check: any of: ^(lib/_tools/.*\.py|agents/.*\.py)$
  vana-poetry-only: any of: \.(py|sh)$, but not: ^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$
  vana-tool-registration: any of: ^(lib/_tools/.*\.py|agents/.*\.py)$
  vana-hardcoded-paths: any of: \.(py|sh)$, but not: ^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$
