Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

adk-compliance:
  name: ADK Compliance Check
  entry: python scripts/adk_helpers/adk_compliance_check.py
  language: system
  pass_filenames: false

fix: Fix multi-line bash conditional in ci-status job
  .github/workflows/ci.yml
Due: none

fix: Add minimal test workflow and simplify working-directory expressions
  .github/workflows/ci.yml
  .github/workflows/test-minimal.yml
Due: none

fix: Remove test workflow, focus on core CI issues
  .github/workflows/test-minimal.yml
  memory/memory-store.json
Due: none

debug: Add debugging output to detect-structure job
  .github/workflows/ci.yml
Due: none

test: Add minimal workflow to confirm billing issue is root cause
  .github/workflows/test-minimal.yml
Due: none

docs: Add comprehensive CI/CD pipeline failure analysis
  docs/CI_PIPELINE_ANALYSIS.md
Due: none

cleanup: Remove test workflow after confirming billing issue
  .github/workflows/test-minimal.yml
  frontend/app/(chat)/api/chat/vana/[id]/stream/route.ts
  frontend/app/(chat)/api/chat/vana/route.ts
  frontend/components/vana-data-stream-provider.tsx
Due: eslint, typescript-check

feat: implement comprehensive CI/CD pipeline optimization
  .github/workflows/ci-optimized.yml
  docs/CI_OPTIMIZATION_GUIDE.md
  scripts/ci-monitor.sh
Due: none

docs: add implementation summary and deployment guide
  CI_OPTIMIZATION_IMPLEMENTATION_SUMMARY.md
Due: none

feat: optimize CI/CD pipeline for 83% minute reduction
  frontend/app/(chat)/api/chat/vana/[id]/stream/route.ts
  frontend/app/(chat)/api/chat/vana/route.ts
  frontend/components/vana-data-stream-provider.tsx
  memory/memory-store.json
Due: eslint, typescript-check

fix: resolve backend linting errors and test collection issues
  app/models.py
  pyproject.toml
  tests/ci_conftest.py
Due: adk-compliance

fix: use consistent pnpm script for TypeScript checking
  .github/workflows/ci.yml
Due: none

feat: add Jest configuration for frontend unit testing
  frontend/__tests__/example.test.tsx
  frontend/jest.config.js
  frontend/jest.setup.js
Due: eslint, typescript-check

fix: resolve frontend CI failures - closes #182
  frontend/jest.config.js
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: eslint

fix: resolve CI TypeScript and build failures
  .github/workflows/ci-optimized.yml.disabled
  .github/workflows/ci.yml
  frontend/memory/memory-store.json
  frontend/tsconfig.tsbuildinfo
  memory/memory-store.json
  package.json
Due: none

fix: resolve remaining CI TypeScript and workflow issues
  .github/workflows/deploy.yml
  docs/FRONTEND_AUDIT_REPORT.md
  docs/backend-test-hanging-problem-description.md
  frontend/tsconfig.json
Due: none

fix: add missing exports to constants file
  frontend/lib/constants.ts
Due: eslint, typescript-check

fix: resolve final TypeScript import error for generateUUID
  frontend/tsconfig.tsbuildinfo
Due: none

fix: resolve CI pipeline issues - backend hanging, security scan, and deploy
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  app/auth/google_cloud.py
  docs/TEST_HANGING_FIX_SUMMARY.md
  pyproject.toml
  scripts/test-runner.sh
  tests/conftest.py
  tests/conftest_server_check.py
  tests/integration/sse/sse-backend-integration.py
  tests/integration/test_integration_full.py
  tests/memory/memory-store.json
  tests/performance_load_test.py
  uv.lock
Due: adk-compliance

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  adk-compliance: any of: ^app/.*\.py$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
