Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

adk-compliance:
  name: ADK Compliance Check
  entry: python scripts/adk_helpers/adk_compliance_check.py
  language: system
  pass_filenames: false

Update CLAUDE.md to reflect backend-only architecture
  CLAUDE.md
Due: none

Revert "Update CLAUDE.md to reflect backend-only architecture"
  CLAUDE.md
Due: none

refactor: Reorganize documentation structure and update CLAUDE.md
  CLAUDE-9.7.25.md
  CLAUDE.md
  docs/README.md
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.01.21 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.01.36 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.02.05 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.02.14 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.02.49 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.03.35 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.03.40 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.04.41 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.04.52 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.05.37 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.06.24 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.06.33 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.06.43 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.09.56 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.10.05 AM.png
  docs/UI Inspiration/Screenshot 2025-08-12 at 12.10.13 AM.png
  docs/claude-flow-hooks-api-reference.md
  docs/git-hooks/01-installation-guide.md
  docs/git-hooks/02-user-guide.md
  docs/git-hooks/03-technical-reference.md
  docs/git-hooks/04-visual-guides.md
  docs/git-hooks/05-configuration-examples.md
  docs/git-hooks/06-developer-experience.md
  docs/git-hooks/07-faq-troubleshooting.md
  docs/git-hooks/08-performance-testing.md
  docs/git-hooks/README.md
Due: none

docs: Update CLAUDE.md with corrections and clarifications
  CLAUDE.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat: Frontend prep - SSE fixes and documentation updates
  .env.local.template
  .github/workflows/test.yml
  CLAUDE.md
  LOCAL_BUILD_GUIDE.md
  Makefile
  README.md
  app/.env.local.template
  app/utils/sse_broadcaster.py
  app/utils/sse_broadcaster_fixed.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/test_sse_basic_validation.py
  tests/integration/test_sse_comprehensive.py
  tests/integration/test_sse_load_testing.py
  tests/integration/test_sse_memory_leak_detection.py
  tests/integration/test_sse_minimal.py
  tests/performance/__init__.py
  tests/performance/test_sse_performance.py
  tests/unit/__init__.py
Due: adk-compliance

fix: Address CodeRabbit feedback - SSE keepalive handling and psutil import
  app/utils/sse_broadcaster.py
  tests/integration/test_sse_basic_validation.py
Due: adk-compliance

fix: Implement non-DevOps code quality improvements per reviewer approval
  .env.ci
  .github/workflows/ci-cd-optimized.yml
  .github/workflows/test.yml
  LOCAL_BUILD_GUIDE.md
  Makefile
  app/.env.local.template
  app/auth/middleware.py
  app/middleware/__init__.py
  app/middleware/security.py
  app/models.py
  app/monitoring/metrics_collector.py
  app/tests/__init__.py
  app/tests/security/test_rate_limiting.py
  app/tests/security/test_security_middleware.py
  app/tests/test_health.py
  app/utils/sse_broadcaster.py
  pyproject.toml
  scripts/security_check.sh
  uv.lock
Due: adk-compliance

fix: Implement critical CodeRabbit security and runtime fixes
  .github/workflows/ci-cd-optimized.yml
  .github/workflows/optimized_ci_cd_pipeline.yml
  app/auth/middleware.py
  app/configuration/environment.py
  app/enhanced_callbacks.py
  app/middleware/__init__.py
  app/middleware/security.py
  app/models.py
  app/monitoring/metrics_collector.py
  app/server.py
  app/utils/migration_helper.py
  pyproject.toml
  tests/integration/test_sse_basic_validation.py
  tests/integration/test_sse_comprehensive.py
  tests/integration/test_sse_load_testing.py
  tests/integration/test_sse_memory_leak_detection.py
  tests/integration/test_sse_minimal.py
  tests/performance/test_sse_performance.py
  tests/unit/test_config.py
  tests/unit/test_health.py
  uv.lock
Due: adk-compliance

fix: Resolve 6 CodeRabbit security and architecture issues
  .env.ci
  app/.env.local.template
  app/auth/middleware.py
  app/middleware/security.py
  tests/unit/test_security_middleware.py
Due: adk-compliance

docs: Update CI/CD documentation and restructure test architecture
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
  CLAUDE.md
  tests/integration/test_sse_basic_validation.py
  tests/integration/test_sse_comprehensive.py
  tests/integration/test_sse_load_testing.py
  tests/integration/test_sse_memory_leak_detection.py
  tests/integration/test_sse_minimal.py
  tests/performance/test_sse_performance.py
  tests/unit/test_config.py
Due: none

feat: Complete SSE fixes and add security scanner
  app/configuration/environment.py
  app/models.py
  app/monitoring/metrics_collector.py
  app/server.py
  app/utils/migration_helper.py
  frontend/package-lock.json
  scripts/security_scan.py
Due: adk-compliance

feat: Complete ChatGPT-style chat interface implementation
  frontend/app/page.tsx
  frontend/components/chat/chat-header.tsx
  frontend/components/chat/chat-input.tsx
  frontend/components/chat/chat-interface.tsx
  frontend/components/chat/chat-messages.tsx
  frontend/components/chat/message-bubble.tsx
  frontend/components/chat/message-skeleton.tsx
  frontend/components/chat/streaming-message.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/sidebar.tsx
  frontend/components/ui/skeleton.tsx
  frontend/components/vana-sidebar.tsx
  frontend/contexts/chat-context.tsx
  frontend/lib/chat-api.ts
Due: eslint, typescript-check

fix: Apply high-priority CodeRabbit feedback
  frontend/app/globals.css
  frontend/components/admin-panel/sheet-menu.tsx
  frontend/components/admin-panel/sidebar-toggle.tsx
  frontend/components/chat/chat-header.tsx
  frontend/components/theme-provider.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/textarea.tsx
  frontend/next.config.ts
Due: eslint, typescript-check

fix: Clean up linting warnings and resolve CI build issues
  frontend/components/admin-panel/collapse-menu-button.tsx
  frontend/components/mode-toggle.tsx
  frontend/components/providers/theme-provider.tsx
  frontend/components/vana-sidebar.tsx
  frontend/lib/chat-api.ts
  frontend/lib/menu-list.ts
Due: eslint, typescript-check

feat: Add GitHub Spec Kit integration and improve sidebar UI
  frontend/app/dev-indicator-fix.css
  frontend/app/globals.css
  frontend/components/chat/chat-header.tsx
  frontend/components/ui/sidebar.tsx
  frontend/components/vana-sidebar.tsx
  frontend/next.config.ts
  memory/constitution.md
  memory/constitution_update_checklist.md
  scripts/check-task-prerequisites.sh
  scripts/common.sh
  scripts/create-new-feature.sh
  scripts/get-feature-paths.sh
  scripts/setup-plan.sh
  scripts/update-agent-context.sh
  specs/001-walk-me-through/spec.md
  specs/002-i-want-to/spec.md
  templates/agent-file-template.md
  templates/plan-template.md
  templates/spec-template.md
  templates/tasks-template.md
Due: eslint, typescript-check

docs: Clean up documentation structure and update CLAUDE.md
  CLAUDE-9.7.25.md
  CLAUDE.md
  backend_ruff_issues.json
  docs/CONTRIBUTING.md
  docs/HANDOFF.md
  docs/LOCAL_BUILD_GUIDE.md
  docs/frontend/components-list.md
  docs/frontend/frontend-reqs.md
  docs/frontend/sse-memory-leak-fix.md
  tests/playwright.config.ts
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  adk-compliance: any of: ^app/.*\.py$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
