Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

.pre-commit-config.yaml:

# Pre-commit configuration for Vana project
# See https://pre-commit.com for more information

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-pyyaml]
        args: [--strict, --ignore-missing-imports]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, app/, -ll]
        exclude: tests/

  # General formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words-list=rouge,DAA,deques]
        exclude: |
          (?x)^(
              .*\.lock|
              .*node_modules/.*|
              .*\.venv/.*|
              .*venv/.*|
              .*\.ipynb
          )$

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091]  # Ignore sourcing of non-existent files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  # Frontend (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Custom ADK compliance checks
  - repo: local
    hooks:
      - id: adk-compliance
        name: ADK Compliance Check
        entry: python scripts/adk_helpers/adk_compliance_check.py
        language: system
        files: ^app/.*\.py$
        pass_filenames: false

# Configuration
default_stages: [commit, push]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      .*node_modules/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.git/.*|
      .*__pycache__/.*|
      .*\.mypy_cache/.*|
      .*\.pytest_cache/.*|
      .*\.ruff_cache/.*|
      frontend/\.next/.*|
      frontend/out/.*
  )$

Fix duplicate @types/js-cookie dependency
  frontend/package.json
Due: none

[Sprint 2] PR #11: Complete Testing Infrastructure
  frontend/TESTING.md
  frontend/__mocks__/jose.js
  frontend/bun.lock
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/__tests__/components/button.test.tsx
  frontend/src/__tests__/e2e/app.setup.ts
  frontend/src/__tests__/e2e/app.teardown.ts
  frontend/src/__tests__/e2e/global.setup.ts
  frontend/src/__tests__/e2e/global.teardown.ts
  frontend/src/__tests__/e2e/home.spec.ts
  frontend/src/__tests__/hooks/use-auth.test.ts
  frontend/src/__tests__/vitest.setup.ts
  frontend/vitest.config.ts
Due: eslint, typescript-check

fix: resolve merge conflicts in PR #110 Protected Routes
  frontend/src/app/api/auth/refresh/route.ts
  frontend/src/app/api/auth/token/route.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/components/auth/GoogleLoginButton.tsx
  frontend/src/components/auth/SessionIndicator.tsx
  frontend/src/components/auth/UserProfileDropdown.tsx
  frontend/src/lib/auth/google-oauth.ts
Due: eslint, typescript-check

[Sprint 2] PR #7: Protected Routes & Auth Guards (#110)
  frontend/package-lock.json
  frontend/src/app/401/page.tsx
  frontend/src/app/403/page.tsx
  frontend/src/app/canvas/page.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/hooks/useAuthGuard.tsx
  frontend/src/middleware.ts
  frontend/tsconfig.tsbuildinfo
Due: eslint, typescript-check

[Sprint 2] PR #8: Homepage Layout Implementation (#111)
  frontend/src/app/page.tsx
Due: eslint, typescript-check

[Sprint 2] PR #9: Gemini Theme Implementation (#112)
  frontend/src/app/globals.css
Due: none

[Sprint 2] PR #10: SSE Infrastructure Implementation (#113)
  frontend/src/app/api/sse/route.ts
  frontend/src/components/sse/SSEConnectionIndicator.tsx
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/sse/client.ts
  frontend/src/lib/sse/types.ts
Due: eslint, typescript-check

fix: resolve critical build blockers from Sprint 2 merges
  frontend/bun.lock
  frontend/cache/config.json
  frontend/eslint.config.mjs
  frontend/middleware.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/__tests__/auth/google-oauth.test.ts
  frontend/src/__tests__/vitest.setup.ts
  frontend/src/app/401/page.tsx
  frontend/src/app/403/page.tsx
  frontend/src/app/api/auth/logout/route.ts
  frontend/src/app/api/sse/route.ts
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/auth/AuthErrorBoundary.tsx
  frontend/src/components/auth/GoogleLoginButton.tsx
  frontend/src/components/auth/SessionIndicator.tsx
  frontend/src/components/auth/UserProfileDropdown.tsx
  frontend/src/components/auth/index.ts
  frontend/src/components/sse/SSEConnectionIndicator.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/examples/sse-usage-examples.tsx.disabled
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-auth.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useAuthGuard.ts
  frontend/src/hooks/useAuthGuard.tsx
  frontend/src/hooks/useSSE.ts
  frontend/src/hooks/useTokenRefresh.ts
  frontend/src/lib/auth/google-oauth.ts
  frontend/src/lib/auth/secure-storage.ts
  frontend/src/lib/sse/types.ts
  frontend/src/store/index.ts
  frontend/src/store/persistence.ts
  frontend/src/store/subscriptions.ts
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
  frontend/types/jest.d.ts
Due: eslint, typescript-check

fix: implement critical CodeRabbit review feedback
  frontend/middleware.ts
  frontend/src/app/api/sse/route.ts
  frontend/src/hooks/use-auth.ts
  frontend/src/hooks/useTokenRefresh.ts
  frontend/src/store/index.ts
  frontend/tsconfig.tsbuildinfo
Due: eslint, typescript-check

fix: Sprint 2 stabilization - lint fixes and testing setup
  app/pytest.ini
  app/tests/__init__.py
  app/tests/test_health.py
  frontend/src/app/api/sse/route.ts
  frontend/src/components/agents/agent-avatar.tsx
  frontend/src/components/auth/AuthErrorBoundary.tsx
  frontend/src/components/canvas/agent-cursors.tsx
  frontend/src/components/canvas/export-system.tsx
Due: eslint, typescript-check, adk-compliance

fix: address critical CodeRabbit review feedback
  app/pytest.ini
  frontend/src/components/auth/AuthErrorBoundary.tsx
  frontend/src/components/canvas/agent-cursors.tsx
Due: eslint, typescript-check

fix: resolve final build issues for merge
  frontend/src/app/api/sse/route.ts
  frontend/src/components/canvas/agent-cursors.tsx
  frontend/src/lib/auth/google-oauth.ts
  frontend/src/lib/sse/client.ts
Due: eslint, typescript-check

fix: resolve final TypeScript build errors for merge
  frontend/src/lib/sse/client.ts
  frontend/src/middleware.ts
Due: eslint, typescript-check

fix: remove unused AgentMessage import
  frontend/src/store/index.ts
Due: eslint, typescript-check

fix: Resolve remaining TypeScript compilation errors
  frontend/src/hooks/useSSE.ts
  frontend/src/store/index.ts
  frontend/src/store/middleware/index.ts
  frontend/tsconfig.tsbuildinfo
Due: eslint, typescript-check

fix: resolve all TypeScript compilation errors (24 total)
  frontend/src/store/middleware/index.ts
  frontend/src/store/persistence.ts
  frontend/src/store/subscriptions.ts
  frontend/src/types/global.d.ts
  frontend/src/types/session.ts
  frontend/src/validation/store-validation.ts
  frontend/vitest.config.ts
Due: eslint, typescript-check

fix: address CodeRabbit security and code quality issues
  frontend/src/lib/agent-defaults.ts
  frontend/src/middleware.ts
  frontend/src/store/index.ts
  frontend/src/store/middleware/index.ts
  frontend/src/store/persistence.ts
Due: eslint, typescript-check

fix: resolve TypeScript errors for clean merge
  frontend/src/middleware.ts
  frontend/src/store/index.ts
  frontend/src/store/middleware/index.ts
  frontend/tsconfig.tsbuildinfo
  src/hooks/config/hook_config.py
  src/hooks/orchestrator.py
  tests/hooks/integration/git-hook-manager.js
Due: eslint, typescript-check

refactor: reorganize middleware files for CSP investigation
  frontend/middleware-csp-backup.ts
  frontend/src/middleware-disabled.ts
  frontend/src/middleware-working.ts
  frontend/src/middleware.ts
Due: eslint, typescript-check

fix: restore PRD-compliant homepage UI
  frontend/src/app/landing/page.tsx
  frontend/src/app/page.tsx
Due: eslint, typescript-check

fix: apply dark theme to restored homepage
  .playwright-mcp/homepage-dark-mode-check.png
  .playwright-mcp/homepage-restored.png
  frontend/src/app/layout.tsx
Due: eslint, typescript-check

fix: resolve layout overflow issues preventing content display
  frontend/src/app/page.tsx
  frontend/src/components/home/hero-section.tsx
  frontend/src/components/layout/main-layout.tsx
Due: eslint, typescript-check

fix: correct SSE endpoint URLs to match backend
  frontend/src/app/api/sse/route.ts
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/lib/sse-client.ts
Due: eslint, typescript-check

fix: implement CodeRabbit security and routing fixes
  frontend/src/app/landing/page.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/lib/sse-client.ts
Due: eslint, typescript-check

chore: remove tsconfig.tsbuildinfo from git tracking
  frontend/tsconfig.tsbuildinfo
Due: none

fix: implement critical security fixes from CodeRabbit review
  frontend/src/app/api/sse/route.ts
  frontend/src/app/page.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/editor/monaco-sandbox.tsx
  frontend/src/lib/sse-client.ts
  frontend/src/middleware-working.ts
Due: eslint, typescript-check

refactor: minor security enhancements and code cleanup
  app/utils/validation.py
  frontend/src/app/chat/page.tsx
  frontend/src/app/landing/page.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/editor/monaco-sandbox.tsx
  frontend/src/components/error-boundary.tsx
  frontend/src/components/home/hero-section.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/middleware-working.ts
Due: eslint, typescript-check, adk-compliance

feat: implement CodeRabbit PR #117 accessibility and security improvements
  .gitignore
  CLAUDE.md
  docs/hooks-setup-guide.md
  frontend/src/__tests__/security/xss-prevention.test.tsx
  frontend/src/app/api/sse/route.ts
  frontend/src/app/page.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/home/hero-section.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/middleware-disabled.ts
  frontend/src/middleware-working.ts
  memory/agents/README.md
  memory/sessions/README.md
  tests/test_hook_example.py
Due: eslint, typescript-check

fix: resolve CI/CD test failures by handling missing Google Cloud auth
  app/config.py
  app/server.py
Due: adk-compliance

fix: correct SSE endpoint URLs and implement security enhancements
  .gitignore
  .playwright-mcp/homepage-dark-mode-check.png
  .playwright-mcp/homepage-restored.png
  CLAUDE.md
  app/config.py
  app/server.py
  app/utils/validation.py
  docs/hooks-setup-guide.md
  frontend/middleware-csp-backup.ts
  frontend/src/__tests__/security/xss-prevention.test.tsx
  frontend/src/app/api/sse/route.ts
  frontend/src/app/chat/page.tsx
  frontend/src/app/landing/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/editor/monaco-sandbox.tsx
  frontend/src/components/error-boundary.tsx
  frontend/src/components/home/hero-section.tsx
  frontend/src/components/layout/main-layout.tsx
  frontend/src/lib/sse-client.ts
  frontend/src/middleware-disabled.ts
  frontend/src/middleware-working.ts
  frontend/src/middleware.ts
  frontend/tsconfig.tsbuildinfo
  memory/agents/README.md
  memory/sessions/README.md
  tests/test_hook_example.py
Due: eslint, typescript-check, adk-compliance
