Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

.pre-commit-config.yaml:

repos:
  # VANA-specific custom checks (HIGHEST PRIORITY)
  - repo: local
    hooks:
      - id: vana-naming-check
        name: VANA Tool Naming Convention Check
        entry: python scripts/lint/check_vana_naming.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-directory-structure
        name: VANA Directory Structure Validation
        entry: python scripts/lint/check_directory_structure.py
        language: python
        pass_filenames: false
        always_run: true

      - id: vana-poetry-only
        name: Prevent pip usage (Poetry only)
        entry: "pip install|pip3 install"
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$'

      - id: vana-tool-registration
        name: VANA Tool Registration Pattern Check
        entry: python scripts/lint/check_tool_registration.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-hardcoded-paths
        name: Check for hardcoded paths
        entry: '(/Users/nick/|C:\\Users\\|/home/nick/)'
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$'

  # Ruff - Modern Python linter and formatter (AFTER VANA checks)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: "^(tests/|scripts/lint/)"

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, ., -f, json, -o, bandit-report.json]
        exclude: "^(tests/|scripts/lint/)"

  # General quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^\.github/workflows/' # GitHub Actions may have special syntax
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-use-type-annotations

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(yml|yaml)$'
        exclude: '^\.github/workflows/'

feat: Implement sophisticated WebUI with agent dropdown and emojis
  dashboard/frontend/src/App.css
  dashboard/frontend/src/App.js
  dashboard/frontend/src/components/AgentSidebar.js
  dashboard/frontend/src/components/Chat.js
Due: none

feat: Real agent integration and working functionality
  .gitignore
  README.md
  augment-mcp-config.json
  dashboard/frontend/package.json
  deployment/Dockerfile
  docs/architecture/overview.md
  docs/deployment/cloud-deployment.md
  docs/guides/webui-guide.md
  lib/webui_routes.py
  mcp-servers/puppeteer-config.json
  mcp_client_config.json
  memory-bank/COMPLETION_FRONTEND_INTEGRATION_SUCCESS.md
  memory-bank/HANDOFF_DOCKER_BUILD_INVESTIGATION.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  test_baseline_results.json
  tests/automated/tool-tests/vana-tool-suite.json
Due: vana-poetry-only, vana-hardcoded-paths

feat: Add package-lock.json for frontend dependencies
  dashboard/frontend/package-lock.json
Due: none

chore: Add .claude/ and .roo/ to .gitignore
  .gitignore
Due: none

feat: Phase 1 - Streamlit-React Dashboard Integration Foundation
  dashboard/api/auth_bridge.py
  dashboard/api/dashboard_api.py
  dashboard/frontend/src/App.js
  dashboard/frontend/src/components/dashboard/EnhancedDashboard.js
  dashboard/frontend/src/services/dashboardApi.js
  dashboard/integration_app.py
  docs/implementation/streamlit-react-integration-plan.md
  memory-bank/activeContext.md
Due: vana-poetry-only, vana-hardcoded-paths

feat: Add comprehensive VANA FastAPI backend configuration system
  codex-environment.env
  poetry.lock
  pyproject.toml
  setup-codex-env.sh
  webui/backend/README.md
  webui/backend/config.py
  webui/backend/main.py
  webui/backend/test_config.py
  webui/backend/verify_poetry_setup.py
Due: vana-poetry-only, vana-hardcoded-paths

fix: Resolve pytest_plugins configuration error
  conftest.py
  tests/adk_memory/conftest.py
Due: vana-poetry-only, vana-hardcoded-paths

Add Next.js web UI and API endpoints
  README.md
  lib/webui_routes.py
  webui/components/Constellation.tsx
  webui/components/Header.tsx
  webui/next-env.d.ts
  webui/next.config.js
  webui/pages/_app.tsx
  webui/pages/agents.tsx
  webui/pages/chat.tsx
  webui/pages/demo.tsx
  webui/pages/index.tsx
  webui/pages/tools.tsx
  webui/pages/workflows.tsx
  webui/postcss.config.js
  webui/styles/globals.css
  webui/tailwind.config.js
Due: vana-poetry-only, vana-hardcoded-paths

Update tests to import from team_full
  tests/test_agent_long_running_integration.py
  tests/test_agents_as_tools.py
  tests/test_brave_search_integration.py
  tests/test_functional_baseline.py
  tests/test_long_running_tools.py
  tests/test_minimal_import.py
  tests/test_output_key_state_sharing.py
  tests/test_sequential_agent.py
  tests/test_third_party_tools.py
  tests/test_transfer_to_agent.py
Due: vana-poetry-only, vana-hardcoded-paths

Use pytest via poetry in test script
  scripts/run_tests.sh
Due: vana-poetry-only, vana-hardcoded-paths

Remove obsolete dashboard requirements file and update docs
  README.md
  dashboard/README.md
  dashboard/requirements.txt
Due: none

Use version assertion in baseline test
  tests/test_functional_baseline.py
Due: vana-poetry-only, vana-hardcoded-paths

fix Dockerfile frontend build path
  deployment/Dockerfile
Due: none

Use BytesIO for PDF bytes
  tests/test_document_processor_pdf_bytes.py
  tools/document_processing/document_processor.py
Due: vana-poetry-only, vana-hardcoded-paths

Remove vana_multi_agent references
  lib/_shared_libraries/session_manager.py
  lib/_tools.backup.20250531/__init__.py
  lib/_tools.backup.20250531/__init__.py.backup
  lib/_tools.backup.20250531/adk_long_running_tools.py
  lib/_tools.backup.20250531/adk_mcp_tools.py
  lib/_tools.backup.20250531/adk_third_party_tools.py
  lib/_tools.backup.20250531/adk_tools.py
  lib/_tools.backup.20250531/agent_tools.py
  lib/_tools.backup.20250531/crewai_adapter.py
  lib/_tools.backup.20250531/langchain_adapter.py
  lib/_tools.backup.20250531/long_running_tools.py
  lib/_tools.backup.20250531/mcp_integration_framework.py
  lib/_tools.backup.20250531/specialist_tools.py
  lib/_tools.backup.20250531/standardized_file_tools.py
  lib/_tools.backup.20250531/standardized_kg_tools.py
  lib/_tools.backup.20250531/standardized_search_tools.py
  lib/_tools.backup.20250531/standardized_system_tools.py
  lib/_tools.backup.20250531/third_party_tools.py
  lib/_tools/crewai_adapter.py
  lib/_tools/langchain_adapter.py
  lib/_tools/long_running_tools.py
  lib/_tools/standardized_system_tools.py
  lib/_tools/third_party_tools.py
  tests/adk_memory/README.md
  tests/adk_memory/unit/test_vana_memory_service.py
  tests/test_adk_import.py
  tests/test_agent_long_running_integration.py
  tests/test_agents_as_tools.py
  tests/test_brave_search_integration.py
  tests/test_llm_agent_creation.py
  tests/test_llm_agent_init.py
  tests/test_long_running_tools.py
  tests/test_output_key_state_sharing.py
  tests/test_sequential_agent.py
  tests/test_third_party_tools.py
  tests/test_transfer_to_agent.py
  tools/brave_search_client.py
  working_vana_adk_agent.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

chore: remove seaborn from requirements
  dashboard/requirements.txt
  requirements.txt
Due: none

Remove vana_multi_agent env loading
  tools/brave_search_client.py
Due: vana-poetry-only, vana-hardcoded-paths

Remove backup files and unused scripts
  .env.backup
  agents/vana/team.py.backup
  agents/vana/team_minimal.py.backup
  fix_adk_ssl_issues.py
  lib/_tools.backup.20250531/__init__.py
  lib/_tools.backup.20250531/__init__.py.backup
  lib/_tools.backup.20250531/adk_long_running_tools.py
  lib/_tools.backup.20250531/adk_mcp_tools.py
  lib/_tools.backup.20250531/adk_third_party_tools.py
  lib/_tools.backup.20250531/adk_tools.py
  lib/_tools.backup.20250531/agent_tools.py
  lib/_tools.backup.20250531/crewai_adapter.py
  lib/_tools.backup.20250531/langchain_adapter.py
  lib/_tools.backup.20250531/long_running_tools.py
  lib/_tools.backup.20250531/mcp_integration_framework.py
  lib/_tools.backup.20250531/specialist_tools.py
  lib/_tools.backup.20250531/standardized_file_tools.py
  lib/_tools.backup.20250531/standardized_kg_tools.py
  lib/_tools.backup.20250531/standardized_search_tools.py
  lib/_tools.backup.20250531/standardized_system_tools.py
  lib/_tools.backup.20250531/third_party_tools.py
  lib/_tools/__init__.py.backup
  working_vana_adk_agent.py
Due: vana-poetry-only, vana-hardcoded-paths

Regenerate requirements.txt from Poetry
  requirements.txt
Due: none

Remove legacy vana_multi_agent references
  Dockerfile.production
  lib/_shared_libraries/session_manager.py
  lib/_shared_libraries/tool_standards.py
  lib/_tools.backup.20250531/__init__.py
  lib/_tools.backup.20250531/__init__.py.backup
  lib/_tools.backup.20250531/adk_long_running_tools.py
  lib/_tools.backup.20250531/adk_mcp_tools.py
  lib/_tools.backup.20250531/adk_third_party_tools.py
  lib/_tools.backup.20250531/adk_tools.py
  lib/_tools.backup.20250531/agent_tools.py
  lib/_tools.backup.20250531/crewai_adapter.py
  lib/_tools.backup.20250531/langchain_adapter.py
  lib/_tools.backup.20250531/long_running_tools.py
  lib/_tools.backup.20250531/mcp_integration_framework.py
  lib/_tools.backup.20250531/specialist_tools.py
  lib/_tools.backup.20250531/standardized_file_tools.py
  lib/_tools.backup.20250531/standardized_kg_tools.py
  lib/_tools.backup.20250531/standardized_search_tools.py
  lib/_tools.backup.20250531/standardized_system_tools.py
  lib/_tools.backup.20250531/third_party_tools.py
  lib/_tools/crewai_adapter.py
  lib/_tools/langchain_adapter.py
  lib/_tools/long_running_tools.py
  lib/_tools/standardized_system_tools.py
  lib/_tools/third_party_tools.py
  tests/adk_memory/unit/test_vana_memory_service.py
  tests/test_adk_import.py
  tests/test_agent_long_running_integration.py
  tests/test_agents_as_tools.py
  tests/test_brave_search_integration.py
  tests/test_llm_agent_creation.py
  tests/test_llm_agent_init.py
  tests/test_long_running_tools.py
  tests/test_output_key_state_sharing.py
  tests/test_sequential_agent.py
  tests/test_third_party_tools.py
  tests/test_transfer_to_agent.py
  tools/brave_search_client.py
  working_vana_adk_agent.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Fix frontend build copy path and npm install
  deployment/Dockerfile
Due: none

Remove legacy vana_multi_agent references
  Dockerfile.production
  lib/_shared_libraries/session_manager.py
  lib/_shared_libraries/tool_standards.py
  lib/_tools/crewai_adapter.py
  lib/_tools/langchain_adapter.py
  lib/_tools/long_running_tools.py
  lib/_tools/standardized_system_tools.py
  lib/_tools/third_party_tools.py
  tests/adk_memory/unit/test_vana_memory_service.py
  tests/test_adk_import.py
  tests/test_agent_long_running_integration.py
  tests/test_agents_as_tools.py
  tests/test_brave_search_integration.py
  tests/test_llm_agent_creation.py
  tests/test_llm_agent_init.py
  tests/test_long_running_tools.py
  tests/test_output_key_state_sharing.py
  tests/test_sequential_agent.py
  tests/test_third_party_tools.py
  tests/test_transfer_to_agent.py
  tools/brave_search_client.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

feat: Add missing dependencies and resolve test collection issues
  poetry.lock
  pyproject.toml
Due: none
