Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

vana-naming-check:
  name: VANA Tool Naming Convention Check
  entry: python scripts/lint/check_vana_naming.py
  language: python
  pass_filenames: true

vana-poetry-only:
  name: Prevent pip usage (Poetry only)
  entry: pip install|pip3 install
  language: pygrep

vana-tool-registration:
  name: VANA Tool Registration Pattern Check
  entry: python scripts/lint/check_tool_registration.py
  language: python
  pass_filenames: true

vana-hardcoded-paths:
  name: Check for hardcoded paths
  entry: (/Users/nick/|C:\\Users\\|/home/nick/)
  language: pygrep

docs: update Memory Bank with Code Execution Agent enhancement completion
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
Due: none

Merge PR #59: Enhanced Code Execution Agent with Modular Executor Architecture
  agents/code_execution/__init__.py
  agents/code_execution/specialist.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  tests/agents/code_execution/__init__.py
  tests/agents/code_execution/test_code_execution_agent.py
  tests/agents/code_execution/test_integration.py
  tests/agents/code_execution/test_javascript_executor.py
  tests/agents/code_execution/test_python_executor.py
  tests/agents/code_execution/test_shell_executor.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

docs: Complete merge conflict resolution and create comprehensive handoff
  agents/code_execution/specialist.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/MERGE_CONFLICT_RESOLUTION_STATUS.md
  memory-bank/01-active/MERGE_RESOLUTION_COMPLETE_HANDOFF.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

fix: Update port configuration from 8080 to 8000 for Cloud Run compatibility
  Dockerfile.production
  deployment/Dockerfile
  main.py
Due: vana-poetry-only, vana-hardcoded-paths

docs: Complete deployment validation with comprehensive browser testing
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/DEPLOYMENT_VALIDATION_COMPLETE_HANDOFF.md
Due: none

🔧 Fix agent import issues
  agents/memory/__init__.py
  agents/orchestration/__init__.py
  agents/specialists/__init__.py
  agents/workflows/__init__.py
  lib/monitoring/__pycache__/__init__.cpython-313.pyc
  lib/monitoring/__pycache__/apm.cpython-313.pyc
  lib/monitoring/__pycache__/integration.cpython-313.pyc
  lib/monitoring/__pycache__/performance_monitor.cpython-313.pyc
  lib/security/__pycache__/__init__.cpython-313.pyc
  lib/security/__pycache__/integration.cpython-313.pyc
  lib/security/__pycache__/security_manager.cpython-313.pyc
  memory-bank/01-active/IMPORT_RESOLUTION_AND_DEPLOYMENT_HANDOFF.md
  poetry.lock
  pyproject.toml
  tests/sandbox/test_security_manager.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

fix: Resolve Cloud Run deployment issue by renaming Dockerfile
  Dockerfile
  deployment/cloudbuild-dev.yaml
  gunicorn.conf.py
  memory-bank/00-core/progress.md
  memory-bank/01-active/CRITICAL_HANDOFF_BUILD_INVESTIGATION.md
  memory-bank/01-active/CURRENT_HANDOFF_2025_01_11.md
Due: vana-poetry-only, vana-hardcoded-paths

docs: Create strategic handoff for agent coordination vs LiteLLM priority
  memory-bank/00-core/activeContext.md
  memory-bank/01-active/STRATEGIC_HANDOFF_AGENT_COORDINATION_VS_LITELLM.md
Due: none

Task #9: Implement comprehensive coordination testing framework
  tests/coordination/__init__.py
  tests/coordination/coordination_benchmarks.py
  tests/coordination/coordination_test_runner.py
  tests/coordination/test_coordination_framework.py
Due: vana-poetry-only, vana-hardcoded-paths

Task #9: Update Memory Bank with coordination testing framework completion
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/memory-bank-index.md
  memory-bank/00-core/progress.md
  memory-bank/00-core/systemPatterns.md
  memory-bank/01-active/COORDINATION_DIAGNOSIS_COMPLETE.md
  memory-bank/01-active/CURRENT_HANDOFF_2025_06_13.md
  memory-bank/01-active/SESSION_SUMMARY_2025-06-13.md
  memory-bank/01-active/TASKMASTER_RESOLUTION_PLAN.md
  memory-bank/01-active/TASK_2_IMPLEMENTATION_COMPLETE.md
  memory-bank/01-active/TASK_3_HANDOFF_COMMUNICATION_PROTOCOLS.md
  memory-bank/01-active/TASK_4_HANDOFF_TASK_ROUTING_ENGINE.md
  memory-bank/01-active/TASK_5_HANDOFF_COORDINATION_TOOLS.md
  memory-bank/01-active/TASK_6_HANDOFF_VANA_ORCHESTRATOR.md
  memory-bank/04-completed/TASK_4_INTELLIGENT_ROUTING_ENGINE_COMPLETE.md
  memory-bank/04-completed/TASK_5_COORDINATION_TOOLS_COMPLETE.md
  memory-bank/04-completed/TASK_6_VANA_ORCHESTRATOR_COMPLETE.md
  memory-bank/04-completed/TASK_7_INTELLIGENT_TASK_ANALYSIS_COMPLETE.md
  memory-bank/04-completed/TASK_8_MULTI_AGENT_WORKFLOW_MANAGEMENT_COMPLETE.md
  memory-bank/04-completed/TASK_9_COORDINATION_TESTING_FRAMEWORK_COMPLETE.md
Due: none

Task #9: Add coordination testing framework implementation files
  tests/eval/run_evaluation.py
Due: vana-poetry-only, vana-hardcoded-paths

Task #9: Update taskmaster with Task #9 completion
  .taskmaster/docs/prd.txt
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/task_011.txt
  .taskmaster/tasks/task_012.txt
  .taskmaster/tasks/task_013.txt
  .taskmaster/tasks/task_014.txt
  .taskmaster/tasks/task_015.txt
  .taskmaster/tasks/task_016.txt
  .taskmaster/tasks/task_017.txt
  .taskmaster/tasks/task_018.txt
  .taskmaster/tasks/task_019.txt
  .taskmaster/tasks/task_020.txt
  .taskmaster/tasks/tasks.json
Due: none

Task #9: Add coordination testing results
  tests/results/coordination_benchmarks_20250613_133554.json
  tests/results/coordination_test_results_20250613_133346.json
Due: none

Task #9: Commit essential coordination infrastructure changes
  .gitignore
  agents/vana/team.py
  lib/_tools/__init__.py
  lib/_tools/adk_tools.py
  poetry.lock
  pyproject.toml
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Task #9: Clean up untracked files
  .gitignore
Due: none

Task 6 Complete - Optional Dependency Installation
  README.md
  docs/optional-dependencies.md
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  scripts/install_optional_dependencies.py
Due: vana-poetry-only, vana-hardcoded-paths

CORRECTED: Task 6 - Removed Optional Dependencies Bloat
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
Due: none

Path conditions:
  vana-naming-check: any of: ^(lib/_tools/.*\.py|agents/.*\.py)$
  vana-poetry-only: any of: \.(py|sh)$, but not: ^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$
  vana-tool-registration: any of: ^(lib/_tools/.*\.py|agents/.*\.py)$
  vana-hardcoded-paths: any of: \.(py|sh)$, but not: ^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$
