Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

.pre-commit-config.yaml:

repos:
  # VANA-specific custom checks (HIGHEST PRIORITY)
  - repo: local
    hooks:
      - id: vana-naming-check
        name: VANA Tool Naming Convention Check
        entry: python scripts/lint/check_vana_naming.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-directory-structure
        name: VANA Directory Structure Validation
        entry: python scripts/lint/check_directory_structure.py
        language: python
        pass_filenames: false
        always_run: true

      - id: vana-poetry-only
        name: Prevent pip usage (Poetry only)
        entry: "pip install|pip3 install"
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$'

      - id: vana-tool-registration
        name: VANA Tool Registration Pattern Check
        entry: python scripts/lint/check_tool_registration.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-hardcoded-paths
        name: Check for hardcoded paths
        entry: '(/Users/nick/|C:\\Users\\|/home/nick/)'
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$'

  # Ruff - Modern Python linter and formatter (AFTER VANA checks)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: "^(tests/|scripts/lint/)"

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, ., -f, json, -o, bandit-report.json]
        exclude: "^(tests/|scripts/lint/)"

  # General quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^\.github/workflows/' # GitHub Actions may have special syntax
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-use-type-annotations

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(yml|yaml)$'
        exclude: '^\.github/workflows/'

feat: Implement comprehensive ADK-style testing framework
  ADK_EVALUATION_FRAMEWORK_FINAL_SUMMARY.md
  COMPREHENSIVE_TESTING_FRAMEWORK_COMPLETE.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  pyproject.toml
  tests/discovery/system_discovery_framework.py
  tests/eval/agent_evaluator.py
  tests/eval/config.py
  tests/eval/performance_benchmarks.py
  tests/eval/run_evaluation.py
  tests/eval/test_evaluation.py
  tests/integration/test_agent_coordination.py
  tests/unit/test_vana_agent.py
Due: vana-poetry-only, vana-hardcoded-paths

fix: Update testing framework configuration and validate environment
  debug_ui_screenshot.png
  debug_ui_selectors.py
  memory-bank/activeContext.md
  poetry.lock
  pyproject.toml
  simple_environment_test.py
  tests/eval/config.py
Due: vana-poetry-only, vana-hardcoded-paths

feat: Smart system validation complete - critical reality check documented
  memory-bank/activeContext.md
  memory-bank/progress.md
  smart_system_validation.py
Due: vana-poetry-only, vana-hardcoded-paths

fix: Resolve agent-tool integration issue by fixing ADK agent discovery
  agents/memory/__init__.py
  agents/orchestration/__init__.py
  agents/specialists/__init__.py
  agents/workflows/__init__.py
  debug_tool_usage.py
  fix_agent_tool_integration.py
  test_agent_fix.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

docs: Final handoff update - branch pushed to GitHub
  memory-bank/activeContext.md
Due: none

Fix: Agent-tool integration validated and working
  CODEX_SETUP_OPTIMIZATION_SUMMARY.md
  config/templates/README.md
  current-service-config.yaml
  dashboard/monitoring/README.md
  dashboard/monitoring/adk_memory_monitor.py
  data/knowledge/troubleshooting.md
  fix_project_id_references.py
  lib/_shared_libraries/adk_memory_service.py
  lib/_shared_libraries/session_manager.py
  memory-bank/HANDOFF_COMPREHENSIVE_CODE_REVIEW_RESOLUTION_COMPLETE.md
  memory-bank/HANDOFF_CRITICAL_RECOVERY_STATUS.md
  memory-bank/HANDOFF_OFFICIAL_RAG_SOLUTION.md
  memory-bank/HANDOFF_PHASE3_AGENT_ORCHESTRATION_COMPLETE.md
  memory-bank/HANDOFF_PROMPT_COMPATIBILITY_RESOLUTION_COMPLETE.md
  memory-bank/HANDOFF_PROMPT_LOCAL_DEV_ENVIRONMENT_SYNC.md
  memory-bank/HANDOFF_REAL_RAG_CORPUS_BREAKTHROUGH.md
  memory-bank/PRODUCTION_SUCCESS_SUMMARY.md
  memory-bank/activeContext.md
  memory-bank/adk-integration-handoff.md
  memory-bank/production-deployment-handoff.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
  memory-bank/techContext.md
  tests/adk_memory/README.md
  tests/automated/infrastructure_validation.py
  tests/automated/master_test_runner.py
  tests/comprehensive_post_merge_validation_plan.md
  vana_codex_setup_simple.sh
Due: vana-poetry-only, vana-hardcoded-paths

docs: Update Memory Bank with successful agent-tool integration validation
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

docs: Add comprehensive validation report
  CRITICAL_FIX_VALIDATION_COMPLETE.md
Due: none

📋 Complete Strategic Documentation & Implementation Framework
  docs/architecture/agent-system.md
  docs/implementation/comprehensive-implementation-plan.md
  docs/implementation/implementation-coordination-guide.md
  docs/implementation/technical-implementation-templates.md
  docs/planning/agent-roadmap.md
  docs/planning/mcp-integration-plan.md
  docs/planning/sandbox-environment.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

feat: Add Week 5 Data Science Specialist Agent - Implementation Complete
  agents/code_execution/__init__.py
  agents/code_execution/config/agent_config.yaml
  agents/code_execution/specialist.py
  agents/code_execution/tools/__init__.py
  agents/code_execution/tools/debug_code.py
  agents/code_execution/tools/execute_code.py
  agents/code_execution/tools/manage_packages.py
  agents/data_science/__init__.py
  agents/data_science/config/agent_config.yaml
  agents/data_science/specialist.py
  agents/data_science/tools/__init__.py
  memory-bank/WEEK5_DATA_SCIENCE_HANDOFF_DOCUMENTATION.md
  tests/integration/test_data_science_integration.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

feat: Complete Week 5 Data Science Specialist with comprehensive handoff documentation
  NEXT_AGENT_INSTRUCTIONS.md
  memory-bank/WEEK4_COMPLETE_HANDOFF_DOCUMENTATION.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  tests/agents/test_code_execution_specialist.py
  tests/integration/test_code_execution_integration.py
  tests/mcp/test_mcp_integration.py
  tests/sandbox/test_executors.py
  tests/sandbox/test_sandbox_infrastructure.py
Due: vana-poetry-only, vana-hardcoded-paths

feat: Add Data Science and Code Execution specialist agents
  agents/code_execution/__init__.py
  agents/code_execution/specialist.py
  agents/data_science/__init__.py
  agents/data_science/specialist.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

docs: Update Memory Bank and add validation plan for Data Science import fix
  DATA_SCIENCE_IMPORT_FIX_VALIDATION_PLAN.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

📋 Agent 5: Complete MCP Integration Validation Documentation
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/techContext.md
  memory-bank/testing-results.md
Due: none

fix: resolve agent discovery discrepancy - align documentation with implementation
  AGENT_DISCOVERY_RESOLUTION_SUMMARY.md
  README.md
  docs/architecture/agent-system.md
  lib/_tools/adk_tools.py
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

feat: Complete performance benchmarking with sub-5-second validation
  memory-bank/activeContext.md
  memory-bank/progress.md
  tests/eval/performance_benchmarks.py
  tests/results/performance_benchmark_report.md
Due: vana-poetry-only, vana-hardcoded-paths

docs: Update memory bank with current session progress
  AGENT_FEEDBACK_RESOLUTION_TASKS.md
  VANA_AGENT_TASK_INSTRUCTIONS.md
  agent-tasks-6.11.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

docs: Update progress with PR #53 completion summary
  memory-bank/00-core/progress.md
Due: none

docs: Comprehensive documentation update & agent handoff
  COMPREHENSIVE_AGENT_HANDOFF_DOCUMENTATION.md
  README.md
  docs/architecture/agents.md
  memory-bank/00-core/activeContext.md
Due: none

docs: Add current status summary for agent handoff
  memory-bank/01-active/CURRENT_STATUS_SUMMARY.md
Due: none

docs: Update user guidelines for new Memory Bank structure
  docs/guides/ai-agent-development-guide.md
  docs/guides/developer-guide.md
  docs/guides/user-guide.md
Due: none

docs: Update Memory Bank context with clarification
  memory-bank/00-core/activeContext.md
Due: none
