Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

adk-compliance:
  name: ADK Compliance Check
  entry: python scripts/adk_helpers/adk_compliance_check.py
  language: system
  pass_filenames: false

chore: update service startup documentation and pin frontend port
  CLAUDE.md
  frontend/package.json
  safe-start.sh
Due: none

refactor: remove deprecated mock and wrapper endpoints
  app/routes/adk_routes.py
Due: adk-compliance

refactor: improve safe-start.sh robustness per CodeRabbit feedback
  safe-start.sh
Due: none

fix: sanitize fuser output to extract only PIDs (critical)
  safe-start.sh
Due: none

fix: prevent killing unrelated PIDs from fuser port extraction (CRITICAL)
  safe-start.sh
Due: none

fix: add OPTIONS handlers for CORS preflight requests to achieve 100% API success rate
  app/routes/adk_routes.py
  app/server.py
Due: adk-compliance

fix: add OPTIONS handlers for CORS preflight to achieve 100% API success rate (#207)
  CLAUDE.md
  app/routes/adk_routes.py
  app/server.py
  frontend/package.json
  safe-start.sh
Due: adk-compliance

fix: resolve Google Gemini API 400 error in nested agent tool calls
  agents/vana/agent.py
  app/agent.py
Due: adk-compliance

refactor: complete frontend ADK endpoint migration with fallback support
  frontend/src/components/agent/SSETestComponent.tsx
  frontend/src/examples/OptimizedChatExample.tsx
  frontend/src/hooks/useOptimizedSSE.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/api/client.ts
  frontend/src/tests/CRIT-004-profiler-test.tsx
  frontend/tests/e2e/sse-connection.spec.ts
Due: eslint, typescript-check

fix: resolve duplicate messages and ADK integration issues
  app/routes/adk_routes.py
  app/server.py
  frontend/src/hooks/chat/sse-event-handlers.ts
  frontend/src/hooks/useChatStream.ts
  frontend/src/hooks/useSSE.ts
Due: eslint, typescript-check, adk-compliance

fix: prevent duplicate message content in research_complete handler
  frontend/src/hooks/chat/sse-event-handlers.ts
Due: eslint, typescript-check

Revert "fix: prevent duplicate message content in research_complete handler"
  frontend/src/hooks/chat/sse-event-handlers.ts
Due: eslint, typescript-check

refactor: complete frontend ADK endpoint migration with working chat
  agents/vana/agent.py
  app/agent.py
  app/routes/adk_routes.py
  frontend/src/components/agent/SSETestComponent.tsx
  frontend/src/examples/OptimizedChatExample.tsx
  frontend/src/hooks/chat/sse-event-handlers.ts
  frontend/src/hooks/useChatStream.ts
  frontend/src/hooks/useOptimizedSSE.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/api/client.ts
  frontend/src/tests/CRIT-004-profiler-test.tsx
  frontend/tests/e2e/sse-connection.spec.ts
Due: eslint, typescript-check, adk-compliance

cleanup: Complete ADK migration - remove deprecated endpoints and fallbacks
  app/routes/adk_routes.py
  frontend/src/lib/api/client.ts
  tests/unit/test_session_integration.py
Due: eslint, typescript-check, adk-compliance

cleanup: Complete ADK migration - remove deprecated endpoints and fallbacks (#211)
  app/routes/adk_routes.py
  frontend/src/lib/api/client.ts
  tests/unit/test_session_integration.py
Due: eslint, typescript-check, adk-compliance

fix: resolve duplicate message display in chat responses
  app/routes/adk_routes.py
  frontend/src/hooks/chat/sse-event-handlers.ts
  tests/unit/test_session_integration.py
Due: eslint, typescript-check, adk-compliance

fix: resolve duplicate message display in chat responses (#212)
  app/routes/adk_routes.py
  frontend/src/hooks/chat/sse-event-handlers.ts
  tests/unit/test_session_integration.py
Due: eslint, typescript-check, adk-compliance

fix: resolve thinking status text fragments by fixing Loader dimensions
  frontend/src/app/page.tsx
  frontend/src/components/prompt-kit/loader.tsx
  frontend/src/components/prompt-kit/steps.tsx
Due: eslint, typescript-check

feat: add Gemini API rate limiting with token bucket algorithm
  app/routes/adk_routes.py
  app/utils/rate_limiter.py
  docs/ADK_SAMPLE_COMPARISON.md
Due: adk-compliance

fix: prevent session marked completed after rate limit error
  app/routes/adk_routes.py
Due: adk-compliance

feat: add Gemini API rate limiting with token bucket algorithm
  app/routes/adk_routes.py
  app/utils/rate_limiter.py
  docs/ADK_SAMPLE_COMPARISON.md
  frontend/src/app/page.tsx
  frontend/src/components/prompt-kit/loader.tsx
  frontend/src/components/prompt-kit/steps.tsx
Due: eslint, typescript-check, adk-compliance

fix: resolve memory leaks in SSE and clarify storage architecture
  .github/PULL_REQUEST_TEMPLATE.md
  docs/SSE-DOCUMENTATION-ACCURACY-AUDIT.md
  docs/SSE-FIX-VALIDATION-REPORT.md
  docs/SSE-Issues-And-Problems.md
  docs/SSE-Personal-Project-Priorities.md
  docs/SSE-VALIDATION-REPORT.md
  docs/diagrams/README.md
  docs/diagrams/sse-architecture-diagram.md
  docs/diagrams/sse-class-diagram.md
  docs/diagrams/sse-message-processing-flowchart.md
  docs/diagrams/sse-sequence-diagram.md
  docs/diagrams/sse-state-machine.md
  docs/sse-simple-diagram.md
  docs/sse/SSE-API-Reference.md
  docs/sse/SSE-Configuration.md
  docs/sse/SSE-Implementation-Guide.md
  docs/sse/SSE-Overview.md
  docs/sse/SSE-Troubleshooting.md
  frontend/src/hooks/useSSE.ts
  frontend/tests/e2e/chat-response-display.spec.ts
  tests/integration/conftest.py
  tests/integration/test_sse_race_condition.py
  tests/integration/test_sse_timing.py
Due: eslint, typescript-check

fix: resolve memory leaks in SSE and clarify storage architecture (#216)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/SSE-DOCUMENTATION-ACCURACY-AUDIT.md
  docs/SSE-FIX-VALIDATION-REPORT.md
  docs/SSE-Issues-And-Problems.md
  docs/SSE-Personal-Project-Priorities.md
  docs/SSE-VALIDATION-REPORT.md
  docs/diagrams/README.md
  docs/diagrams/sse-architecture-diagram.md
  docs/diagrams/sse-class-diagram.md
  docs/diagrams/sse-message-processing-flowchart.md
  docs/diagrams/sse-sequence-diagram.md
  docs/diagrams/sse-state-machine.md
  docs/sse-simple-diagram.md
  docs/sse/SSE-API-Reference.md
  docs/sse/SSE-Configuration.md
  docs/sse/SSE-Implementation-Guide.md
  docs/sse/SSE-Overview.md
  docs/sse/SSE-Troubleshooting.md
  frontend/src/hooks/useSSE.ts
  frontend/tests/e2e/chat-response-display.spec.ts
  tests/integration/conftest.py
  tests/integration/test_sse_race_condition.py
  tests/integration/test_sse_timing.py
Due: eslint, typescript-check

docs: create follow-up issue for SSE documentation SQLite inconsistency
  FOLLOW_UP_SSE_DOCUMENTATION_FIX.md
Due: none

docs: fix SSE documentation storage architecture inaccuracies
  docs/diagrams/vana-sse-architecture-comprehensive.md
  docs/sse/SSE-Configuration.md
  docs/sse/SSE-Overview.md
Due: none

docs: add comprehensive storage architecture analysis and ADRs
  SSE_SESSION_PERSISTENCE_ANALYSIS.md
  STORAGE_ARCHITECTURE_ANALYSIS.md
  docs/architecture/session-persistence-comparison.md
  docs/architecture/sse-session-persistence-decision.md
Due: none

chore: add PM2 ecosystem config and fix GEMINI.md formatting
  GEMINI.md
  ecosystem.config.js
Due: none

fix: extract functionResponse content from ADK events
  app/routes/adk_routes.py
Due: adk-compliance

docs: add comprehensive ADK event extraction documentation
  app/routes/adk_routes.py
  docs/adk-api-reference.md
  docs/adk/ADK-Event-Extraction-Guide.md
  docs/adk/README.md
Due: adk-compliance

docs: add critical ADK extraction warning to CLAUDE.md
  CLAUDE.md
Due: none

docs: comprehensive documentation accuracy fixes
  CLAUDE.md
  README.md
Due: none

refactor: optimize ADK event logging for production
  app/routes/adk_routes.py
Due: adk-compliance

fix: extract functionResponse content from ADK events (#219)
  CLAUDE.md
  README.md
  app/routes/adk_routes.py
  docs/adk-api-reference.md
  docs/adk/ADK-Event-Extraction-Guide.md
  docs/adk/README.md
Due: adk-compliance

docs: comprehensive documentation and architecture overhaul
  AGENTS.md
  ARCHITECTURE.md
  CONSENSUS_REPORT.md
  GEMINI.md
  docs/bug-fixes/chat-interface-improvements-plan.md
  docs/claude-flow-neural-training-strategy.md
  docs/diagrams/sse-architecture-diagram.md
  docs/diagrams/vana-sse-architecture-comprehensive.md
  docs/images/agent-team-clean.svg
  docs/official-adk-sources.md
  docs/research/DOCUMENTATION_RESTRUCTURING_PEER_REVIEW.md
  docs/research/streaming-architecture-analysis.md
  docs/sse-simple-diagram.md
  training_data/README.md
  training_data/adk_agent_patterns.json
  training_data/adk_antipatterns.json
  training_data/adk_integration.json
  training_data/adk_orchestration.json
  training_data/agent_starter_pack_best_practices.json
  training_data/agent_starter_pack_patterns.json
  training_data/comprehensive_training.sh
  training_data/create_comprehensive_official_dataset.py
  training_data/extract_agent_starter_pack_patterns.py
  training_data/fetch_official_adk_samples.py
  training_data/generate_adk_datasets.py
  training_data/official_adk_analysis.json
  training_data/official_adk_patterns.json
  training_data/official_comprehensive_samples.json
  training_data/official_pattern_library.json
  training_data/pattern_detection_proof.md
  training_data/proof_of_training.md
  training_data/quick_start.sh
  training_data/validate_training.sh
Due: none

fix: improve ADK route error handling and session management
  app/routes/adk_routes.py
Due: adk-compliance

feat: add production-ready long-term memory system with ADK integration
  app/agent.py
  app/auth/database.py
  app/auth/models.py
  app/tools/memory_tools.py
  docs/LONG_TERM_MEMORY_IMPLEMENTATION_COMPLETE.md
  docs/PEER_REVIEW_CONSENSUS.md
  docs/adk/ADK-Tool-User-Context-Integration.md
  docs/architecture/LONG_TERM_MEMORY_ARCHITECTURE.md
  migrations/001_add_long_term_memory.sql
  migrations/001_rollback_long_term_memory.sql
  migrations/README.md
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_memory_integration.py
  tests/unit/conftest.py
  tests/unit/test_memory_tools.py
  uv.lock
Due: adk-compliance

fix: improve ADK route error handling and session management (#220)
  app/agent.py
  app/auth/database.py
  app/auth/models.py
  app/routes/adk_routes.py
  app/tools/memory_tools.py
  docs/LONG_TERM_MEMORY_IMPLEMENTATION_COMPLETE.md
  docs/PEER_REVIEW_CONSENSUS.md
  docs/adk/ADK-Tool-User-Context-Integration.md
  docs/architecture/LONG_TERM_MEMORY_ARCHITECTURE.md
  migrations/001_add_long_term_memory.sql
  migrations/001_rollback_long_term_memory.sql
  migrations/README.md
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_memory_integration.py
  tests/unit/conftest.py
  tests/unit/test_memory_tools.py
  uv.lock
Due: adk-compliance

feat: add theme support, settings modal, and enhanced UX
  docs/LONG_TERM_MEMORY_EXECUTIVE_SUMMARY.md
  docs/adk-docs-mcp-evaluation.md
  docs/adk-docs-mcp-installation-complete.md
  docs/long-term-memory-implementation.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/providers/theme-provider.tsx
  frontend/src/components/settings/SettingsModal.tsx
  frontend/src/components/transitions/PageTransition.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/prompt-input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/vana/VanaHomePage.tsx
  frontend/src/components/vana/VanaSidebar.tsx
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
  adk-compliance: any of: ^app/.*\.py$, but not: (?x)^(
    .*node_modules/.*|
    .*\.venv/.*|
    .*venv/.*|
    .*\.git/.*|
    .*__pycache__/.*|
    .*\.mypy_cache/.*|
    .*\.pytest_cache/.*|
    .*\.ruff_cache/.*|
    frontend/\.next/.*|
    frontend/out/.*
)$
