Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

.pre-commit-config.yaml:

# Pre-commit configuration for Vana project
# See https://pre-commit.com for more information

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-pyyaml]
        args: [--strict, --ignore-missing-imports]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, app/, -ll]
        exclude: tests/

  # General formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words-list=rouge,DAA,deques]
        exclude: |
          (?x)^(
              .*\.lock|
              .*node_modules/.*|
              .*\.venv/.*|
              .*venv/.*|
              .*\.ipynb
          )$

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091]  # Ignore sourcing of non-existent files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  # Frontend (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Custom ADK compliance checks
  - repo: local
    hooks:
      - id: adk-compliance
        name: ADK Compliance Check
        entry: python scripts/adk_helpers/adk_compliance_check.py
        language: system
        files: ^app/.*\.py$
        pass_filenames: false

# Configuration
default_stages: [commit, push]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      .*node_modules/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.git/.*|
      .*__pycache__/.*|
      .*\.mypy_cache/.*|
      .*\.pytest_cache/.*|
      .*\.ruff_cache/.*|
      frontend/\.next/.*|
      frontend/out/.*
  )$

fix: resolve frontend UI build issues and achieve 89% Gemini match
  frontend/build-css.sh
  frontend/capture-ui.spec.ts
  frontend/current-ui-gemini-comparison.png
  frontend/gemini-ui-final.png
  frontend/package.json
  frontend/playwright.config.ts
  frontend/scripts/gemini-ui-analysis-report.md
  frontend/scripts/generate-visual-summary.js
  frontend/scripts/screenshots/current-ui-full.png
  frontend/scripts/screenshots/current-ui-viewport.png
  frontend/scripts/screenshots/ui-analysis.json
  frontend/scripts/ui-analysis.js
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/tailwind.config.ts
  frontend/test-ui.js
  frontend/ui-test.png
  frontend/visual-validation.js
  package-lock.json
  package.json
  postcss.config.js
Due: eslint, typescript-check

docs: add comprehensive documentation for frontend migration
  docs/FRONTEND_MIGRATION_GUIDE.md
  frontend/VANA_INTEGRATION.md
Due: none

feat: sync frontend integration fixes from ai-chatbot repo
  frontend/app/(chat)/api/chat/vana/[id]/stream/route.ts
  frontend/app/(chat)/api/chat/vana/route.ts
  frontend/app/(chat)/api/chat/vana/status/route.ts
  frontend/app/(chat)/vana/page.tsx
  frontend/app/vana-chat/page.tsx
  frontend/components/app-sidebar.tsx
  frontend/components/artifact-actions.tsx
  frontend/components/chat-header.tsx
  frontend/components/chat-vana.tsx
  frontend/components/code-editor.tsx
  frontend/components/document-skeleton.tsx
  frontend/components/enhanced-chat.tsx
  frontend/components/error-boundary.tsx
  frontend/components/error-handling-demo.tsx
  frontend/components/icons.tsx
  frontend/components/preview-attachment.tsx
  frontend/components/toast.tsx
  frontend/components/ui/alert.tsx
  frontend/components/ui/sidebar.tsx
  frontend/components/vana-chat-wrapper.tsx
  frontend/components/vana-data-stream-provider.tsx
  frontend/hooks/use-artifact.ts
  frontend/tests/e2e/session.test.ts
  frontend/tests/pages/artifact.ts
  frontend/tsconfig.tsbuildinfo
Due: eslint, typescript-check

fix: resolve TypeScript error in extractMessageContent function
  frontend/lib/types.ts
Due: eslint, typescript-check

fix: address critical CodeRabbit security and functionality issues
  frontend/app/(auth)/api/auth/guest/route.ts
  frontend/app/(chat)/actions.ts
  frontend/components/data-stream-handler.tsx
  frontend/components/diffview.tsx
  frontend/tsconfig.json
Due: eslint, typescript-check

fix: address remaining critical CodeRabbit security issues
  frontend/app/(chat)/actions.ts
Due: eslint, typescript-check

fix: address CodeRabbit feedback for Node.js version update
  .github/workflows/local-build.yml
  .github/workflows/main-ci.yml
  docs/NODE_VERSION_UPDATE_GUIDE.md
  docs/truth-verification-implementation-guide.md
Due: none

feat: update Node.js version from 18 to 20 LTS
  .github/workflows/local-build.yml
  .github/workflows/main-ci.yml
  docs/NODE_VERSION_UPDATE_GUIDE.md
  docs/truth-verification-implementation-guide.md
  frontend/next.config.ts
  frontend/package.json
Due: eslint, typescript-check

feat: update Node.js version from 18 to 20 LTS (#168)
  .github/workflows/local-build.yml
  .github/workflows/main-ci.yml
  docs/NODE_VERSION_UPDATE_GUIDE.md
  docs/truth-verification-implementation-guide.md
  frontend/next.config.ts
  frontend/package.json
Due: eslint, typescript-check

fix: comprehensive Docker deployment configuration
  .env.prod.example
  docker-compose.prod.yml
  docker-compose.yml
  docs/DOCKER_DEPLOYMENT_GUIDE.md
  docs/PR160_MERGE_DECISION.md
  frontend/next.config.ts
  nginx.conf
Due: eslint, typescript-check

fix: address CodeRabbit feedback for Docker configuration
  .env.prod.example
  docker-compose.prod.yml
  frontend/Dockerfile
  frontend/app/api/health/route.ts
  frontend/next.config.ts
  nginx.conf
Due: eslint, typescript-check

fix: address remaining CodeRabbit Docker configuration issues
  .env.prod.example
  frontend/Dockerfile
  frontend/app/api/health/route.ts
Due: eslint, typescript-check

fix: comprehensive Docker deployment configuration (#167)
  .env.prod.example
  docker-compose.prod.yml
  docker-compose.yml
  docs/DOCKER_DEPLOYMENT_GUIDE.md
  docs/PR160_MERGE_DECISION.md
  frontend/Dockerfile
  frontend/app/api/health/route.ts
  frontend/next.config.ts
  nginx.conf
Due: eslint, typescript-check

fix: implement CodeRabbit feedback improvements
  .env.prod.example
  CLAUDE.md
  docker-compose.prod.yml
  docs/DOCKER_DEPLOYMENT_GUIDE.md
  frontend/app/(chat)/api/chat/[id]/stream/route.ts
  frontend/components/artifact-messages.tsx
  frontend/components/artifact.tsx
  frontend/components/message-editor.tsx
  frontend/components/message.tsx
  frontend/components/messages.tsx
  frontend/components/vana-data-stream-provider.tsx
  frontend/tsconfig.tsbuildinfo
  src/gossip-protocol/monitoring/ConvergenceMonitor.js
  src/gossip-protocol/protocols/epidemic/EpidemicProtocol.js
  src/gossip-protocol/protocols/failure-detection/FailureDetector.js
Due: eslint, typescript-check

fix: implement additional CodeRabbit feedback improvements
  CLAUDE.md
  frontend/components/message.tsx
  frontend/components/vana-data-stream-provider.tsx
  frontend/tsconfig.tsbuildinfo
Due: eslint, typescript-check

docs: add Hivemind CRDT & Gossip architecture documentation
  CLAUDE.md
Due: none

fix: complete remaining CodeRabbit feedback implementation
  frontend/app/(chat)/api/chat/[id]/stream/route.ts
  frontend/components/chat-vana.tsx
  frontend/components/create-artifact.tsx
  frontend/components/multimodal-input.tsx
  frontend/components/suggested-actions.tsx
  frontend/components/toolbar.tsx
  frontend/fix-types.js
  frontend/hooks/use-messages.tsx
Due: eslint, typescript-check

fix: TypeScript type safety improvements in frontend
  frontend/artifacts/code/client.tsx
  frontend/artifacts/image/client.tsx
  frontend/artifacts/sheet/client.tsx
  frontend/artifacts/text/client.tsx
  frontend/components/data-stream-handler.tsx
  frontend/components/message.tsx
  frontend/components/weather.tsx
  frontend/hooks/use-auto-resume.ts
  frontend/tsconfig.tsbuildinfo
Due: eslint, typescript-check

fix: resolve CI/CD failures and TypeScript type safety issues
  .github/workflows/local-build.yml
  .github/workflows/main-ci.yml
  app/auth/google_cloud.py
  app/auth/routes.py
  app/monitoring/metrics_collector.py
  app/tests/__init__.py
  app/tests/security/test_rate_limiting.py
  app/tests/security/test_security_middleware.py
  app/tests/test_health.py
  app/utils/sse_broadcaster.py
  app/utils/sse_broadcaster_fixed.py
  app/utils/validation.py
  frontend/artifacts/code/client.tsx
  frontend/artifacts/sheet/client.tsx
  frontend/components/message.tsx
  frontend/tsconfig.tsbuildinfo
  scripts/manage_coverage.py
  src/core/hook_alerting_system.py
  src/core/hook_safety_system.py
  src/hooks/config/hook_config.py
  src/hooks/feedback/realtime_feedback.py
  src/hooks/orchestrator.py
  src/utils/context_sanitizer.py
  tests/ci_conftest.py
  tests/conftest.py
  tests/integration/test_ci_validation.py
  tests/integration/test_session_management.py
  tests/smoke_test_production.py
  tests/test_hook_example.py
Due: eslint, typescript-check, adk-compliance

fix: correct pnpm installation order in GitHub Actions
  .github/workflows/local-build.yml
  .github/workflows/main-ci.yml
Due: none

fix: ensure pnpm is installed before Node.js cache setup
  .github/workflows/main-ci.yml
Due: none

fix: resolve remaining CI/CD issues
  .github/workflows/local-build.yml
  .github/workflows/main-ci.yml
  tests/integration/test_adk_integration.py
Due: none

fix: resolve code formatting issues in ADK integration tests
  tests/integration/test_adk_integration.py
Due: none

fix: resolve all CI/CD failures - ESLint and backend linting
  app/tests/security/test_rate_limiting.py
  app/tests/security/test_security_middleware.py
  frontend/.eslintrc.json
  frontend/artifacts/sheet/client.tsx
  frontend/components/chat-vana.tsx
  scripts/manage_coverage.py
  src/core/safety_system_cli.py
  src/hooks/config/hook_config.py
  src/hooks/orchestrator.py
  src/shell-validator/cli.py
  src/shell-validator/git_hooks.py
  tests/ci_conftest.py
  tests/conftest.py
  tests/integration/test_adk_integration.py
  tests/integration/test_error_handling.py
  tests/integration/test_integration_full.py
  tests/integration/test_session_management.py
  tests/smoke_test_production.py
  tests/test_adk_expert.py
  tests/test_hook_example.py
Due: eslint, typescript-check, adk-compliance

fix: quick CI fixes for PR #170 merge
  app/configuration/validation.py
  pyproject.toml
  tests/integration/test_adk_integration.py
  tests/test_hook_example.py
Due: adk-compliance

fix: resolve import ordering lint issue
  app/configuration/validation.py
Due: adk-compliance
