Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

.pre-commit-config.yaml:

# Pre-commit configuration for Vana project
# See https://pre-commit.com for more information

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-pyyaml]
        args: [--strict, --ignore-missing-imports]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, app/, -ll]
        exclude: tests/

  # General formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words-list=rouge,DAA,deques]
        exclude: |
          (?x)^(
              .*\.lock|
              .*node_modules/.*|
              .*\.venv/.*|
              .*venv/.*|
              .*\.ipynb
          )$

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091]  # Ignore sourcing of non-existent files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  # Frontend (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Custom ADK compliance checks
  - repo: local
    hooks:
      - id: adk-compliance
        name: ADK Compliance Check
        entry: python scripts/adk_helpers/adk_compliance_check.py
        language: system
        files: ^app/.*\.py$
        pass_filenames: false

# Configuration
default_stages: [commit, push]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      .*node_modules/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.git/.*|
      .*__pycache__/.*|
      .*\.mypy_cache/.*|
      .*\.pytest_cache/.*|
      .*\.ruff_cache/.*|
      frontend/\.next/.*|
      frontend/out/.*
  )$

fix: resolve import ordering lint issue
  app/configuration/validation.py
Due: adk-compliance

feat: add simplified CI/CD pipeline
  .github/workflows/ci.yml
Due: none

docs: add CI migration documentation
  .github/workflows/README-MIGRATION.md
Due: none

fix: resolve CI/CD pipeline failures for PR #171
  .github/workflows/.backup/coderabbit-pushover.yml
  .github/workflows/.backup/dependency-check.yml
  .github/workflows/.backup/local-build.yml
  .github/workflows/.backup/main-ci.yml
  .github/workflows/.backup/security-scan.yml
  .github/workflows/.backup/test-gcp-auth.yml
  .github/workflows/ci.yml
  docs/ci-migration-plan.md
  pyproject.toml
  pyproject.toml.backup
  scripts/migrate-ci.sh
Due: none

fix: resolve remaining CI issues - Frontend path resolution and Backend type checking
  frontend/tsconfig.json
  pyproject.toml
Due: none

fix: ignore ESLint import resolution for path aliases
  frontend/.eslintrc.json
Due: none

fix: disable import/no-unresolved ESLint rule for CI compatibility
  frontend/.eslintrc.json
Due: none

docs: Add repository workflow pattern documentation
  CLAUDE.md
Due: none

feat: improve CI with automatic repository structure detection
  .github/workflows/ci.yml
  scripts/migrate-to-improved-ci.sh
Due: none

docs: Add browsertools MCP configuration and usage guide
  CLAUDE.md
Due: none

fix: correct OpenRouter model ID to qwen/qwen3-coder:free
  app/models.py
Due: adk-compliance

feat: switch to Google Gemini 2.5 as primary models
  app/models.py
Due: adk-compliance

fix: keep Vertex AI enabled for RAG functionality
  app/models.py
Due: adk-compliance

fix: ADK UI agent discovery and frontend improvements
  agents/vana/__init__.py
  agents/vana/agent.py
  app/server.py
  frontend/app/(chat)/page.tsx
  frontend/components/chat-header.tsx
  frontend/components/enhanced-chat.tsx
Due: eslint, typescript-check, adk-compliance

fix: critical CI/CD configuration issues for PR #171
  .github/workflows/ci.yml
Due: none

docs: add PR171 decision documentation and essential tests
  .gitignore
  README.md
  docs/PR171-MERGE-DECISION.md
  docs/README.md
  tests/backend_comprehensive_test.py
  tests/ci_validation_suite.py
  tests/performance_load_test.py
Due: none

cleanup: remove obsolete e2e test runner script
  tests/run-e2e-tests.sh
Due: none

fix: Address critical CodeRabbit review issues
  app/models.py
  frontend/components/elements/web-preview.tsx
  frontend/components/preview-attachment.tsx
  frontend/tests/e2e/session.test.ts
  frontend/tsconfig.tsbuildinfo
  tests/ci_conftest.py
  tests/performance_load_test.py
  tests/smoke_test_production.py
Due: eslint, typescript-check, adk-compliance

fix: Consolidate CI/CD workflows and implement foundation fixes
  .github/workflows/ci.yml
  .github/workflows/dependency-check.yml
  .github/workflows/deploy.yml
  .github/workflows/local-build.yml
  .github/workflows/main-ci.yml
  .github/workflows/security-scan.yml
  HANDOFF.md
  memory/memory-store.json
Due: none

fix: Fix multi-line bash conditional in ci-status job
  .github/workflows/ci.yml
Due: none
