Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

.pre-commit-config.yaml:

# Pre-commit configuration for Vana project
# See https://pre-commit.com for more information

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-pyyaml]
        args: [--strict, --ignore-missing-imports]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, app/, -ll]
        exclude: tests/

  # General formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words-list=rouge,DAA,deques]
        exclude: |
          (?x)^(
              .*\.lock|
              .*node_modules/.*|
              .*\.venv/.*|
              .*venv/.*|
              .*\.ipynb
          )$

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091]  # Ignore sourcing of non-existent files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  # Frontend (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Custom ADK compliance checks
  - repo: local
    hooks:
      - id: adk-compliance
        name: ADK Compliance Check
        entry: python scripts/adk_helpers/adk_compliance_check.py
        language: system
        files: ^app/.*\.py$
        pass_filenames: false

# Configuration
default_stages: [commit, push]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      .*node_modules/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.git/.*|
      .*__pycache__/.*|
      .*\.mypy_cache/.*|
      .*\.pytest_cache/.*|
      .*\.ruff_cache/.*|
      frontend/\.next/.*|
      frontend/out/.*
  )$

fix: Phase 2 build blockers - Suspense boundary and SSE URL issues
  CAPABILITIES_STATUS.md
  frontend/src/app/api/auth/token/route.ts
  frontend/src/app/api/sse/route.ts
  frontend/src/app/auth/login/LoginContent.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/lib/auth-security.ts
  vercel.json
Due: eslint, typescript-check

fix: address CodeRabbit review feedback
  frontend/src/app/api/auth/token/route.ts
  frontend/src/app/api/sse/route.ts
  frontend/src/lib/auth-security.ts
Due: eslint, typescript-check

fix: revert cookies() to async for Next.js 15 compatibility
  frontend/src/app/api/auth/token/route.ts
Due: eslint, typescript-check

fix: implement mock authentication to resolve 401 loops
  frontend/src/app/api/auth/token/route.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useTokenRefresh.ts.disabled
Due: eslint, typescript-check

fix: update Vercel configuration for frontend subdirectory
  vercel.json
Due: none

fix: correct Vercel configuration for frontend deployment
  frontend/src/components/auth/SessionIndicator.tsx
  frontend/src/store/auth-store.ts
  vercel.json
Due: eslint, typescript-check

feat: add shadcn UI validation hooks and comprehensive documentation
  .claude-hooks.json
  CLAUDE.md
  docs/claude-hooks-setup.md
  docs/shadcn-implementation-guide.md
  docs/shadcn-validator-usage.md
  scripts/claude-hooks.sh
  scripts/shadcn-validator.sh
Due: none

fix: address all CodeRabbit review comments from PR #150
  CLAUDE.md
  docs/claude-hooks-setup.md
  docs/shadcn-validator-usage.md
  frontend/src/components/auth/SessionIndicator.tsx
  scripts/claude-hooks.sh
  scripts/shadcn-validator.sh
  vercel.json
Due: eslint, typescript-check

fix: critical CI/CD and deployment issues
  frontend/package-lock.json
  vercel.json
Due: none

fix: disable Google Cloud dependencies in CI/CD pipeline
  .github/CI-SETUP.md
  .github/workflows/deploy.yml
  .github/workflows/main-ci.yml
  tests/conftest.py
  tests/integration/test_ci_validation.py
Due: none

fix: disable Vercel deployment to unblock CI/CD
  VERCEL_DISABLED.md
  vercel.json.disabled
Due: none

fix: resolve CI smoke test failures
  .env.ci
  app/auth/config.py
  tests/smoke_test_production.py
Due: adk-compliance

fix: resolve CI smoke test failures (#151)
  .claude-hooks.json
  .env.ci
  .github/CI-SETUP.md
  .github/workflows/deploy.yml
  .github/workflows/main-ci.yml
  CLAUDE.md
  VERCEL_DISABLED.md
  app/auth/config.py
  docs/claude-hooks-setup.md
  docs/shadcn-implementation-guide.md
  docs/shadcn-validator-usage.md
  frontend/package-lock.json
  frontend/src/app/api/auth/token/route.ts
  frontend/src/components/auth/SessionIndicator.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useTokenRefresh.ts.disabled
  frontend/src/store/auth-store.ts
  scripts/claude-hooks.sh
  scripts/shadcn-validator.sh
  tests/conftest.py
  tests/integration/test_ci_validation.py
  tests/smoke_test_production.py
  vercel.json.disabled
Due: eslint, typescript-check, adk-compliance

feat: add canvas components, layout system, and UI enhancements
  docs/PR_GUIDELINES.md
  docs/UI_FIX_MASTER_PLAN.md
  docs/ui-pattern-research-report.md
  frontend/eslint.config.js
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/run-functionality-test.js
  frontend/src/app/chat/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/agents/agent-task-deck-demo.tsx
  frontend/src/components/agents/agent-task-deck.tsx
  frontend/src/components/agents/index.ts
  frontend/src/components/canvas/canvas-container.tsx
  frontend/src/components/canvas/canvas-editor.tsx
  frontend/src/components/canvas/canvas-export-dialog.tsx
  frontend/src/components/canvas/canvas-preview.tsx
  frontend/src/components/canvas/canvas-toolbar.tsx
  frontend/src/components/canvas/canvas-version-history.tsx
  frontend/src/components/canvas/index.ts
  frontend/src/components/canvas/types.ts
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/message-input.tsx
  frontend/src/components/layout/app-layout.tsx
  frontend/src/components/layout/index.ts
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/toggle.tsx
  frontend/src/hooks/use-toast.ts
  frontend/tests/functionality.spec.ts
  package-lock.json
  package.json
Due: eslint, typescript-check

Update frontend/src/components/agents/agent-task-deck.tsx
  frontend/src/components/agents/agent-task-deck.tsx
Due: eslint, typescript-check

Update frontend/src/components/canvas/canvas-container.tsx
  frontend/src/components/canvas/canvas-container.tsx
Due: eslint, typescript-check

Update frontend/src/components/layout/app-layout.tsx
  frontend/src/components/layout/app-layout.tsx
Due: eslint, typescript-check

Update frontend/tests/functionality.spec.ts
  frontend/tests/functionality.spec.ts
Due: eslint, typescript-check

Update frontend/src/components/canvas/canvas-toolbar.tsx
  frontend/src/components/canvas/canvas-toolbar.tsx
Due: eslint, typescript-check

Update frontend/src/components/canvas/canvas-version-history.tsx
  frontend/src/components/canvas/canvas-version-history.tsx
Due: eslint, typescript-check

fix: address critical security issues from CodeRabbit review
  frontend/package.json
  frontend/src/components/agents/agent-task-deck.tsx
  frontend/src/components/canvas/canvas-container.tsx
  frontend/src/components/canvas/canvas-preview.tsx
  package-lock.json
Due: eslint, typescript-check

fix: restore CSS and font imports to fix UI styling
  docs/truth-verification-implementation-guide.md
  docs/truth-verification-system.md
  frontend/postcss.config.mjs
  frontend/src/app/layout.tsx
  scripts/truth-verify.js
  scripts/verify-components.js
  scripts/verify-performance.js
Due: eslint, typescript-check

fix: resolve all outstanding PR review comments and dependency issues
  frontend/frontend/package-lock.json
Due: none

fix: stage and commit all outstanding PR changes for review
  frontend/package-lock.json
  frontend/package.json
  frontend/run-functionality-test.js
  frontend/src/app/chat/page.tsx
  frontend/src/components/agents/agent-task-deck.tsx
  frontend/src/components/canvas/canvas-container.tsx
  frontend/src/components/canvas/canvas-preview.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/layout/app-layout.tsx
  frontend/tests/functionality.spec.ts
  package.json
Due: eslint, typescript-check

chore: remove stray frontend/frontend/package-lock.json
  frontend/frontend/package-lock.json
Due: none

fix: resolve build failures and dependency issues
  .github/workflows/deploy.yml
  .github/workflows/local-build.yml
  .github/workflows/main-ci.yml
  Dockerfile.local
  Makefile
  docker-compose.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/postcss.config.mjs
  package-lock.json
  package.json
Due: none

fix: resolve syntax errors in React components
  LOCAL_BUILD_GUIDE.md
  frontend/src/components/agents/agent-task-deck.tsx
  frontend/src/components/canvas/canvas-container.tsx
  frontend/src/components/layout/app-layout.tsx
Due: eslint, typescript-check

fix: resolve critical JSX syntax errors in agent-task-deck component
  frontend/src/components/agents/agent-task-deck.tsx
Due: eslint, typescript-check

feat: GitHub Actions Optimization & Local-First CI/CD Strategy
  .github/workflows/ci.yml
  .github/workflows/coderabbit-pushover.yml
  .github/workflows/local-build.yml
  .github/workflows/main-ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-gcp-auth.yml
  GITHUB_ACTIONS_STRATEGY.md
Due: none

fix: address critical security vulnerabilities and TypeScript safety issues
  frontend/src/components/agents/agent-task-deck.tsx
  frontend/src/components/canvas/canvas-container.tsx
  frontend/src/components/canvas/canvas-editor.tsx
  frontend/src/components/canvas/canvas-modes.tsx
  frontend/src/components/canvas/canvas-preview.tsx
  frontend/src/components/chat/chat-interface.tsx
Due: eslint, typescript-check

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

fix: add Bandit to project.optional-dependencies for CI workflow
  pyproject.toml
Due: none

Update .github/workflows/coderabbit-pushover.yml
  .github/workflows/coderabbit-pushover.yml
Due: none

Update .github/workflows/main-ci.yml
  .github/workflows/main-ci.yml
Due: none
