Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

.pre-commit-config.yaml:

repos:
  # VANA-specific custom checks (HIGHEST PRIORITY)
  - repo: local
    hooks:
      - id: vana-naming-check
        name: VANA Tool Naming Convention Check
        entry: python scripts/lint/check_vana_naming.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-directory-structure
        name: VANA Directory Structure Validation
        entry: python scripts/lint/check_directory_structure.py
        language: python
        pass_filenames: false
        always_run: true

      - id: vana-poetry-only
        name: Prevent pip usage (Poetry only)
        entry: "pip install|pip3 install"
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$'

      - id: vana-tool-registration
        name: VANA Tool Registration Pattern Check
        entry: python scripts/lint/check_tool_registration.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-hardcoded-paths
        name: Check for hardcoded paths
        entry: '(/Users/nick/|C:\\Users\\|/home/nick/)'
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$'

  # Ruff - Modern Python linter and formatter (AFTER VANA checks)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: "^(tests/|scripts/lint/)"

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, ., -f, json, -o, bandit-report.json]
        exclude: "^(tests/|scripts/lint/)"

  # General quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^\.github/workflows/' # GitHub Actions may have special syntax
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-use-type-annotations

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(yml|yaml)$'
        exclude: '^\.github/workflows/'

docs: Update memory bank with linting implementation status
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

CRITICAL REGRESSION FIX: Restore tool imports removed by bad commit cd5de83
  lib/_tools/__init__.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

CRITICAL FIX: Restore tool imports to resolve 'No root_agent found' error
  VANA_VIOLATIONS_SUMMARY.md
  agents/vana.backup.20250531/__init__.py
  agents/vana.backup.20250531/agent.py
  agents/vana.backup.20250531/team.py
  agents/vana.backup.20250531/team.py.backup
  agents/vana.backup.20250531/team_full.py
  agents/vana.backup.20250531/team_minimal.py
  agents/vana/__pycache__/team.cpython-313.pyc
  agents/vana/agent.py
  deployment/deploy.sh
  lib/_tools/__init__.py
  lib/_tools/__pycache__/__init__.cpython-313.pyc
  lib/_tools/adk_tools.py
  memory-bank/HANDOFF_CRITICAL_TOOL_IMPORT_FIX_COMPLETE.md
  memory-bank/HANDOFF_DEPLOYMENT_VALIDATION_COMPLETE.md
  memory-bank/HANDOFF_LINTING_VALIDATION_COMPLETE_NEXT_STEPS.md
  memory-bank/HANDOFF_UNDERSCORE_VIOLATIONS_FIXED_DEPLOYMENT_READY.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  requirements.txt
  test_agent_import.py
  test_echo_only.py
  test_minimal_import.py
  tests/orchestration/test_team_coordination.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

CRITICAL FIX: Systematic function name mismatch resolution - 18 functions fixed
  agents/vana/__pycache__/__init__.cpython-313.pyc
  agents/vana/__pycache__/agent.cpython-313.pyc
  agents/vana/__pycache__/team.cpython-313.pyc
  lib/_shared_libraries/__pycache__/confidence_scorer.cpython-313.pyc
  lib/_shared_libraries/__pycache__/intelligent_cache.cpython-313.pyc
  lib/_shared_libraries/__pycache__/mode_manager.cpython-313.pyc
  lib/_shared_libraries/__pycache__/task_router.cpython-313.pyc
  lib/_shared_libraries/__pycache__/tool_standards.cpython-313.pyc
  lib/_tools/__pycache__/__init__.cpython-313.pyc
  lib/_tools/__pycache__/adk_long_running_tools.cpython-313.pyc
  lib/_tools/__pycache__/adk_third_party_tools.cpython-313.pyc
  lib/_tools/__pycache__/adk_tools.cpython-313.pyc
  lib/_tools/__pycache__/agent_tools.cpython-313.pyc
  lib/_tools/__pycache__/long_running_tools.cpython-313.pyc
  lib/_tools/adk_long_running_tools.py
  lib/_tools/adk_third_party_tools.py
  lib/_tools/adk_tools.py
  lib/linting_issues.md
  memory-bank/CRITICAL_RECOVERY_COMPLETE_SUMMARY.md
  memory-bank/HANDOFF_CRITICAL_RECOVERY_STATUS.md
  memory-bank/HANDOFF_POST_RECOVERY_STRATEGIC_DEVELOPMENT.md
  memory-bank/HANDOFF_SYSTEMATIC_RECOVERY_PLAN.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  test_functional_baseline.py
  test_minimal_import.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

IMPLEMENT AGENT-AS-TOOL ORCHESTRATION: Prioritize agent tools over transfers
  agents/vana/team.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

CRITICAL FIX: Remove underscore prefixes from tool function names
  agents/vana/team.py
  memory-bank/HANDOFF_AGENT_ORCHESTRATION_VALIDATION_CRITICAL.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Final cleanup: Remove backup files and complete documentation
  agents/vana/team.py.backup
  agents/vana/team_full.py
  agents/vana/team_minimal.py
  agents/vana/team_minimal.py.backup
  lib/_tools/__init__.py
  memory-bank/HANDOFF_AGENT_ORCHESTRATION_VALIDATION_COMPLETE.md
  memory-bank/HANDOFF_AGENT_ORCHESTRATION_VALIDATION_CRITICAL.md
  memory-bank/HANDOFF_CRITICAL_ENVIRONMENT_RECOVERY_REQUIRED.md
  memory-bank/HANDOFF_CRITICAL_RECOVERY_COMPLETE_SYSTEM_OPERATIONAL.md
  memory-bank/HANDOFF_VALIDATION_COMPLETE_COGNITIVE_ENHANCEMENT_NEEDED.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  tests/automated/comprehensive_system_validator.py
  tests/automated/puppeteer_system_validator.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Update deploy script to support custom service names for dev deployments
  deployment/deploy.sh
Due: none

SYSTEM REPAIR PHASES 1&2 COMPLETE: All specialist tools fixed, ready for deployment
  AGENT_HANDOFF_INSTRUCTIONS.md
  COMPREHENSIVE_SYSTEM_REPAIR_PLAN.md
  CURRENT_IMPLEMENTATION_STATUS.md
  agents/vana/__pycache__/__init__.cpython-313.pyc
  agents/vana/__pycache__/agent.cpython-313.pyc
  agents/vana/__pycache__/team.cpython-313.pyc
  agents/vana/team.py
  lib/_shared_libraries/__pycache__/confidence_scorer.cpython-313.pyc
  lib/_shared_libraries/__pycache__/intelligent_cache.cpython-313.pyc
  lib/_shared_libraries/__pycache__/mode_manager.cpython-313.pyc
  lib/_shared_libraries/__pycache__/task_router.cpython-313.pyc
  lib/_shared_libraries/__pycache__/tool_standards.cpython-313.pyc
  lib/_shared_libraries/lazy_initialization.py
  lib/_tools/__pycache__/__init__.cpython-313.pyc
  lib/_tools/__pycache__/adk_long_running_tools.cpython-313.pyc
  lib/_tools/__pycache__/adk_third_party_tools.cpython-313.pyc
  lib/_tools/__pycache__/adk_tools.cpython-313.pyc
  lib/_tools/__pycache__/agent_tools.cpython-313.pyc
  lib/_tools/__pycache__/long_running_tools.cpython-313.pyc
  lib/_tools/adk_tools.py
  lib/_tools/comprehensive_tool_listing.py
  lib/_tools/fixed_specialist_tools.py
  main.py
  memory-bank/SYSTEM_REPAIR_PROJECT.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  scripts/diagnose_import_hanging.py
  scripts/phase1_validation.py
  scripts/phase2_validation.py
  scripts/puppeteer_validation.py
  scripts/update_memory_bank.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Phase 3 Complete: System repair successful, all specialist tools working with proper task IDs
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

Fix agent transfer: Remove custom transfer_to_agent tool, let ADK framework handle transfers automatically
  agents/vana/team.py
  memory-bank/SYSTEM_REPAIR_COMPLETION_SUMMARY.md
  memory-bank/progress.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Fix import error: Remove adk_transfer_to_agent from __init__.py imports
  lib/_tools/__init__.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

CRITICAL: Document Google ADK root_agent discovery failure - service down, requires research and fix
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

Update activeContext with Codex analysis: Missing Google ADK modules causing root_agent discovery failure
  memory-bank/activeContext.md
Due: none

Fix Google ADK root_agent discovery: Export root_agent at package level
  agents/vana/__init__.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Fix root-level vana.py to export root_agent for ADK discovery
  vana.py
Due: vana-poetry-only, vana-hardcoded-paths

Remove all adk_transfer_to_agent references from team.py
  agents/vana/team.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Deploy orchestrated agent tools with task ID invisibility
  agents/vana/team.py
  lib/_tools/orchestrated_specialist_tools.py
  memory-bank/progress.md
  tests/agentic_validation/comprehensive_testing_framework.py
  tests/agentic_validation/curl_api_tests.sh
  tests/agentic_validation/local_function_tests.py
  tests/agentic_validation/simple_http_tests.py
  tests/agentic_validation/test_orchestration_fixes.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Add OpenRouter support for DeepSeek model
  agents/vana/team.py
  deployment/cloudbuild.yaml
  lib/model_providers/__init__.py
  lib/model_providers/adk_openrouter_wrapper.py
  lib/model_providers/openrouter_provider.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Fix OpenRouter wrapper implementation
  lib/model_providers/adk_openrouter_wrapper.py
Due: vana-poetry-only, vana-hardcoded-paths

Implement proper OpenRouter integration following BitDoze pattern
  lib/model_providers/adk_openrouter_wrapper.py
Due: vana-poetry-only, vana-hardcoded-paths

Fix deployment hanging: Set GOOGLE_GENAI_USE_VERTEXAI=False in cloudbuild.yaml
  deployment/cloudbuild.yaml
Due: none

docs: Add comprehensive configuration guide
  docs/getting-started/configuration.md
Due: none

docs: Complete comprehensive documentation overhaul
  HANDOFF_DOCUMENTATION_COMPLETION.md
  README.md
  docs/architecture/agents.md
  docs/architecture/tools.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/guides/api-reference.md
  docs/guides/developer-guide.md
  docs/guides/examples/README.md
Due: none

fix: Implement critical fixes from rollback analysis
  README.md
  deployment/cloudbuild.yaml
  docs/deployment/cloud-deployment.md
  docs/deployment/security-guide.md
  docs/getting-started/installation.md
  pyproject.toml
Due: none

fix: Remove OpenRouter dependencies for clean safe version
  agents/vana/team.py
  pyproject.toml
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

cleanup: Remove pycache files
  agents/vana/__pycache__/__init__.cpython-313.pyc
  agents/vana/__pycache__/agent.cpython-313.pyc
  agents/vana/__pycache__/team.cpython-313.pyc
  lib/__pycache__/__init__.cpython-313.pyc
  lib/_shared_libraries/__pycache__/__init__.cpython-313.pyc
  lib/_shared_libraries/__pycache__/confidence_scorer.cpython-313.pyc
  lib/_shared_libraries/__pycache__/intelligent_cache.cpython-313.pyc
  lib/_shared_libraries/__pycache__/mode_manager.cpython-313.pyc
  lib/_shared_libraries/__pycache__/task_router.cpython-313.pyc
  lib/_shared_libraries/__pycache__/tool_standards.cpython-313.pyc
  lib/_tools/__pycache__/__init__.cpython-313.pyc
  lib/_tools/__pycache__/adk_long_running_tools.cpython-313.pyc
  lib/_tools/__pycache__/adk_third_party_tools.cpython-313.pyc
  lib/_tools/__pycache__/adk_tools.cpython-313.pyc
  lib/_tools/__pycache__/agent_tools.cpython-313.pyc
  lib/_tools/__pycache__/long_running_tools.cpython-313.pyc
  lib/_tools/__pycache__/specialist_tools.cpython-313.pyc
  lib/_tools/__pycache__/standardized_file_tools.cpython-313.pyc
Due: none

CRITICAL FIX: Resolve Python virtual environment hanging issue
  memory-bank/HANDOFF_PYTHON_ENVIRONMENT_RECOVERY_COMPLETE.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

Clean up Python 3.13 cache files
  agents/vana/__pycache__/__init__.cpython-313.pyc
  agents/vana/__pycache__/agent.cpython-313.pyc
  agents/vana/__pycache__/team.cpython-313.pyc
  lib/__pycache__/__init__.cpython-313.pyc
  lib/_shared_libraries/__pycache__/__init__.cpython-313.pyc
  lib/_shared_libraries/__pycache__/confidence_scorer.cpython-313.pyc
  lib/_shared_libraries/__pycache__/intelligent_cache.cpython-313.pyc
  lib/_shared_libraries/__pycache__/mode_manager.cpython-313.pyc
  lib/_shared_libraries/__pycache__/task_router.cpython-313.pyc
  lib/_shared_libraries/__pycache__/tool_standards.cpython-313.pyc
  lib/_tools/__pycache__/__init__.cpython-313.pyc
  lib/_tools/__pycache__/adk_long_running_tools.cpython-313.pyc
  lib/_tools/__pycache__/adk_third_party_tools.cpython-313.pyc
  lib/_tools/__pycache__/adk_tools.cpython-313.pyc
  lib/_tools/__pycache__/agent_tools.cpython-313.pyc
  lib/_tools/__pycache__/long_running_tools.cpython-313.pyc
  lib/_tools/__pycache__/specialist_tools.cpython-313.pyc
  lib/_tools/__pycache__/standardized_file_tools.cpython-313.pyc
Due: none

Remove backup directory and update memory bank with import hanging resolution
  agents/vana.backup.20250531/__init__.py
  agents/vana.backup.20250531/agent.py
  agents/vana.backup.20250531/team.py
  agents/vana.backup.20250531/team.py.backup
  agents/vana.backup.20250531/team_full.py
  agents/vana.backup.20250531/team_minimal.py
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Complete comprehensive system validation: 100% success on agent-as-tool orchestration, all 6 critical tests passed
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

Complete handoff preparation: CI/CD infrastructure files ready, deployment scripts created, handoff documentation complete
  deployment/cloudbuild-dev.yaml
  deployment/cloudbuild-prod.yaml
  deployment/deploy-dev.sh
  deployment/deploy-prod.sh
  memory-bank/HANDOFF_CI_CD_IMPROVEMENTS_IMPLEMENTATION.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  poetry.lock.example
Due: vana-poetry-only, vana-hardcoded-paths

Add Codex MVP completion plan
  CODEX_MVP_COMPLETION_PLAN.md
  agents/vana/team.py
  docs/environment-setup.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

feat(aug): Add comprehensive MVP development plan with industry best practices research
  docs/COMPREHENSIVE_MVP_DEVELOPMENT_PLAN.md
  docs/RESEARCH_SYNTHESIS_SUMMARY.md
  memory-bank/progress.md
Due: none

feat: Implement Augment MVP Plan Phase 2 WebGUI Development
  AUGMENT_MVP_IMPLEMENTATION_PLAN.md
  HANDOFF_AUGMENT_MVP_IMPLEMENTATION.md
  README.md
  dashboard/api/chat_server.py
  dashboard/api/simple_chat_server.py
  dashboard/frontend/package.json
  dashboard/frontend/src/App.js
  dashboard/frontend/src/components/AuthProvider.js
  dashboard/frontend/src/components/ChatInterface.js
  dashboard/requirements.txt
  dashboard/start_enhanced_dashboard.py
  memory-bank/HANDOFF_STRATEGIC_DEVELOPMENT_ROADMAP.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  poetry.lock
  pyproject.toml
Due: vana-poetry-only, vana-hardcoded-paths

feat: Complete frontend integration with React WebUI
  .dockerignore
  dashboard/frontend/package.json
  dashboard/frontend/src/App.js
  dashboard/frontend/src/components/Alerts.js
  dashboard/frontend/src/components/Chat.js
  dashboard/frontend/src/components/HealthStatus.js
  dashboard/frontend/src/components/Login.js
  deployment/Dockerfile
  deployment/cloudbuild-dev.yaml
  lib/webui_routes.py
  main.py
  memory-bank/HANDOFF_FRONTEND_INTEGRATION_DOCKER_BUILD_ISSUE.md
  memory-bank/activeContext.md
Due: vana-poetry-only, vana-hardcoded-paths

docs: Add WebUI design regression analysis and sophisticated mockup
  memory-bank/HANDOFF_WEBUI_DESIGN_REGRESSION_AND_CHAT_FAILURE.md
  mockup_sophisticated_vana_webui.html
Due: none

fix: Resolve chat system circular dependency and integration
  lib/webui_routes.py
Due: vana-poetry-only, vana-hardcoded-paths
