Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

.pre-commit-config.yaml:

repos:
  # VANA-specific custom checks (HIGHEST PRIORITY)
  - repo: local
    hooks:
      - id: vana-naming-check
        name: VANA Tool Naming Convention Check
        entry: python scripts/lint/check_vana_naming.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-directory-structure
        name: VANA Directory Structure Validation
        entry: python scripts/lint/check_directory_structure.py
        language: python
        pass_filenames: false
        always_run: true

      - id: vana-poetry-only
        name: Prevent pip usage (Poetry only)
        entry: "pip install|pip3 install"
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$'

      - id: vana-tool-registration
        name: VANA Tool Registration Pattern Check
        entry: python scripts/lint/check_tool_registration.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-hardcoded-paths
        name: Check for hardcoded paths
        entry: '(/Users/nick/|C:\\Users\\|/home/nick/)'
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$'

  # Ruff - Modern Python linter and formatter (AFTER VANA checks)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: "^(tests/|scripts/lint/)"

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, ., -f, json, -o, bandit-report.json]
        exclude: "^(tests/|scripts/lint/)"

  # General quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^\.github/workflows/' # GitHub Actions may have special syntax
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-use-type-annotations

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(yml|yaml)$'
        exclude: '^\.github/workflows/'

feat: Add missing dependencies and resolve test collection issues
  poetry.lock
  pyproject.toml
Due: none

Complete technical debt cleanup & memory bank updates
  memory-bank/CRITICAL_UNDERSCORE_NAMING_LESSONS.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  tests/test_agents_as_tools.py
  tests/test_output_key_state_sharing.py
Due: vana-poetry-only, vana-hardcoded-paths

Final cleanup: Remove broken team_full.py file
  agents/vana/team_full.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Update Memory Bank: Technical debt cleanup mission complete
  memory-bank/activeContext.md
Due: none

Remove secrets and update references
  .env
  .env.example
  .gitignore
  Dockerfile.production
  lib/_shared_libraries/session_manager.py
  lib/_shared_libraries/tool_standards.py
  lib/_tools/crewai_adapter.py
  lib/_tools/langchain_adapter.py
  lib/_tools/long_running_tools.py
  lib/_tools/standardized_system_tools.py
  lib/_tools/third_party_tools.py
  lib/linting_issues.md
  pytest.ini
  secrets/README.md
  secrets/analystai-454200-d93d793e05b6.json
  secrets/analystai-454200-f8e1cc0a8823.json
  secrets/vana-vector-search-sa.json
  tests/adk_memory/unit/test_vana_memory_service.py
  tests/test_adk_import.py
  tests/test_agent_long_running_integration.py
  tests/test_agents_as_tools.py
  tests/test_brave_search_integration.py
  tests/test_llm_agent_creation.py
  tests/test_llm_agent_init.py
  tests/test_long_running_tools.py
  tests/test_output_key_state_sharing.py
  tests/test_sequential_agent.py
  tests/test_third_party_tools.py
  tests/test_transfer_to_agent.py
  tools/brave_search_client.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Clean repo: remove secrets, update paths (#41)
  .env
  .env.example
  .gitignore
  Dockerfile.production
  lib/_shared_libraries/session_manager.py
  lib/_shared_libraries/tool_standards.py
  lib/_tools/crewai_adapter.py
  lib/_tools/langchain_adapter.py
  lib/_tools/long_running_tools.py
  lib/_tools/standardized_system_tools.py
  lib/_tools/third_party_tools.py
  lib/linting_issues.md
  pytest.ini
  secrets/README.md
  secrets/analystai-454200-d93d793e05b6.json
  secrets/analystai-454200-f8e1cc0a8823.json
  secrets/vana-vector-search-sa.json
  tests/adk_memory/unit/test_vana_memory_service.py
  tests/test_adk_import.py
  tests/test_agent_long_running_integration.py
  tests/test_agents_as_tools.py
  tests/test_brave_search_integration.py
  tests/test_llm_agent_creation.py
  tests/test_llm_agent_init.py
  tests/test_long_running_tools.py
  tests/test_output_key_state_sharing.py
  tests/test_sequential_agent.py
  tests/test_third_party_tools.py
  tests/test_transfer_to_agent.py
  tools/brave_search_client.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Fix production cloudbuild to use Dockerfile.production
  deployment/cloudbuild-prod.yaml
Due: none

Fix production service account for Vertex AI authentication
  deployment/cloudbuild-prod.yaml
Due: none

Complete PR #41 implementation and production deployment
  deployment/cloudbuild-dev.yaml
  tools/security/__init__.py
Due: vana-poetry-only, vana-hardcoded-paths

Update Memory Bank: Document PR #41 complete success
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

fix: Implement comprehensive agent flow race condition fixes
  dashboard/monitoring/adk_memory_logger.py
  lib/_shared_libraries/task_router.py
  lib/_shared_libraries/tool_standards.py
  logs/adk_memory/errors.jsonl
  logs/adk_memory/operations.jsonl
  logs/adk_memory/sessions.jsonl
  logs/adk_memory/traces.jsonl
  memory-bank/activeContext.md
  memory-bank/progress.md
  scripts/test_race_condition_fixes.py
  tests/automated/test_race_condition_fixes.py
Due: vana-poetry-only, vana-hardcoded-paths

test: Add comprehensive local testing for race condition fixes
  docs/RACE_CONDITION_FIXES.md
  logs/adk_memory/sessions.jsonl
  logs/adk_memory/traces.jsonl
  scripts/test_core_race_conditions.py
  scripts/test_local_race_conditions.py
  scripts/test_simple_local_race_conditions.py
  tests/automated/test_race_condition_fixes.py
Due: vana-poetry-only, vana-hardcoded-paths

Critical syntax recovery and memory-first implementation
  agents/vana/team.py
  agents/vana/team_minimal.py
  data/knowledge/agent_capabilities.md
  data/knowledge/index.md
  data/knowledge/memory_architecture.md
  data/knowledge/optimization_framework.md
  data/knowledge/system_overview.md
  data/knowledge/tool_documentation.md
  data/knowledge/troubleshooting.md
  deployment/cloudbuild-dev.yaml
  docs/agent_memory_examples.md
  fix_syntax_errors.py
  fix_team_syntax.py
  lib/_shared_libraries/adk_memory_service.py
  lib/_tools/adk_tools.py
  memory-bank/HANDOFF_CRITICAL_SYNTAX_RECOVERY_MEMORY_FIRST_COMPLETE.md
  memory-bank/HANDOFF_MEMORY_ARCHITECTURE_COMPLETE.md
  memory-bank/HANDOFF_MEMORY_ARCHITECTURE_DEPLOYMENT_COMPLETE.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  scripts/create_vana_knowledge_base.py
  scripts/optimize_agent_memory_behavior.py
  scripts/populate_vana_memory.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

docs: Complete memory-first behavior validation with Playwright testing
  memory-bank/HANDOFF_MEMORY_FIRST_VALIDATION_COMPLETE.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: none

docs: Create comprehensive optimization plan based on validation results and research
  memory-bank/COMPREHENSIVE_OPTIMIZATION_PLAN.md
  memory-bank/activeContext.md
Due: none

feat: Complete Phase 2 proactive behavior - all objectives achieved
  agents/vana/team.py
  memory-bank/CRITICAL_HANDOFF_PHASE2_DEPLOYMENT_FAILURES.md
  memory-bank/HANDOFF_PHASE2_PROACTIVE_BEHAVIOR_COMPLETE.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

feat: Complete Phase 3 Agent Orchestration - Specialist agents integrated and validated
  agents/specialists/agent_tools.py
  agents/specialists/architecture_specialist.py
  agents/specialists/devops_specialist.py
  agents/specialists/qa_specialist.py
  agents/specialists/ui_specialist.py
  agents/vana/team.py
  memory-bank/HANDOFF_NEXT_AGENT_PHASE3_COMPLETE.md
  memory-bank/HANDOFF_PHASE3_AGENT_ORCHESTRATION_COMPLETE.md
  memory-bank/HANDOFF_PHASE3_AGENT_ORCHESTRATION_PROGRESS.md
  memory-bank/activeContext.md
  memory-bank/progress.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

docs: Update systemPatterns.md with Phase 3 specialist agent completion
  memory-bank/systemPatterns.md
Due: none

feat: Priority 3 Enhancement Opportunities - Advanced Multi-Agent Orchestration
  PHASE3_COMPLETE_NEXT_AGENT_BRIEFING.md
  agents/memory/specialist_memory_manager.py
  agents/orchestration/hierarchical_task_manager.py
  agents/vana/team.py
  agents/workflows/iterative_refinement_workflow.py
  agents/workflows/parallel_analysis_workflow.py
  agents/workflows/project_development_workflow.py
  memory-bank/HANDOFF_PRIORITY3_ENHANCEMENTS_COMPLETE.md
  memory-bank/activeContext.md
  memory-bank/progress.md
  memory-bank/systemPatterns.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

docs: update prerequisites to Python 3.13
  README.md
  config/environment.py
  docs/getting-started/quick-start.md
  docs/guides/developer-guide.md
  docs/troubleshooting/common-issues.md
  legacy/mcp-servers/README.md
  legacy/mcp-servers/knowledge-graph/config.json
  legacy/mcp-servers/knowledge-graph/package.json
  legacy/mcp-servers/n8n-mcp/.env.example
  legacy/mcp-servers/n8n-mcp/claude-mcp-config.json
  legacy/mcp-servers/n8n-mcp/start-mcp-server.sh
  lib/_shared_libraries/vector_search_service.py
  main.py
Due: vana-poetry-only, vana-hardcoded-paths

docs: Complete Priority 3 quality review and Google ADK compatibility fixes
  agents/workflows/iterative_refinement_workflow.py
  memory-bank/HANDOFF_PRIORITY3_QUALITY_REVIEW_COMPLETE.md
  memory-bank/activeContext.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths
