Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

.pre-commit-config.yaml:

# Pre-commit configuration for Vana project
# See https://pre-commit.com for more information

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-pyyaml]
        args: [--strict, --ignore-missing-imports]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, app/, -ll]
        exclude: tests/

  # General formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words-list=rouge,DAA,deques]
        exclude: |
          (?x)^(
              .*\.lock|
              .*node_modules/.*|
              .*\.venv/.*|
              .*venv/.*|
              .*\.ipynb
          )$

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091]  # Ignore sourcing of non-existent files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  # Frontend (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Custom ADK compliance checks
  - repo: local
    hooks:
      - id: adk-compliance
        name: ADK Compliance Check
        entry: python scripts/adk_helpers/adk_compliance_check.py
        language: system
        files: ^app/.*\.py$
        pass_filenames: false

# Configuration
default_stages: [commit, push]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      .*node_modules/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.git/.*|
      .*__pycache__/.*|
      .*\.mypy_cache/.*|
      .*\.pytest_cache/.*|
      .*\.ruff_cache/.*|
      frontend/\.next/.*|
      frontend/out/.*
  )$

fix: resolve React error #185 and regenerate clean performance baseline
  docs/performance/baselines/base-clean.json
  docs/performance/baselines/base-with-errors-backup.json
Due: none

feat: comprehensive security enhancements and React error fixes
  app/auth/circuit_breaker.py
  app/auth/circuit_breaker_config.py
  app/auth/middleware.py
  app/auth/routes.py
  app/middleware/error_middleware.py
  app/research_agents.py
  app/server.py
  app/utils/error_handling.py
  app/utils/session_security.py
  app/utils/session_store.py
  docs/REACT_ERROR_185_TEST_RESULTS.md
  docs/TEST_VALIDATION_SUMMARY.md
  docs/api/session-management-openapi.yaml
  docs/error-handling-integration-guide.md
  tests/auth/test_circuit_breaker.py
  tests/react_error_185_component_tests.js
  tests/react_error_185_test_report.json
  tests/react_error_185_validation.js
  tests/test_session_cleanup_simple.py
  tests/test_session_store_cleanup.py
  vana-migration-backup.zip
  vana-migration-backup/configs/.claude-flow.config.json
  vana-migration-backup/configs/.claude-hooks.json
  vana-migration-backup/configs/.claude_session
  vana-migration-backup/configs/.coderabbit.yml
  vana-migration-backup/docs/BACKUP_MANIFEST.md
  vana-migration-backup/docs/MIGRATION_INSTRUCTIONS.md
  vana-migration-backup/environment/.env.local.template
  vana-migration-backup/global-configs/gitconfig.backup
  vana-migration-backup/global-configs/npm-config.json
  vana-migration-backup/global-configs/uv/uv-receipt.json
Due: adk-compliance

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat: comprehensive React performance optimization and frontend validation
  REACT_OPTIMIZATION_SUMMARY.md
  docs/PERFORMANCE_BASELINE_READY.md
  package.json
  src/components/agent/SSETestComponent.tsx
  src/components/agent/VanaAgentStatus.tsx
  src/components/prompt-kit/chat-container.tsx
  src/components/prompt-kit/message.tsx
  src/components/sse/sse-error-boundary.tsx
  src/components/ui/optimized-wrappers.tsx
  src/components/vana/VanaHomePage.tsx
  src/components/vana/VanaSidebar.tsx
  src/docs/array-safety-fixes.md
  src/hooks/useChatStream.ts
  src/hooks/useSSE.ts
  src/hooks/useSSEWithErrorHandling.ts
  src/lib/performance-monitor.tsx
  src/lib/react-performance.ts
  src/tests/array-safety.test.tsx
  src/tests/performance/react-optimization-tests.tsx
Due: none

feat: update frontend submodule and secure sensitive transfer data
  .gitignore
Due: none

fix: improve sidebar chat display to show clean titles only
  src/components/vana/VanaSidebar.tsx
Due: none

feat: convert to monorepo structure with integrated frontend
  .gitignore
  CLAUDE.md
  config/self-healing-hooks.json
  frontend-git-history.txt
  infrastructure/docker/Dockerfile.nginx
  infrastructure/docker/Dockerfile.production
  infrastructure/docker/docker-compose.yml
  infrastructure/docker/nginx/conf.d/default.conf
  infrastructure/docker/nginx/nginx.conf
  scripts/claude-flow-wrapper.sh
  scripts/claude-flow.bat
  scripts/claude-flow.ps1
  scripts/setup-alias.sh
Due: none

docs: comprehensive chat actions implementation planning
  .github/workflows/comprehensive-testing.yml
  CLAUDE copy.md
  app/database/migrations/001_chat_actions.sql
  app/integration/chat_actions_integration.py
  app/models/chat_models.py
  app/routes/chat_actions.py
  app/utils/sse_events.py
  docs/CHAT-ACTIONS-IMPLEMENTATION-PLAN.md
  docs/DEVOPS-ANALYSIS-REPORT.md
  docs/INTEGRATION-ANALYSIS-REPORT.md
  docs/MVP-EXECUTIVE-SUMMARY.md
  docs/PEER_REVIEW_INTEGRATION_ANALYSIS.md
  docs/PROMPT-KIT-INTEGRATION-UPDATE.md
  docs/api/chat-actions-api.md
  docs/architecture/system-architecture-review.md
  docs/architecture/technical-diagrams.md
  docs/backend-chat-api-review.md
  docs/chat-actions-architecture.md
  docs/integration/chat-actions-integration-guide.md
  docs/security/security-assessment-report.md
  docs/sse-websocket-analysis-report.md
  docs/testing/chat-actions-testing-strategy.md
  scripts/fix-runner-now.sh
  scripts/setup-do-runner.sh
  tests/backend/test_chat_endpoints.py
  tests/e2e/chat-actions-e2e.spec.ts
  tests/error-scenarios/chat-error-handling.test.tsx
  tests/integration/chat-actions-integration.test.ts
  tests/performance/chat-streaming-performance.test.ts
  tests/utils/jest-setup.ts
  tests/utils/test-data-factory.ts
Due: adk-compliance

fix: skip GCS credentials for local development
  app/server.py
  docs/NEXT-AGENT-HANDOFF.md
  docs/PHASE-1-SEQUENTIAL-IMPLEMENTATION.md
Due: adk-compliance

docs: create Phase 3 integration handoff with Gemini migration notes
  docs/PHASE-3-INTEGRATION-HANDOFF.md
Due: none

fix: address CodeRabbit review feedback
  src/lib/logger.ts
  src/lib/test-logger.ts
  tests/accessibility/validate-accessibility.js
  tests/chat-integration.test.js
  tests/react_error_185_validation.js
  tests/utils/test-data-factory.ts
Due: none

feat: add ADK configuration and startup scripts
  CLAUDE.md
  adk.yaml
  app/models.py
  app/research_agents.py
  start_adk_8080.sh
  start_adk_with_api_key.sh
  start_all_services.sh
  vana_agent.py
Due: adk-compliance

fix: add PyJWT dependency for JWT authentication
  pyproject.toml
  uv.lock
Due: none

fix: resolve ADK agent module import error
  AGENTS.md
  CLAUDE.md
  agents/vana/__init__.py
  agents/vana/agent.py
  agents/vana/config.py
  agents/vana/enhanced_callbacks.py
  agents/vana/tools/__init__.py
  agents/vana/tools/brave_search.py
Due: none

refactor: complete ADK integration and remove legacy components
  app/integration/chat_actions_integration.py
  app/research_agents.py
  app/routes/adk_routes.py
  app/server.py
  app/services/adk_services.py
  app/simple_auth.py
  app/simple_auth_routes.py
  app/utils/sse_broadcaster.py
  package.json
  scripts/test_full_integration.py
  test_auth.py
Due: adk-compliance

feat: implement session fixation prevention and password security improvements (CRIT-007)
  app/auth/config.py
  app/auth/password_migration.py
  app/auth/routes.py
  app/auth/security.py
  app/auth/session_rotation.py
Due: adk-compliance

docs: add deployment, integration, and security documentation
  docs/deployment/ENVIRONMENT_CONFIGURATION.md
  docs/integrations/README.md
  docs/integrations/chrome-devtools-mcp/QUICK_REFERENCE.md
  docs/integrations/chrome-devtools-mcp/README.md
  docs/security/session-fixation-prevention.md
  scripts/verify_adk_fix.sh
Due: none

test: add comprehensive test suite for ADK, auth, and security features
  tests/integration/test_adk_integration.py
  tests/integration/test_jwt_token_persistence.py
  tests/integration/test_task_lifecycle.py
  tests/security/test_session_fixation.py
  tests/test_crit002_bcrypt.py
  tests/unit/auth/test_jwt_secret_config.py
  tests/unit/auth_config_only/conftest.py
  tests/unit/auth_config_only/test_jwt_secret_validation.py
  tests/unit/test_bcrypt_password_security.py
  tests/unit/test_bcrypt_standalone.py
  tests/unit/test_session_integration.py
Due: none

fix: resolve aiohttp event loop bug in Brave Search tool
  agents/vana/tools/brave_search.py
Due: none

feat: upgrade to Claude Flow v3.0 with Claude Agent SDK integration
  .claude-flow.config.json
  .claude-hooks.json
  AGENTS.md
  CLAUDE.md
  config/self-healing-hooks.json
  docs/claude-flow-optimization-documentation.md
  examples/README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/claude-flow.bat
  scripts/claude-flow.ps1
Due: none

feat: Add comprehensive input validation with XSS and SQL injection protection
  CLAUDE.md
  VALIDATION_VERIFICATION_FINAL.md
  app/routes/adk_routes.py
  app/utils/input_validation.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/src/lib/validation/README.md
  frontend/src/lib/validation/__tests__/chat-validation.test.ts
  frontend/src/lib/validation/chat-validation.ts
Due: eslint, typescript-check, adk-compliance

fix: wrap handleSubmit onClick to prevent MouseEvent parameter crash
  frontend/src/app/page.tsx
Due: eslint, typescript-check

feat: upgrade CLAUDE.md to Anthropic best practices compliance (v3.0)
  CLAUDE.md
Due: none

feat: add production monitoring for ADK SSE streams
  DEPLOYMENT_DIAGNOSIS.md
  DEPLOYMENT_RESOLUTION.md
  app/routes/adk_routes.py
Due: adk-compliance

docs: add browser verification report and phase 1 handoff documentation
  BROWSER_VERIFICATION_REPORT.md
  HANDOFF.md
Due: none

fix: enhance SSE streaming reliability and TypeScript type safety
  app/routes/adk_routes.py
  frontend/src/examples/OptimizedChatExample.tsx
  frontend/src/hooks/useOptimizedSSE.ts
  frontend/src/hooks/useSSE.ts
  frontend/src/lib/api/types.ts
  frontend/src/lib/validation/chat-validation.ts
  frontend/src/tests/performance/react-optimization-tests.tsx
Due: eslint, typescript-check, adk-compliance

docs: remove flow-nexus references from CLAUDE.md
  CLAUDE.md
Due: none

chore: save work in progress before Tailwind v4 upgrade
  frontend/postcss.config.mjs.backup
  frontend/src/app/page.tsx
  frontend/src/components/prompt-kit/scroll-button.tsx
  frontend/src/components/prompt-kit/steps.tsx
  frontend/src/components/ui/file-upload.tsx
  frontend/src/components/vana/VanaHomePage.tsx
  frontend/src/components/vana/VanaSidebar.tsx
  frontend/tailwind.config.js.v3.backup
Due: eslint, typescript-check

fix: complete Phase 3 SSE backend integration and debug multiple backend instances
  BROWSER_VERIFICATION_REPORT_2025-10-05.md
  PHASE_2_SSE_FIX_REPORT.md
  PHASE_3_COMPLETION_REPORT.md
  app/routes/adk_routes.py
  docs/bug-fixes/chat-interface-improvements-plan.md
  docs/research/agents-kit-sse-analysis.md
  frontend/src/app/api/sse/[...route]/route.ts
  frontend/src/app/page.tsx
  frontend/src/hooks/useSSE.ts
Due: eslint, typescript-check, adk-compliance

chore: address PR review feedback - cleanup and documentation
  PHASE_3_COMPLETION_REPORT.md
  app/routes/adk_routes.py
Due: adk-compliance
