Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

.pre-commit-config.yaml:

repos:
  # VANA-specific custom checks (HIGHEST PRIORITY)
  - repo: local
    hooks:
      - id: vana-naming-check
        name: VANA Tool Naming Convention Check
        entry: python scripts/lint/check_vana_naming.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-directory-structure
        name: VANA Directory Structure Validation
        entry: python scripts/lint/check_directory_structure.py
        language: python
        pass_filenames: false
        always_run: true

      - id: vana-poetry-only
        name: Prevent pip usage (Poetry only)
        entry: "pip install|pip3 install"
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$'

      - id: vana-tool-registration
        name: VANA Tool Registration Pattern Check
        entry: python scripts/lint/check_tool_registration.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-hardcoded-paths
        name: Check for hardcoded paths
        entry: '(/Users/nick/|C:\\Users\\|/home/nick/)'
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$'

  # Ruff - Modern Python linter and formatter (AFTER VANA checks)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: "^(tests/|scripts/lint/)"

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, ., -f, json, -o, bandit-report.json]
        exclude: "^(tests/|scripts/lint/)"

  # General quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^\.github/workflows/' # GitHub Actions may have special syntax
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-use-type-annotations

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(yml|yaml)$'
        exclude: '^\.github/workflows/'

🚨 CRITICAL UPDATE: Local testing confirms NO fixes applied anywhere
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/00-core/systemPatterns.md
  memory-bank/01-active/LOCAL_TESTING_EVIDENCE_BROKEN_EVERYWHERE_2025_06_16.md
  memory-bank/01-active/URGENT_HANDOFF_DEPLOYMENT_FIXES_REQUIRED_2025_06_16.md
Due: none

🎯 BREAKTHROUGH: Agent Intelligence Solution Identified
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/AI_SYSTEM_PROMPT_ANALYSIS_FINDINGS.md
  memory-bank/01-active/CRITICAL_AGENT_INTELLIGENCE_ACTION_PLAN.md
  memory-bank/01-active/HANDOFF_AGENT_INTELLIGENCE_IMPLEMENTATION_2025_06_16.md
  memory-bank/01-active/VANA_PROMPT_ENHANCEMENT_IMPLEMENTATION.md
Due: none

📋 Update Memory Bank Index: Breakthrough Documentation Added
  memory-bank/00-core/memory-bank-index.md
Due: none

CRITICAL FIX: Implement data extraction rules for VANA agents
  agents/vana/team.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🔧 CRITICAL FIX: Simplify agent instructions to resolve cloud deployment issue
  agents/vana/team.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🔧 CRITICAL FIX: Use environment variable for model and ultra-simple instruction
  agents/vana/team.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

📋 MEMORY BANK UPDATE: Document critical fixes implementation
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
Due: none

🔧 CRITICAL: Add deployment secrets and handoff documentation
  deployment/cloudbuild-dev.yaml
  deployment/cloudbuild-prod.yaml
  memory-bank/01-active/HANDOFF_COMPREHENSIVE_TESTING_PLAN_2025_06_16.md
  memory-bank/01-active/QUICK_START_GUIDE_NEXT_AGENT.md
Due: none

📋 TASK: Secret Manager Migration for Enhanced Security
  memory-bank/01-active/TASK_SECRET_MANAGER_MIGRATION_2025_06_17.md
Due: none

feat: Implement Secret Manager integration for secure API key management
  .gitignore
  lib/environment.py
  lib/secrets.py
  memory-bank/00-core/progress.md
  memory-bank/01-active/TASK_SECRET_MANAGER_MIGRATION_2025_06_17.md
  test_secrets.py
Due: vana-poetry-only, vana-hardcoded-paths

docs: Update documentation for Secret Manager migration completion
  README.md
  memory-bank/04-completed/SECRET_MANAGER_MIGRATION_COMPLETE_2025_06_17.md
Due: none

Enhance web search tool to extract rich data fields from Brave API
  lib/_tools/adk_tools.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Enhanced agent instructions for time query data extraction
  agents/vana/team.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Implement intelligent data processing for web search
  lib/_tools/adk_tools.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

🎉 Web Search Intelligence Solution Complete - 100% Success Rate Achieved
  .pre-commit-config.yaml
  agents/memory/specialist_memory_manager.py
  agents/vana/team.py
  agents/vana/team_minimal.py
  config/mcp_config.py
  config/settings.py
  lib/_shared_libraries/lazy_initialization.py
  lib/_tools/adk_mcp_tools.py
  lib/_tools/adk_tools.py
  lib/environment.py
  lib/memory/firestore_memory.py
  main.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/memory-bank-index.md
  memory-bank/00-core/progress.md
  memory-bank/00-core/systemPatterns.md
  memory-bank/00-core/techContext.md
  memory-bank/01-active/AGENT_INSTRUCTION_DEFICIENCY_ANALYSIS.md
  memory-bank/01-active/CRITICAL_FIXES_COMPLETED_2025_06_20.md
  memory-bank/01-active/CRITICAL_FIXES_REQUIRED_2025_06_20.md
  memory-bank/01-active/ENHANCED_AGENT_INSTRUCTION_DESIGN.md
  memory-bank/01-active/HANDOFF_CRITICAL_FIXES_COMPLETE_2025_06_20.md
  memory-bank/01-active/HANDOFF_ENHANCED_TOOL_TESTING_REQUIRED.md
  memory-bank/01-active/NEXT_AGENT_INSTRUCTIONS.md
  memory-bank/01-active/NEXT_STEPS_INVESTIGATION_PLAN.md
  memory-bank/01-active/PHASE_4_IMPLEMENTATION_INSTRUCTIONS.md
  memory-bank/01-active/READY_FOR_DEPLOYMENT_2025_06_21.md
  memory-bank/01-active/VALIDATION_RESULTS_ANALYSIS.md
  memory-bank/01-active/VANA_ENHANCEMENT_PLAN_VALIDATION_2025_06_20.md
  memory-bank/01-active/WEB_SEARCH_TOOL_ENHANCEMENT_PLAN.md
  memory-bank/04-completed/WEB_SEARCH_INTELLIGENCE_SOLUTION_2025_06_21.md
  test_enhanced_web_search.py
  updates-6.18.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Fix formatting issues from pre-commit hooks
  agents/memory/specialist_memory_manager.py
  agents/vana/team_minimal.py
  config/mcp_config.py
  config/settings.py
  lib/_shared_libraries/lazy_initialization.py
  lib/_tools/adk_mcp_tools.py
  lib/_tools/adk_tools.py
  lib/environment.py
  lib/memory/firestore_memory.py
  main.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/00-core/systemPatterns.md
  memory-bank/01-active/HANDOFF_CRITICAL_FIXES_COMPLETE_2025_06_20.md
  memory-bank/01-active/HANDOFF_ENHANCED_TOOL_TESTING_REQUIRED.md
  memory-bank/01-active/NEXT_STEPS_INVESTIGATION_PLAN.md
  memory-bank/01-active/PHASE_4_IMPLEMENTATION_INSTRUCTIONS.md
  memory-bank/01-active/READY_FOR_DEPLOYMENT_2025_06_21.md
  memory-bank/01-active/WEB_SEARCH_TOOL_ENHANCEMENT_PLAN.md
  memory-bank/04-completed/WEB_SEARCH_INTELLIGENCE_SOLUTION_2025_06_21.md
  test_enhanced_web_search.py
  updates-6.18.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

feat: Complete AI Agent Testing Framework validation and VANA integration fix
  README.md
  docs/guides/developer-guide.md
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/FRAMEWORK_VALIDATION_COMPLETE_2025_06_21.md
  memory-bank/03-technical/AI_AGENT_TESTING_FRAMEWORK_IMPLEMENTATION.md
  memory-bank/03-technical/COMPREHENSIVE_AI_AGENT_TEST_PLAN_2025_06_21.md
  memory-bank/03-technical/TEST_EXECUTION_GUIDE_2025_06_21.md
  memory-bank/04-completed/AI_AGENT_TEST_PLAN_COMPLETION_2025_06_21.md
  memory-bank/04-completed/COMPREHENSIVE_AI_AGENT_TESTING_FRAMEWORK_IMPLEMENTATION_2025_06_21.md
  memory-bank/05-archive/ARCHIVED_OUTDATED_AGENT_HANDOFF_INSTRUCTIONS_2025_06_21.md
  pyproject.toml
  pytest.ini
  tests/agent/test_vana_intelligence.py
  tests/e2e/test_complete_user_workflows.py
  tests/framework/__init__.py
  tests/framework/adk_compliance_validator.py
  tests/framework/agent_client.py
  tests/framework/agent_intelligence_validator.py
  tests/framework/performance_benchmarker.py
  tests/framework/response_quality_analyzer.py
  tests/framework/test_data_manager.py
  tests/integration/test_multi_agent_coordination.py
  tests/run_comprehensive_tests.py
  tests/security/test_agent_security.py
  tests/test_data/scenarios/analytical_queries.json
  tests/test_data/scenarios/factual_queries.json
  tests/test_data/scenarios/procedural_queries.json
  tests/unit/tools/test_web_search_tool.py
Due: vana-poetry-only, vana-hardcoded-paths

chore: Add .vana/ directory to .gitignore
  .gitignore
Due: none
