Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, adk-compliance

.pre-commit-config.yaml:

# Pre-commit configuration for Vana project
# See https://pre-commit.com for more information

repos:
  # Python code quality
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-pyyaml]
        args: [--strict, --ignore-missing-imports]

  # Security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, app/, -ll]
        exclude: tests/

  # General formatting and checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: detect-private-key

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: [--ignore-words-list=rouge,DAA,deques]
        exclude: |
          (?x)^(
              .*\.lock|
              .*node_modules/.*|
              .*\.venv/.*|
              .*venv/.*|
              .*\.ipynb
          )$

  # Shell scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: [-e, SC1091]  # Ignore sourcing of non-existent files

  # Markdown
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.json]

  # Frontend (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

  # Custom ADK compliance checks
  - repo: local
    hooks:
      - id: adk-compliance
        name: ADK Compliance Check
        entry: python scripts/adk_helpers/adk_compliance_check.py
        language: system
        files: ^app/.*\.py$
        pass_filenames: false

# Configuration
default_stages: [commit, push]
fail_fast: false

# Exclude patterns
exclude: |
  (?x)^(
      .*node_modules/.*|
      .*\.venv/.*|
      .*venv/.*|
      .*\.git/.*|
      .*__pycache__/.*|
      .*\.mypy_cache/.*|
      .*\.pytest_cache/.*|
      .*\.ruff_cache/.*|
      frontend/\.next/.*|
      frontend/out/.*
  )$

test: Add self-hosted runner test workflow
  .github/workflows/test-runner.yml
Due: none

feat: complete GitHub workflow migration to self-hosted runners
  .github/workflows/.backup/ci.yml.disabled
  .github/workflows/ci-local.yml
  .github/workflows/dependency-check.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-runner.yml
  .gitignore
  RUNNER_SETUP.md
  docker-compose.runner.yml
  scripts/README-self-hosted-runner.md
  scripts/SOLUTION-SUMMARY.md
  scripts/ci-self-hosted.yml
  scripts/docker/Dockerfile.node
  scripts/docker/Dockerfile.python
  scripts/runner-maintenance.sh
  scripts/runner-manage.sh
  scripts/runner-monitor.sh
  scripts/runner-setup.sh
  scripts/setup-self-hosted-runner.sh
  setup-runner.sh
Due: none

fix: update CI workflows for Docker container environment
  .github/workflows/ci-local.yml
Due: none

fix: resolve CI pipeline Docker container configuration issues
  .github/workflows/ci-local.yml
  docs/CI_ROLLBACK_PLAN.md
  scripts/test-ci-fixes.sh
Due: none

fix: resolve all ESLint warnings in frontend
  .gitignore
  frontend/app/(auth)/login/page.tsx
  frontend/app/(auth)/register/page.tsx
  frontend/components/elements/branch.tsx
  frontend/components/elements/image.tsx
  frontend/components/enhanced-chat.tsx
  frontend/components/preview-attachment.tsx
  frontend/components/vana-data-stream-provider.tsx
  frontend/lib/constants.ts
Due: eslint, typescript-check

chore: ignore tsconfig.tsbuildinfo file
  .gitignore
Due: none

chore: remove tsconfig.tsbuildinfo from tracking
  frontend/tsconfig.tsbuildinfo
Due: none

fix: resolve frontend-backend integration 500 error
  app/models.py
  app/server.py
  frontend/app/(chat)/api/chat/route.ts
  frontend/app/(chat)/api/chat/vana/[id]/stream/route.ts
  frontend/app/(chat)/api/chat/vana/route.ts
  tests/fixtures/test_data.py
  tests/integration/backend/test_api_endpoints.py
  tests/integration/backend/test_environment.py
  tests/integration/e2e/test_chat_flow_e2e.py
  tests/integration/e2e/test_frontend_backend_integration.ts
  tests/integration/frontend/test_chat_api_route.ts
  tests/integration/frontend/test_vana_api_route.ts
  tests/integration/test_coverage_analysis.md
  tests/integration/test_summary_report.md
  tests/jest.config.integration.js
  tests/pytest.ini
  tests/requirements-test.txt
  tests/setup/global-setup.js
  tests/setup/global-teardown.js
  tests/utils/test_helpers.py
Due: eslint, typescript-check, adk-compliance

docs: clarify repository workflow to prevent confusion
  CLAUDE.md
Due: none

fix: remove duplicate os import as identified by CodeRabbit
  app/server.py
Due: adk-compliance

feat: standardize environment variables to NODE_ENV
  app/configuration/environment.py
  app/server.py
  app/utils/migration_helper.py
  docs/ENV_MIGRATION_PLAN.md
  docs/MIGRATION_CHECKLIST.md
  docs/MIGRATION_IMPLEMENTATION_SUMMARY.md
  scripts/rollback_plan.md
  scripts/test_env_migration.py
Due: adk-compliance

fix: switch CI to GitHub-hosted runners instead of self-hosted
  .github/workflows/ci-local.yml
Due: none

Revert "fix: switch CI to GitHub-hosted runners instead of self-hosted"
  .github/workflows/ci-local.yml
Due: none

fix: use native macOS runner instead of Docker
  .github/workflows/ci-local-native.yml
  .github/workflows/ci-local.yml
  scripts/fix-docker-runner.sh
  scripts/setup-github-runner.sh
Due: none

Archive old frontend design documentation
  archived/frontend-docs-old-design-20250906/FRONTEND_AUDIT_REPORT.md
  archived/frontend-docs-old-design-20250906/FRONTEND_MIGRATION_GUIDE.md
  archived/frontend-docs-old-design-20250906/SPRINT_2_ROADMAP.md
  archived/frontend-docs-old-design-20250906/UI_FIX_MASTER_PLAN.md
  archived/frontend-docs-old-design-20250906/shadcn-implementation-guide.md
  archived/frontend-docs-old-design-20250906/ui-pattern-research-report.md
  archived/frontend-docs-old-design-20250906/vana-frontend-prd-final.md
Due: none

Gitignore archived frontend directories
  .gitignore
  archived/frontend-docs-20250906/sse-architecture.md
  archived/frontend-docs-20250906/sse-memory-leak-fix.md
  archived/frontend-docs-20250906/sse-quick-reference.md
  archived/frontend-docs-old-design-20250906/FRONTEND_AUDIT_REPORT.md
  archived/frontend-docs-old-design-20250906/FRONTEND_MIGRATION_GUIDE.md
  archived/frontend-docs-old-design-20250906/SPRINT_2_ROADMAP.md
  archived/frontend-docs-old-design-20250906/UI_FIX_MASTER_PLAN.md
  archived/frontend-docs-old-design-20250906/shadcn-implementation-guide.md
  archived/frontend-docs-old-design-20250906/ui-pattern-research-report.md
  archived/frontend-docs-old-design-20250906/vana-frontend-prd-final.md
Due: none

Add frontend documentation and configuration files
  .gitignore
  config/mcp-config.json
  docs/aceternity-registry-integration.md
  docs/adk-agent-builder-requirements.md
  docs/backend-agent-endpoints.py
  docs/brightdata-mcp-troubleshooting.md
  docs/frontend-rebuild/nodus-requirements.md
  docs/mcp-configuration-fix.md
  docs/shadcn-mcp-registry-documentation.md
  docs/ui-agent-builder-design.md
  scripts/test-mcp-config.sh
Due: none

Add comprehensive VPS runner test workflow
  .github/workflows/test-runner.yml
Due: none

Add minimal test workflow for VPS runner
  .github/workflows/test.yml
Due: none
