Repository NickB03/vana: changes, and which pre-commit hooks are due for each by the changed paths.
All: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

.pre-commit-config.yaml:

repos:
  # VANA-specific custom checks (HIGHEST PRIORITY)
  - repo: local
    hooks:
      - id: vana-naming-check
        name: VANA Tool Naming Convention Check
        entry: python scripts/lint/check_vana_naming.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-directory-structure
        name: VANA Directory Structure Validation
        entry: python scripts/lint/check_directory_structure.py
        language: python
        pass_filenames: false
        always_run: true

      - id: vana-poetry-only
        name: Prevent pip usage (Poetry only)
        entry: "pip install|pip3 install"
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|LINTING_SETUP\.md|\.github/workflows/|deployment/deploy\.sh)$'

      - id: vana-tool-registration
        name: VANA Tool Registration Pattern Check
        entry: python scripts/lint/check_tool_registration.py
        language: python
        files: '^(lib/_tools/.*\.py|agents/.*\.py)$'
        pass_filenames: true

      - id: vana-hardcoded-paths
        name: Check for hardcoded paths
        entry: '(/Users/nick/|C:\\Users\\|/home/nick/)'
        language: pygrep
        files: '\.(py|sh)$'
        types: [text]
        exclude: '^(\.pre-commit-config\.yaml|\.github/workflows/|deployment/deploy\.sh)$'

  # Ruff - Modern Python linter and formatter (AFTER VANA checks)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: [--ignore-missing-imports, --no-strict-optional]
        exclude: "^(tests/|scripts/lint/)"

  # Security scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, ., -f, json, -o, bandit-report.json]
        exclude: "^(tests/|scripts/lint/)"

  # General quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: '^\.github/workflows/' # GitHub Actions may have special syntax
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-log-warn
      - id: python-use-type-annotations

  # YAML formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: '\.(yml|yaml)$'
        exclude: '^\.github/workflows/'

docs: Update Memory Bank context with clarification
  memory-bank/00-core/activeContext.md
Due: none

docs: Update system prompt for new Memory Bank structure
  memory-bank/03-technical/UPDATED_SYSTEM_PROMPT_VANA_PROJECT.md
  memory-bank/04-completed/SYSTEM_PROMPT_UPDATE_SUMMARY.md
Due: none

docs: Update progress tracking with system prompt completion
  memory-bank/00-core/progress.md
Due: none

feat: Complete taskmaster integration with comprehensive project management
  .gitignore
  .taskmaster/config.json
  .taskmaster/docs/prd.txt
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/task_003.txt
  .taskmaster/tasks/task_004.txt
  .taskmaster/tasks/task_005.txt
  .taskmaster/tasks/task_006.txt
  .taskmaster/tasks/task_007.txt
  .taskmaster/tasks/task_008.txt
  .taskmaster/tasks/task_009.txt
  .taskmaster/tasks/task_010.txt
  .taskmaster/tasks/task_011.txt
  .taskmaster/tasks/task_012.txt
  .taskmaster/tasks/task_013.txt
  .taskmaster/tasks/task_014.txt
  .taskmaster/tasks/task_015.txt
  .taskmaster/tasks/task_016.txt
  .taskmaster/tasks/task_017.txt
  .taskmaster/tasks/task_018.txt
  .taskmaster/tasks/task_019.txt
  .taskmaster/tasks/task_020.txt
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
  README.md
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/AGENT_HANDOFF_TASKMASTER_INTEGRATION.md
  memory-bank/03-technical/CLEAN_SYSTEM_PROMPT_VANA_PROJECT.md
  memory-bank/03-technical/UPDATED_SYSTEM_PROMPT_VANA_PROJECT.md
  memory-bank/04-completed/HANDOFF_PROMPT_COMPATIBILITY_RESOLUTION_COMPLETE.md
  memory-bank/04-completed/HANDOFF_PROMPT_LOCAL_DEV_ENVIRONMENT_SYNC.md
  memory-bank/04-completed/PRODUCTION_SUCCESS_SUMMARY.md
  memory-bank/04-completed/adk-integration-handoff.md
  memory-bank/04-completed/agent-configuration-success-handoff.md
Due: none

fix: Update .gitignore to properly exclude IDE config while preserving project JSON files
  .gitignore
Due: none

feat: Add comprehensive test results and evaluation framework from remote agent work
  .gitignore
  agent_tool_diagnosis.json
  smart_validation_results.json
  test_baseline_results.json
  tests/eval/evalsets/architecture_specialist_evalset.json
  tests/eval/evalsets/memory_system_evalset.json
  tests/eval/evalsets/tool_functionality_evalset.json
  tests/eval/evalsets/ui_specialist_evalset.json
  tests/eval/evalsets/vana_agent_evalset.json
  tests/results/agent_evaluation_results_20250611_172532.json
  tests/results/infrastructure_validation_20250610_172153.json
  tests/results/infrastructure_validation_20250610_172914.json
Due: none

feat: Optimize dependency footprint by removing unnecessary packages
  memory-bank/00-core/progress.md
  poetry.lock
  pyproject.toml
Due: none

feat: Add comprehensive setup and validation scripts with security module fixes
  memory-bank/04-completed/SETUP_SCRIPT_RESOLUTION_2025-06-12.md
  pytest.ini
  setup_vana_environment.py
  tools/security/__init__.py
  validate_vana_setup.py
Due: vana-poetry-only, vana-hardcoded-paths

fix: resolve agent-tool integration crisis with 100% success rate
  .taskmaster/tasks/task_001.txt
  .taskmaster/tasks/tasks.json
  agent_tool_fix_verification.json
  agents/vana/team_original.py
  agents/vana/team_simple.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/04-completed/agent-tool-integration-crisis-resolution.md
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

fix: resolve critical memory/timeout issue preventing agent-tool integration
  .taskmaster/docs/architecture-fix-prd.txt
  .taskmaster/tasks/architecture-fix-tasks.json
  .taskmaster/tasks/task_002.txt
  .taskmaster/tasks/tasks.json
  agents/vana/team.py
  deployment/cloudbuild-dev.yaml
  main.py
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/AGENT_HANDOFF_MEMORY_TIMEOUT_INVESTIGATION.md
  memory-bank/01-active/HANDOFF_SUMMARY.md
  memory-bank/01-active/MEMORY_TIMEOUT_RESOLUTION_COMPLETE.md
  requirements.txt
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths

Update core memory bank files and add agent role documentation
  AGENT_1_SANDBOX_INFRASTRUCTURE.md
  AGENT_2_MCP_INTEGRATION.md
  AGENT_3_CODE_EXECUTION_AGENT.md
  AGENT_4_TESTING_FRAMEWORK.md
  AGENT_5_DOCUMENTATION.md
  AGENT_6_MONITORING_SECURITY.md
  CONCURRENT_AGENT_WORK_PLAN.md
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
Due: none

docs: comprehensive documentation and architecture enhancement
  docs/README.md
  docs/api/agent-api.md
  docs/api/tool-integration.md
  docs/architecture/agent-patterns.md
  docs/architecture/system-overview.md
  docs/deployment/cloud-run.md
  docs/deployment/local-setup.md
  docs/user/getting-started.md
Due: none

feat: implement comprehensive testing framework enhancement
  tests/README.md
  tests/automated/ci_runner.py
  tests/benchmarks/__init__.py
  tests/benchmarks/benchmark_runner.py
  tests/benchmarks/performance_baselines.py
  tests/benchmarks/regression_detector.py
  tests/integration/test_agent_workflows.py
  tests/performance/performance_suite.py
  tests/performance/test_agent_performance.py
  tests/run_comprehensive_tests.py
  tests/security/security_validator.py
  tests/security/test_owasp_compliance.py
  tests/test_comprehensive.py
  tests/validate_framework.py
Due: vana-poetry-only, vana-hardcoded-paths

feat: implement comprehensive performance monitoring, security hardening, and centralized logging
  config/monitoring/monitoring.yaml
  config/security/security_policies.yaml
  docs/monitoring_security_framework.md
  examples/monitoring_security_integration_example.py
  lib/logging/__init__.py
  lib/logging/__pycache__/__init__.cpython-313.pyc
  lib/logging/__pycache__/structured_logger.cpython-313.pyc
  lib/logging/structured_logger.py
  lib/monitoring/__init__.py
  lib/monitoring/__pycache__/__init__.cpython-313.pyc
  lib/monitoring/__pycache__/apm.cpython-313.pyc
  lib/monitoring/__pycache__/integration.cpython-313.pyc
  lib/monitoring/__pycache__/performance_monitor.cpython-313.pyc
  lib/monitoring/apm.py
  lib/monitoring/integration.py
  lib/monitoring/performance_monitor.py
  lib/security/__init__.py
  lib/security/__pycache__/__init__.cpython-313.pyc
  lib/security/__pycache__/integration.cpython-313.pyc
  lib/security/__pycache__/security_manager.cpython-313.pyc
  lib/security/integration.py
  lib/security/security_manager.py
  memory/__init__.py
  memory/vana_memory_service.py
  tests/integration/test_monitoring_security_integration.py
  tests/test_comprehensive.py
  tests/unit/logging/test_structured_logger.py
  tests/unit/monitoring/test_performance_monitor.py
  tests/unit/security/test_security_manager.py
Due: vana-poetry-only, vana-hardcoded-paths

docs: update Memory Bank with Agent 6 completion status
  memory-bank/00-core/activeContext.md
  memory-bank/04-completed/AGENT6_MONITORING_SECURITY_COMPLETE.md
Due: none

feat: implement comprehensive MCP Server Integration Development
  lib/mcp/README.md
  lib/mcp/__init__.py
  lib/mcp/config/security.json
  lib/mcp/config/servers.json
  lib/mcp/core/__init__.py
  lib/mcp/core/mcp_client.py
  lib/mcp/core/mcp_manager.py
  lib/mcp/core/mcp_registry.py
  lib/mcp/example_usage.py
  lib/mcp/servers/__init__.py
  lib/mcp/servers/brave_search_server.py
  lib/mcp/servers/fetch_server.py
  lib/mcp/servers/github_server.py
  memory/__init__.py
  memory/vana_memory_service.py
  tests/mcp/__init__.py
  tests/mcp/conftest.py
  tests/mcp/test_github_server.py
  tests/mcp/test_integration.py
  tests/mcp/test_mcp_client.py
  tests/mcp/test_mcp_manager.py
  tests/test_comprehensive.py
Due: vana-poetry-only, vana-hardcoded-paths

Merge PR #57: Comprehensive Documentation and Architecture Enhancement
  docs/README.md
  docs/api/agent-api.md
  docs/api/tool-integration.md
  docs/architecture/agent-patterns.md
  docs/architecture/system-overview.md
  docs/deployment/cloud-run.md
  docs/deployment/local-setup.md
  docs/user/getting-started.md
Due: none

Merge PR #58: Comprehensive Performance Monitoring, Security Hardening & Centralized Logging Framework
  config/monitoring/monitoring.yaml
  config/security/security_policies.yaml
  docs/monitoring_security_framework.md
  examples/monitoring_security_integration_example.py
  lib/logging/__init__.py
  lib/logging/__pycache__/__init__.cpython-313.pyc
  lib/logging/__pycache__/structured_logger.cpython-313.pyc
  lib/logging/structured_logger.py
  lib/monitoring/__init__.py
  lib/monitoring/__pycache__/__init__.cpython-313.pyc
  lib/monitoring/__pycache__/apm.cpython-313.pyc
  lib/monitoring/__pycache__/integration.cpython-313.pyc
  lib/monitoring/__pycache__/performance_monitor.cpython-313.pyc
  lib/monitoring/apm.py
  lib/monitoring/integration.py
  lib/monitoring/performance_monitor.py
  lib/security/__init__.py
  lib/security/__pycache__/__init__.cpython-313.pyc
  lib/security/__pycache__/integration.cpython-313.pyc
  lib/security/__pycache__/security_manager.cpython-313.pyc
  lib/security/integration.py
  lib/security/security_manager.py
  memory-bank/00-core/activeContext.md
  memory-bank/04-completed/AGENT6_MONITORING_SECURITY_COMPLETE.md
  memory/__init__.py
  memory/vana_memory_service.py
  tests/integration/test_monitoring_security_integration.py
  tests/test_comprehensive.py
  tests/unit/logging/test_structured_logger.py
  tests/unit/monitoring/test_performance_monitor.py
  tests/unit/security/test_security_manager.py
Due: vana-poetry-only, vana-hardcoded-paths

Merge PR #61: Comprehensive MCP Server Integration Development
  lib/mcp/README.md
  lib/mcp/__init__.py
  lib/mcp/config/security.json
  lib/mcp/config/servers.json
  lib/mcp/core/__init__.py
  lib/mcp/core/mcp_client.py
  lib/mcp/core/mcp_manager.py
  lib/mcp/core/mcp_registry.py
  lib/mcp/example_usage.py
  lib/mcp/servers/__init__.py
  lib/mcp/servers/brave_search_server.py
  lib/mcp/servers/fetch_server.py
  lib/mcp/servers/github_server.py
  tests/mcp/__init__.py
  tests/mcp/conftest.py
  tests/mcp/test_github_server.py
  tests/mcp/test_integration.py
  tests/mcp/test_mcp_client.py
  tests/mcp/test_mcp_manager.py
Due: vana-poetry-only, vana-hardcoded-paths

Merge PR #56: Comprehensive Testing Framework Enhancement
  tests/README.md
  tests/automated/ci_runner.py
  tests/benchmarks/__init__.py
  tests/benchmarks/benchmark_runner.py
  tests/benchmarks/performance_baselines.py
  tests/benchmarks/regression_detector.py
  tests/integration/test_agent_workflows.py
  tests/performance/performance_suite.py
  tests/performance/test_agent_performance.py
  tests/run_comprehensive_tests.py
  tests/security/security_validator.py
  tests/security/test_owasp_compliance.py
  tests/validate_framework.py
Due: vana-poetry-only, vana-hardcoded-paths

resolve: Memory Bank conflicts for PR #60 and PR #59
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/CONCURRENT_AGENT_PR_REVIEW_COMPLETE.md
  memory-bank/01-active/MERGE_CONFLICT_RESOLUTION_GUIDE.md
  memory-bank/01-active/MERGE_CONFLICT_RESOLUTION_STATUS.md
  memory-bank/01-active/POST_MERGE_VALIDATION_PLAN.md
  memory-bank/01-active/SANDBOX_INFRASTRUCTURE_IMPLEMENTATION_COMPLETE.md
Due: none

feat: implement comprehensive sandbox infrastructure for secure code execution
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/SANDBOX_INFRASTRUCTURE_IMPLEMENTATION_COMPLETE.md
  poetry.lock
  pyproject.toml
  tests/sandbox/__init__.py
  tests/sandbox/run_sandbox_tests.py
  tests/sandbox/test_docker_integration.py
  tests/sandbox/test_execution_engine.py
  tests/sandbox/test_performance.py
  tests/sandbox/test_resource_monitor.py
  tests/sandbox/test_security_manager.py
Due: vana-poetry-only, vana-hardcoded-paths

Merge PR #60: Comprehensive Sandbox Infrastructure for Secure Code Execution
  memory-bank/00-core/activeContext.md
  memory-bank/00-core/progress.md
  memory-bank/01-active/SANDBOX_INFRASTRUCTURE_IMPLEMENTATION_COMPLETE.md
  poetry.lock
  pyproject.toml
  tests/sandbox/__init__.py
  tests/sandbox/run_sandbox_tests.py
  tests/sandbox/test_docker_integration.py
  tests/sandbox/test_execution_engine.py
  tests/sandbox/test_performance.py
  tests/sandbox/test_resource_monitor.py
  tests/sandbox/test_security_manager.py
Due: vana-poetry-only, vana-hardcoded-paths

feat: implement enhanced Code Execution Agent with executor architecture
  agents/code_execution/__init__.py
  agents/code_execution/specialist.py
  tests/agents/code_execution/__init__.py
  tests/agents/code_execution/test_code_execution_agent.py
  tests/agents/code_execution/test_integration.py
  tests/agents/code_execution/test_javascript_executor.py
  tests/agents/code_execution/test_python_executor.py
  tests/agents/code_execution/test_shell_executor.py
Due: vana-naming-check, vana-poetry-only, vana-tool-registration, vana-hardcoded-paths
